[2010-11-29 08:12] albbas commented on #182
## Comment 3605
Date: 2010-11-29 09:12:43 +0100
From: @duomdaamaendra

At some words Divvun stops to think - sometimes it might just be slow, but sometimes it seems like I have to press twice before it jumps to next word. But it might be that it is just slowness, the speller "ticks" and I press several times, because I do not want to wait

MacOs with Word 2008 for 'Mac.

[2010-11-29 15:10] albbas commented on #178
## Comment 3623
Date: 2010-11-29 16:10:59 +0100
From: @snomos

Changed priority etc. to reflect today's meeting.

[2010-11-30 15:15] albbas commented on #178
## Comment 3629
Date: 2010-11-30 16:15:51 +0100
From: @snomos

Changed priority and severity, according to today's meeting.

[2010-11-30 18:26] albbas opened #183 "Words2008 crash and lost suggestions in Words2004 (Bugzilla Bug 911)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 911
Date: 2010-11-30T19:26:59+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @tomipieski
CC:   @mka055, pbeinema, @snomos, @tomipieski

Last updated: 2011-05-05T11:31:29+02:00

[2010-12-01 11:50] albbas commented on #181
## Comment 3633
Date: 2010-12-01 12:50:59 +0100
From: @snomos

The installation/deinstallation feature is now implemented, but doesn't yet work as they should. On installation, the Catalan tools are zipped, but not deleted, and upon deinstallation nothing seems to happen with the Catalan tools.

On  the other hand, when the Divvun tools are installed, they seem to take precedence. I'll thus lower

[2010-12-01 12:50] albbas commented on #149
## Comment 3641
Date: 2010-12-01 13:50:30 +0100
From: @duomdaamaendra

Davvisámi, version 1.2, 2010-11-03
solved here

[2010-12-02 09:07] albbas opened #184 "acronyms+cases (Bugzilla Bug 913)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 913
Date: 2010-12-02T10:07:55+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @tomipieski
CC:   @snomos, @duomdaamaendra, @Trondtr

Last updated: 2011-08-09T10:33:48+02:00

[2010-12-02 09:07] albbas commented on #184
## Comment 3651
Date: 2010-12-02 10:07:55 +0100
From: @duomdaamaendra

are not recognized:
CV:sne
CV:se
NRK:m
NRK:ste

I get many abbr+case suggestions for first to examples:
Cd:sne, Cl:sne, Cg:sne

for the others I get hyphened abbr+Acro suggestions:
N-KR:M
J-NRK:M

gt $ usma
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%

N-KR:m
N-KR:m	N+N+ABBR-#KR+N+ACR+Sg+Acc

J-NRK:m
J-NRK:m	J+N+ABBR-#NRK+N+ACR+Sg+A

[2010-12-02 09:37] albbas commented on #184
## Comment 3654
Date: 2010-12-02 10:37:21 +0100
From: @duomdaamaendra

Åarjelsaemien, version 1.0, 2010-12-01

[2010-12-03 08:56] albbas commented on #184
## Comment 3673
Date: 2010-12-03 09:56:55 +0100
From: @snomos

Changing priority etc.

[2010-12-03 08:58] albbas commented on #184
## Comment 3677
Date: 2010-12-03 09:58:03 +0100
From: @snomos

Forgot to change status.

[2011-01-11 12:41] albbas opened #185 "acros compound to each other without hyphens (Bugzilla Bug 933)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 933
Date: 2011-01-11T13:41:20+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @tomipieski
CC:   pbeinema, @snomos, @Trondtr

Last updated: 2011-08-08T12:38:56+02:00

[2011-01-11 12:41] albbas commented on #185
## Comment 3705
Date: 2011-01-11 13:41:20 +0100
From: @duomdaamaendra

NRKNRKNRKNRK
 Åarjelsaemien, version 1.0, 2010-12-08
Julevsáme, version 2.0, 2010-12-06

[2011-01-14 09:08] albbas opened #186 "South Sámi tools not working after installation (Bugzilla Bug 934)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 934
Date: 2011-01-14T10:08:56+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   pbeinema, @Trondtr

Last updated: 2011-04-26T09:07:52+02:00

[2011-02-01 09:22] albbas commented on #185
## Comment 3731
Date: 2011-02-01 10:22:07 +0100
From: @tomipieski

In my opinion, this can be resolved with plx tagging. But I don't have all the information available for fixing bug. There are some questions about composing words. Should clitic tagging be defined in the beginning of tag? What is defined with punctuation char? Are there other taggings we should be aware of?

Clip from dutch lexico

[2011-02-11 09:03] albbas commented on #184
## Comment 3741
Date: 2011-02-11 10:03:04 +0100
From: @tomipieski

These are recognized now.

Åarjelsaemien, version 1.0, 2011-01-17

[2011-02-20 20:13] albbas opened #382 "dublisering av 'tjieh' i sammensatt ord (Bugzilla Bug 949)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 949
Date: 2011-02-20T21:13:43+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   @ciprian-NO, @leneantonsen, @mka055, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2016-01-20T00:16:45+01:00

[2011-02-20 20:13] albbas commented on #382
## Comment 3752
Date: 2011-02-20 21:13:43 +0100
From: @leneantonsen

~$ echo 'vuertemetjiehtjele' | usma
vuertemetjiehtjele	vuertedh+V+TV+Der1+Der/NomAct+N+SgNomCmp#tjïehtjele+N+Sg+Nom

~$ echo 'vuertemetjiehtjele' | usma | lookup2cg
"<vuertemetjiehtjele>"
	 "vuertemetjieh#tjïehtjele" N Sg Nom

[2011-02-20 21:46] albbas opened #383 "Legge til * også til TV og IV (Bugzilla Bug 954)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 954
Date: 2011-02-20T22:46:18+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2012-12-04T10:49:41+01:00

[2011-03-03 09:44] albbas commented on #178
## Comment 3782
Date: 2011-03-03 10:44:40 +0100
From: @duomdaamaendra

Julevsáme, version 2.1, 2011-02-23

we get hyphened suggestions all the time now in julevsábme:

romaniæjgádijs > roman-æjgádijs
gåvvåjournálissta > gåvvå-journalissta
allaskåvllålektåvrrå > allaskåvllå-sektåvrrå
tjerastimvædsagijt > tjerastim-vædtsagijt

[2011-03-08 20:23] albbas commented on #178
## Comment 3794
Date: 2011-03-08 21:23:13 +0100
From: @duomdaamaendra

these are ok in latest speller:

smeDavvisámi, version 2.1, 2011-03-03 :
boazu-juoigi      accepted
boazo-juoigi     accpeted
bohcco-juoigi    NOT accepted

smj Julevsáme, version 2.1, 2011-03-04      :
romaniæjgádijs > roman-æjgádijs
gåvvåjournálissta > gåvvå-journalissta
allaskåvllålektåvrrå > allaskåvllå-sektåvrrå
tjerastimv

[2011-03-09 12:18] albbas commented on #178
## Comment 3803
Date: 2011-03-09 13:18:07 +0100
From: @duomdaamaendra

Åarjelsaemien, version 1.1, 2011-03-04
still suggest hyphened compounds

[2011-03-11 11:56] albbas commented on #186
## Comment 3812
Date: 2011-03-11 12:56:30 +0100
From: @albbas

Created attachment 98
Error message when installing for MS Office 2010

[2011-03-16 08:17] albbas commented on #178
## Comment 3823
Date: 2011-03-16 09:17:58 +0100
From: @duomdaamaendra

Orjjelsámi speller does not seem to suggesthyphens any more, nor does nuortasámi, but julevsámi:
sámejgiellajårggåliddjijn  > sáme-giella-jårggåliddjijn, sáme-giellajårggåliddjijn

[2011-03-16 08:18] albbas commented on #178
## Comment 3824
Date: 2011-03-16 09:18:38 +0100
From: @duomdaamaendra

Julevsáme, version 2.1, 2011-03-04

[2011-03-22 21:08] albbas opened #267 "make twol-test does not find descriptive twol (Bugzilla Bug 972)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 972
Date: 2011-03-22T22:08:33+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @snomos
CC:   @leneantonsen, @duomdaamaendra

Last updated: 2012-09-07T20:05:36+02:00

[2011-04-21 09:17] albbas opened #229 "sum-cg.pl does not tolerate empty lines (Bugzilla Bug 982)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 982
Date: 2011-04-21T11:17:21+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @ciprian-NO
CC:   @ciprian-NO, @snomos, @Trondtr

Last updated: 2012-10-30T23:06:50+01:00

[2011-04-21 09:17] albbas commented on #229
## Comment 3852
Date: 2011-04-21 11:17:21 +0200
From: @Trondtr

sum-cg.pl is a really nice perl script that Saara wrote to measure homonymy on CG output. It works perfectly, __but__: it does not tolerate empty lines between cohorts. So:

This is bad for sum-cg.pl:

"<sojjehtidh>"
        "sojjehtidh" V TV Inf @-FMAINV
"<.>"
        "." CLB

"<Dïejvesedåehkie>"
        "dïejvese#dåehkie" N Sg Nom
"

[2011-04-22 15:53] albbas commented on #335
## Comment 3896
Date: 2011-04-22 17:53:11 +0200
From: @Trondtr

Finally down:

corp$echo "oajvveåsijs" | usmj
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
oajvveåsijs	oajvve+N+SgCmp#oasse+N+Pl+Ela
oajvveåsijs	oajvve+N+SgNomCmp#oasse+N+Pl+Ela
oajvveåsijs	oajvve#oasse+N+Pl+Ela

[2011-04-22 19:45] albbas opened #384 "Treatment of ´ ` ' in preprocessing (Bugzilla Bug 985)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 985
Date: 2011-04-22T21:45:45+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas
CC:   berit.nystad.eskonsipo, @ciprian-NO, @leneantonsen, @Trondtr

Last updated: 2012-09-07T20:30:38+02:00

[2011-04-26 06:44] albbas commented on #335
## Comment 3914
Date: 2011-04-26 08:44:08 +0200
From: @snomos

(In reply to comment #11)

This doesn't test the lookup2cg script, and does not document that the bug has been resolved. Reopened.

[2011-04-26 07:05] #180 closed, assigned to snomos

[2011-04-26 07:07] albbas commented on #186
## Comment 3929
Date: 2011-04-26 09:07:52 +0200
From: @snomos

That is, Divvun 2.1 seems to have fixed this.

[2011-04-26 07:07] #186 closed, assigned to albbas

[2011-04-29 05:19] albbas commented on #335
## Comment 3963
Date: 2011-04-29 07:19:16 +0200
From: @snomos

Please *test* the reported problems before closing the bug:

$ echo "oajvveåsijs" | usmj | lookup2cg
"<oajvveåsijs>"
	 "#oasse" N Pl Ela

The bug is solved in other cases:

$ echo "sealgeetniin" | usme | lookup2cg
"<sealgeetniin>"
	 "sealge#eadni" N Sg Com
	 "sealge#eadni" N Pl Loc

$ echo "aktselåkavtsev" | usmj | lookup2cg
"<aktselåk

[2011-05-04 13:34] albbas commented on #262
## Comment 4040
Date: 2011-05-04 15:34:09 +0200
From: @snomos

Removed Saara and Trond from Cc list. Saara is not working in our team any more, and Trond has enough other bugs to follow.

Status: no-one has really tried to run this test bench in a long time, so status is presently unknown. Needs to be tested and used.

[2011-05-04 13:52] albbas commented on #182
## Comment 4043
Date: 2011-05-04 15:52:49 +0200
From: @snomos

I can only forward this request to Knowledge Concept / Peter Beinema.

Thomas, do you still experience this behaviour?

Changed importance and severity.

[2011-05-05 05:17] albbas commented on #183
## Comment 4061
Date: 2011-05-05 07:17:23 +0200
From: @duomdaamaendra

no more crashes I have experienced

[2011-05-05 05:18] albbas commented on #182
## Comment 4062
Date: 2011-05-05 07:18:46 +0200
From: @duomdaamaendra

no more of this behaviour

[2011-05-05 08:00] albbas opened #385 "Acute and grave accent used as letter in sma Bible (Bugzilla Bug 1000)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1000
Date: 2011-05-05T10:00:43+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas
CC:   berit.nystad.eskonsipo, @ciprian-NO, @leneantonsen, @snomos, @Trondtr

Last updated: 2012-05-05T13:10:34+02:00

[2011-05-05 08:00] albbas commented on #385
## Comment 4064
Date: 2011-05-05 10:00:43 +0200
From: @Trondtr

This is mostly found in the bible:
echo "Noere Samu`ele daelie Eli`en gïeten nuelesne Åejviem gaagkesti."| preprocess

And it gives a strange answer on vic

boundcorpus$echo "Noere Samu`ele daelie Eli`en gïeten."| preprocess --abbr=~/gtsvn/gt/sma/bin/abbr.txt
-bash: ele: command not found
Noere
Samuen
gïeten

Here, preprocess erases t

[2011-05-05 08:51] albbas commented on #385
## Comment 4065
Date: 2011-05-05 10:51:36 +0200
From: @Trondtr

Sjurs framlegg:

vi har altså tre alternativ:
1) ta vekk ` og ´ frå teikn-definisjonen (lett men svært problematisk)
2) endra perl-skriptet slik eg føreslo (ikkje trivielt etter å ha sett på perl-koden)
3) venta til hfst-fst-ane funkar, og bruka hfst-proc (den elegante og korrekte løysinga, men er ikkje på plass før om fleire månader)

[2011-05-05 09:31] #183 closed, assigned to nobody

[2011-05-05 09:33] albbas commented on #182
## Comment 4071
Date: 2011-05-05 11:33:30 +0200
From: @snomos

Since we can't reproduce this bug anymore, I'll assume it has been fixed as part of newer versions we have received. Closing.

[2011-05-05 09:33] #182 closed, assigned to snomos

[2011-05-09 16:23] #176 closed, assigned to albbas

[2011-05-09 16:34] #177 closed, assigned to snomos

[2011-05-17 14:33] albbas opened #386 ""Hardt" dobbelt mellomrom og konvertering av korpus (Bugzilla Bug 1022)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1022
Date: 2011-05-17T16:33:10+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @albbas
CC:   @albbas, @leneantonsen, @snomos, @Trondtr

Duplicates:   #1170
Last updated: 2014-03-29T01:18:03+01:00

[2011-05-17 14:33] albbas commented on #386
## Comment 4161
Date: 2011-05-17 16:33:10 +0200
From: @leneantonsen

Created attachment 102
setninga er preprossersert

Noen ord dukker opp på missinglist uten å være missing:

   7 	"­saemiengïelesne" ?

Dette gjelder også i den nyeste analysen: sma-nob-admin.dep.txt fra 15.5.2011 - i setninga Kaarhtedidh vijremem ietnegïeleanalfabetisme jïh daarpoe ööhpehtimmiem ­saemiengïelesne geervide.
blir i

[2011-05-19 09:35] albbas commented on #185
## Comment 4172
Date: 2011-05-19 11:35:22 +0200
From: @Trondtr

The status of this bug is that Tomi still is waiting for answers to his 3 initial questions, repeated here for Sjur,  Thomas, and probably for Tomi also:

1. Should clitic tagging be defined in the beginning of tag?
2. What is defined with punctuation char?
3. Are there other taggings we should be aware of?

On my own behalf I would s

[2011-05-22 06:43] albbas commented on #178
## Comment 4202
Date: 2011-05-22 08:43:43 +0200
From: @Trondtr

Status after last speller release?

[2011-05-22 11:17] albbas commented on #368
## Comment 4212
Date: 2011-05-22 13:17:12 +0200
From: @Trondtr

This is still open:

~$echo "Jávregáttis leat guokte olbmá." | preprocess|usme|lookup2cg
"<Jávregáttis>"
	 "Jávregáddi" N Prop Plc Sg Loc
	 "Jávregáddi" N Prop Obj Sg Loc
"<leat>"
	 "leat" V IV Ind Prs Pl3

I suggest Sjur has a look. One thing is the perl part, the other is whether we should bring the Prop and N analyses into line, th

[2011-05-22 17:15] albbas commented on #368
## Comment 4218
Date: 2011-05-22 19:15:26 +0200
From: @Trondtr

"bring the Prop and N analyses into line" - what does it mean here?

Trond -- the master of cryptic formulations :-(

What I said was:

... whether we should bring the Prop and N analyses into line, they are today treated
differently:

Jávregáttis    Jávregáddi+N+Prop+Plc+Sg+Loc
Jávregáttis    jávre#gáddi+N+Sg+Gen+PxSg3

What I meant

[2011-05-23 07:11] albbas commented on #368
## Comment 4223
Date: 2011-05-23 09:11:11 +0200
From: @snomos

(In reply to comment #2)

I am not going to prioritize this. For one, I don't have time right now. Secondly, I don't see this perl script as the future, and is reluctanct to invest time on it. The future is HFST and weighted transducers, which should make us do away with this script altogether.

(In reply to comment #4)

[...]

it is o

[2011-05-23 07:21] #368 closed

[2011-05-23 09:32] albbas commented on #173
## Comment 4235
Date: 2011-05-23 11:32:00 +0200
From: @tomipieski

Fixed.

Davvisámi, version 2.1, 2011-05-19

[2011-05-23 09:32] #173 closed

[2011-05-23 09:43] albbas commented on #167
## Comment 4237
Date: 2011-05-23 11:43:53 +0200
From: @tomipieski

This bug has reappeared.

Davvisámi, version 2.1, 2011-05-19

[2011-05-23 12:31] albbas commented on #178
## Comment 4246
Date: 2011-05-23 14:31:20 +0200
From: @duomdaamaendra

Åarjelsaemien, version 1.1, 2011-05-19

this version comes upp with hyphened suggestions in thse cases:
tjïehpieslitteratuvren           adj+noun
krismoere                              prefix+noun

[2011-05-23 12:51] albbas commented on #94
## Comment 4247
Date: 2011-05-23 14:51:28 +0200
From: @snomos

This bug was reintroduced when we moved from grep preprocessing of lexc files for things like Sub etc, to tags and transducer manipulation - the old processing mechanism isn't applicable anymore.

TODO:
- update processing of multipart names to work with the new build system

[2011-05-23 18:08] albbas commented on #184
## Comment 4265
Date: 2011-05-23 20:08:57 +0200
From: @duomdaamaendra

I reopen and change product to Spell Checking Common because it does not work for smj and sme either:

Julevsáme, version 2.1, 2011-05-19
Davvisámi, version 2.1, 2011-05-19
Åarjelsaemien, version 1.1, 2011-05-19

[2011-05-30 09:33] albbas commented on #167
## Comment 4293
Date: 2011-05-30 11:33:08 +0200
From: @duomdaamaendra

I kindof remember that this is unfixable in Words

test:Cid--čiekčit, Cid---čiekčit, Cid---čiekčit  etc

Cid=typo
čiekčit=correctly spelled

speller only marks Cid if there are TWO or MORE hyphens

with one hyphen it marks the whole compound, including hyphen

shall we close it?

[2011-05-30 11:14] albbas commented on #160
## Comment 4296
Date: 2011-05-30 13:14:26 +0200
From: @duomdaamaendra

when number come inside word the speller "shuts off" the spell-checking, and seems to just accept word as it is

this is so in both julev- and north-

vidjor9jit

muo71a

Julevsáme, version 2.1, 2011-05-25
Davvisámi, version 2.1, 2011-05-25

[2011-05-30 11:21] albbas commented on #160
## Comment 4297
Date: 2011-05-30 13:21:02 +0200
From: @duomdaamaendra

spell-checking os offcourse then also shut off when number is i front or after the word:
muorad5

21bieivi

[2011-05-30 11:25] albbas commented on #160
## Comment 4298
Date: 2011-05-30 13:25:08 +0200
From: @duomdaamaendra

aha, this is a future of Word itself

[2011-05-30 11:29] albbas commented on #160
## Comment 4299
Date: 2011-05-30 13:29:27 +0200
From: @duomdaamaendra

according to test-cases it is then fixed for both languages

[2011-05-30 11:55] albbas commented on #167
## Comment 4302
Date: 2011-05-30 13:55:20 +0200
From: @snomos

You are right, this is a feature of Word, and not a bug in our code (as long as we are talking about *accepting* multiple hyphens).

Test to confirm:

1. enter the string 'srive-fiel' in a Word document
2. set the language to Norwegian
3. notice how the hyphen is included in the red underlining
4. add another hyphen, so you get two con

[2011-05-30 11:55] #167 closed

[2011-06-01 11:32] #94 closed

[2011-06-01 11:42] #297 closed

[2011-06-01 11:42] #298 closed

[2011-06-01 11:43] #299 closed, assigned to nobody

[2011-06-01 11:58] #300 closed

[2011-06-01 11:58] #302 closed, assigned to nobody

[2011-06-01 12:00] #303 closed

[2011-06-01 12:01] #304 closed, assigned to nobody

[2011-06-01 12:02] #305 closed, assigned to nobody

[2011-06-01 12:03] #307 closed, assigned to nobody

[2011-06-01 12:13] albbas commented on #140
## Comment 4338
Date: 2011-06-01 14:13:57 +0200
From: @Trondtr

Guoktenuppelotnamat
vihttanuppelotčoarvvát
vihttasoarttat

gålmmålágásj
vihttalágásj
nuvviDspeller
Julevsáme, version 2.1, 2011-05-25

Fixed at some point between 2008 and 2011.
All these are now correct positives, and get genitive first part as suggestion.

[2011-06-01 12:13] #140 closed

[2011-06-04 11:54] albbas commented on #265
## Comment 4390
Date: 2011-06-04 13:54:20 +0200
From: @Trondtr

(In reply to comment #2)

Wrong bug, sorry!!

[2011-06-06 12:45] albbas commented on #229
## Comment 4407
Date: 2011-06-06 14:45:31 +0200
From: @snomos

This isn't really my table, so sending it forward (not that I'm sure it is Ciprian's bug either).

[2011-06-06 13:23] albbas commented on #229
## Comment 4408
Date: 2011-06-06 15:23:18 +0200
From: @ciprian-NO

Wie war Tronds Lieblingssprichwort auf Deutsch? Aaaa, Perle für die Schweine...
Ergo: Perl fuer mich.

<side_comment>
Eigentlich muss es heissen: "Perlen vor die Säue werfen"

"Ihr sollt das Heilige nicht den Hunden geben und eure Perlen sollt ihr nicht vor die Säue werfen, damit sie dieselben nicht zertreten mit ihren Füßen und si

[2011-06-07 16:44] albbas opened #387 "Mer om typos.txt vs.corr.txt (Bugzilla Bug 1046)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1046
Date: 2011-06-07T18:44:58+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @albbas
CC:   berit.nystad.eskonsipo, @ciprian-NO, @leneantonsen, ritva.nystad, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2013-10-09T22:14:48+02:00

[2011-06-07 19:22] albbas commented on #387
## Comment 4430
Date: 2011-06-07 21:22:51 +0200
From: @snomos

Denne feilmeldinga er ikkje gyldig. Mellomromma fungerer riktigt bra for det dei er tenkt til:)

Det er to ting her:
- kva vi vil bruka typos-lista til
- evna andre prosessar har til å takla mellomrom

Typos-lista vart i utgangspunktet berre laga for å testa stavekontrollane våre. Seinare har det kome til annan bruk, men ny bruk kan ik

[2011-06-08 08:33] albbas commented on #387
## Comment 4441
Date: 2011-06-08 10:33:14 +0200
From: @Trondtr

Bugzilla er eit dårleg forum for krangling, ser vi. Sjur og eg er samde om det grunnleggjande, at vi skal ha ei løysing. Eg er også samd i at ei typos-fil er betre enn to, men det føreset at vi __først__ får ei løysing på plass der vi genererer ei mellomromfri typosfil til bin/, på same måte som vi i dag generer ei abbr-fil til bin. S

[2011-07-01 12:42] albbas opened #187 "Installation instructions for "Facebook" are missing (Bugzilla Bug 1085)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1085
Date: 2011-07-01T14:42:47+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   berit.nystad.eskonsipo, @leneantonsen, @mka055, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2013-08-14T16:02:30+02:00

[2011-07-04 09:52] albbas opened #388 "ccat option -S only prints corrected words (Bugzilla Bug 1088)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1088
Date: 2011-07-04T11:52:03+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @ciprian-NO, @leneantonsen, @tomipieski, @Trondtr

Last updated: 2011-07-06T13:10:06+02:00

[2011-07-04 09:52] albbas commented on #388
## Comment 4685
Date: 2011-07-04 11:52:03 +0200
From: @snomos

The help text says:

"-S	 Print the whole text in a word per line. Errors are tab separated."

That is, every word in the text should be printed one at a time (= close to the preprocess output), and if there are corrections, they should be tab-separated on the same line.

As it is now, only words with corrections are printed. This is a

[2011-07-04 09:53] albbas commented on #388
## Comment 4686
Date: 2011-07-04 11:53:42 +0200
From: @snomos

Changing priority as this bug is pretty serious for the speller testing.

Also changing assignee to Børre, since Tomi is on vacation.

[2011-07-04 10:04] albbas opened #389 "Ccat is missing an option to print the correct version of a text (Bugzilla Bug 1089)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1089
Date: 2011-07-04T12:04:27+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @ciprian-NO, @leneantonsen, @tomipieski, @Trondtr

Last updated: 2011-07-06T15:03:53+02:00

[2011-07-05 23:04] albbas opened #230 "Makefile: Dial/L og Dial/SH funker ikke ? (Bugzilla Bug 1092)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1092
Date: 2011-07-06T01:04:51+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @snomos
CC:   @ciprian-NO, @Trondtr

Last updated: 2011-07-08T21:18:13+02:00

[2011-07-06 11:10] albbas commented on #388
## Comment 4698
Date: 2011-07-06 13:10:06 +0200
From: @albbas

Fixed in r44150

[2011-07-06 11:10] #388 closed

[2011-07-06 13:03] #389 closed, assigned to albbas

[2011-07-07 14:36] albbas commented on #230
## Comment 4700
Date: 2011-07-07 16:36:44 +0200
From: @Trondtr

Eg har sett på den, og forstår ikkje korfor det ikkje fungerer, oppsettet er slik som vi laga det i Tromsø, og det ser ut som om det er i orden. Det er ikkje berre Sg3 som ikkje fungerer, også dualisformene (som vi såg på den gongen) får doble analyser. Slik kan vi ikkje ha det, eg ser meir på det ved høve.

[2011-07-08 06:30] albbas commented on #230
## Comment 4701
Date: 2011-07-08 08:30:03 +0200
From: @Trondtr

Dialekttaggane er der dei skal vere (eg testar med sma.save):

~/main/gt$lookup sma/bin/sma.save

böötim
böötim	böötedh+V+TV+Ind+Prt+Sg1
böötim	båetedh+V+IV+Ind+Prt+Uml+Dial/SH+Sg1

båetiejim
båetiejim	båetiejidh+V+IV+Ind+Prt+Sg1
båetiejim	båetedh+V+IV+Ind+Prt+Dial/L+Sg1

For meg ser det ut til at __taggane__ +Dial/L og +Dial/SH er fj

[2011-07-08 06:52] albbas commented on #230
## Comment 4703
Date: 2011-07-08 08:52:55 +0200
From: @Trondtr

(In reply to comment #3)

Kommandoane (brukt på den modifiserte makefila, mål save-restr) var desse:

  530  touch sma/src/sma-lex.txt
  533  make save-restr GTLANG=sma DIALECT=SH
  534  xfst -e "load sma/bin/sma-SH.restr.save"

[2011-07-08 19:18] #230 closed, assigned to snomos

[2011-08-05 08:34] #148 closed, assigned to nobody

[2011-08-07 13:50] albbas commented on #151
## Comment 4759
Date: 2011-08-07 15:50:32 +0200
From: @duomdaamaendra

These are not accepeted:

1700-LOHKU
1700-LÅHKO
1700-Lohku Davvisámi, version 2.1, 2011-05-25
1700-Låhko Julevsáme, version 2.1, 2011-05-25

these are:
1700-lohku
1700-låhko

sme $ lookup -flags mbTT -utf8 bin/sme.fst
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%

1700-LOHKU
1700-LOHKU	1700-LOHKU	+?

1700-Lohku
1700-Lohku	1700-Lohku

[2011-08-07 14:04] #264 closed, assigned to nobody

[2011-08-08 10:38] #185 closed

[2011-08-09 08:33] albbas commented on #184
## Comment 4780
Date: 2011-08-09 10:33:48 +0200
From: @duomdaamaendra

fixed again

Julevsáme, version 2.1, 2011-05-25
Davvisámi, version 2.1, 2011-05-25
Åarjelsaemien, version 1.1, 2011-05-26

[2011-08-09 08:33] #184 closed

[2011-08-15 17:23] albbas commented on #157
## Comment 4817
Date: 2011-08-15 19:23:08 +0200
From: @duomdaamaendra

this bug is back again

[2011-08-15 17:23] albbas commented on #157
## Comment 4818
Date: 2011-08-15 19:23:32 +0200
From: @duomdaamaendra

Davvisámi, version 2.1, 2011-08-11

[2011-08-23 13:18] albbas commented on #145
## Comment 4889
Date: 2011-08-23 15:18:14 +0200
From: @duomdaamaendra

051-bágo   regression in smj
Julevsáme, version 2.1, 20110822-44774

[2011-08-23 13:30] albbas commented on #160
## Comment 4892
Date: 2011-08-23 15:30:46 +0200
From: @duomdaamaendra

regression smj
Julevsáme, version 2.1, 20110822-44774

[2011-08-23 13:31] albbas commented on #160
## Comment 4893
Date: 2011-08-23 15:31:47 +0200
From: @duomdaamaendra

no, sorry, not same problem

[2011-08-23 13:31] #160 closed

[2011-09-01 07:18] albbas opened #188 "inf+noun compounds (Bugzilla Bug 1122)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1122
Date: 2011-09-01T09:18:30+02:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @tomipieski
CC:   @snomos

Last updated: 2013-01-14T15:00:06+01:00

[2011-09-01 07:18] albbas commented on #188
## Comment 4956
Date: 2011-09-01 09:18:30 +0200
From: @duomdaamaendra

boađášit-nieida moarralit-muorra muitalahttit-muorra  boahtit-nieida etc

I think it is Inf.

boahtit	boahtit+V+IV+Inf
boahtit	boahtit+V+IV+Ind+Prs+Pl1

Davvisámi, version 2.1, 20110830-45217

[2011-09-01 07:19] albbas commented on #188
## Comment 4957
Date: 2011-09-01 09:19:37 +0200
From: @duomdaamaendra

it is not recognized here:
gtsvn $ usme

boahtit-nieida
boahtit-nieida	boahtit-nieida	+?

[2011-09-01 08:02] albbas commented on #157
## Comment 4960
Date: 2011-09-01 10:02:50 +0200
From: @duomdaamaendra

Julevsáme, version 2.1, 20110830-45217
Davvisámi, version 2.1, 20110830-45217

still unsolved, I trim the priority and importance

[2011-09-01 09:24] albbas opened #189 "NSIS installer pops up dialogs about dlls (Bugzilla Bug 1123)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1123
Date: 2011-09-01T11:24:31+02:00
From: @snomos (Originally created by @snomos)
To:   @snomos
CC:   @albbas, pbeinema

Blocker for:  #1132
Last updated: 2012-02-03T16:20:50+01:00

[2011-09-01 12:02] albbas commented on #145
## Comment 4979
Date: 2011-09-01 14:02:01 +0200
From: @duomdaamaendra

Julevsáme, version 2.1, 20110822-44774

fixed

[2011-09-01 12:02] #145 closed

[2011-09-01 12:03] albbas commented on #150
## Comment 4980
Date: 2011-09-01 14:03:23 +0200
From: @duomdaamaendra

Julevsáme, version 2.1, 20110830-45217

kreitt fix

[2011-09-09 10:27] albbas opened #190 "Silent install of NSIS installer (Bugzilla Bug 1132)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1132
Date: 2011-09-09T12:27:50+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @albbas, pbeinema

Depends on:   #1123
Last updated: 2012-02-03T16:31:29+01:00

[2011-09-09 10:27] albbas commented on #190
## Comment 5041
Date: 2011-09-09 12:27:50 +0200
From: @snomos

We have a customer request to be able to do a silent/unsupervised installation of the Sámi proofing tools. It might be possible out of the box, or maybe not.

Whatever the situation is, we need to find out. If it is possible, document it, if not, this is a ticket for Knowledge Concepts.

[2011-09-19 10:21] albbas commented on #144
## Comment 5119
Date: 2011-09-19 12:21:13 +0200
From: @tomipieski

Seems to be fixed?

Davvisámi, version 2.2, 20110916-46180

[2011-09-19 10:21] #144 closed, assigned to nobody

[2011-09-19 10:25] albbas commented on #151
## Comment 5120
Date: 2011-09-19 12:25:17 +0200
From: @tomipieski

Maybe it is fixed?

[2011-09-19 10:26] #153 closed, assigned to nobody

[2011-09-19 10:40] albbas commented on #266
## Comment 5125
Date: 2011-09-19 12:40:24 +0200
From: @tomipieski

This seems to work.

[2011-09-19 10:40] #266 closed

[2011-09-20 12:53] albbas opened #191 "numerals compound to nouns without hyphen (Bugzilla Bug 1144)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1144
Date: 2011-09-20T14:53:38+02:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @tomipieski
CC:   @snomos

Last updated: 2013-01-14T14:59:33+01:00

[2011-09-20 13:03] albbas opened #192 "alhpabet+noun compounds triggers impossible compounds (Bugzilla Bug 1145)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1145
Date: 2011-09-20T15:03:29+02:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @tomipieski
CC:   @snomos

Last updated: 2013-04-29T12:13:43+02:00

[2011-09-29 10:43] albbas opened #193 "Add full support for our languages as document language in OOo/LibreO (Bugzilla Bug 1157)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1157
Date: 2011-09-29T12:43:57+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @Trondtr

Last updated: 2013-10-09T22:09:26+02:00

[2011-09-29 10:50] albbas opened #194 "Add support for SJE and other languages in OOo/LibreOffice (Bugzilla Bug 1158)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1158
Date: 2011-09-29T12:50:33+02:00
From: @snomos (Originally created by @snomos)
To:   @ftyers
CC:   @snomos, @Trondtr

Last updated: 2019-01-25T07:56:14+01:00

[2011-09-29 10:50] albbas commented on #194
## Comment 5198
Date: 2011-09-29 12:50:33 +0200
From: @snomos

At present the following of our languages have basic support for spell checking in OOo:

sma, sme, smj, smn, sms, sjd.

We need to request the same (or better) support also for:

sje, sjt, sju.

The request should be filed in the bugzilla of OpenOffice:

https://issues.apache.org/ooo/

with product l10n and component i18npool.

Add a l

[2011-09-29 10:51] albbas commented on #194
## Comment 5199
Date: 2011-09-29 12:51:40 +0200
From: @snomos

See https://issues.apache.org/ooo/show_bug.cgi?id=83565 (Kildin Sámi) and https://issues.apache.org/ooo/show_bug.cgi?id=82927 (the rest) for examples and details.

[2011-09-29 11:30] albbas commented on #193
## Comment 5200
Date: 2011-09-29 13:30:02 +0200
From: @snomos

See also comments from Audun Lona:

Det meste finnes vel her http://cldr.unicode.org/ meg jeg kan IKKE gå god for
alt som ligger der. Jeg så tidligere at våre svenske og finske venner (Erkki og
KIL) hadde vært inne å foretatt endringer på det jeg har lagt inn. Skal sjekke
med Håvard for å få detaljene. Sender dem til dere så snart jeg

[2011-09-29 11:39] albbas commented on #194
## Comment 5201
Date: 2011-09-29 13:39:37 +0200
From: @Trondtr

Check these ones as well:
yrk, iku, ipk, mhr, udm, fao, kom, koi
Also cor (kor?) Cornish

[2011-10-03 18:41] albbas commented on #194
## Comment 5236
Date: 2011-10-03 20:41:44 +0200
From: @snomos

(In reply to comment #2)

kom / kv seems to not be defined in LibreOffice at least.

[2011-10-05 12:29] albbas opened #231 "http://giellatekno.uit.no/cgi/p-sme.sme.html gives only essiv (Bugzilla Bug 1167)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1167
Date: 2011-10-05T14:29:43+02:00
From: @albbas (Originally created by @albbas)
To:   @Trondtr
CC:   @ciprian-NO, @snomos, @Trondtr

Last updated: 2012-02-08T10:25:48+01:00

[2011-10-31 10:19] albbas opened #268 "sme: make a-paradigm fungerer ikke (Bugzilla Bug 1204)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1204
Date: 2011-10-31T11:19:02+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   berit.nystad.eskonsipo, @snomos, @Trondtr

Last updated: 2011-10-31T11:38:58+01:00

[2011-10-31 10:19] albbas commented on #268
## Comment 5405
Date: 2011-10-31 11:19:02 +0100
From: @leneantonsen

testing$ make a-paradigm WORD=alit
make[1]: Nothing to be done for `ifst-norm'.

*** Running the paradigm generator for 'alit' ***

xfst -utf8 < ../../tmp/a-paradigm-gtest-script > Gen_tmp/Para_tmp/alit_a.paradigm
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
October 31, 2011 10:05:13 GMT
Closing 'a-para.ptest'

*** ERROR: fopen_text_f

[2011-10-31 10:38] albbas commented on #268
## Comment 5407
Date: 2011-10-31 11:38:58 +0100
From: @leneantonsen

gjorde make clean og da fungerte det :-)

Case closed

[2011-10-31 10:38] #268 closed

[2011-11-03 16:48] #174 closed, assigned to nobody

[2011-11-10 09:17] albbas opened #195 "Uninstallation gives error, custom uninstaller not installed (Bugzilla Bug 1211)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1211
Date: 2011-11-10T10:17:15+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @albbas, @duomdaamaendra

Last updated: 2013-12-17T10:50:19+01:00

[2011-11-10 09:17] albbas commented on #195
## Comment 5437
Date: 2011-11-10 10:17:15 +0100
From: @snomos

Created attachment 121
Uninstallation error message

The Divvun installation is listed in the control panel Add / Remove software, also using the new 64-bit installer targeted for the Divvun 2.2 release. But selecting it and clicking Remove gives the error message shown in attachment 1. The dialog text basically says:

"There was an er

[2011-11-13 08:37] albbas opened #390 "Number + period + hyphen + number is divided (Bugzilla Bug 1212)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1212
Date: 2011-11-13T09:37:05+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2012-09-06T11:54:08+02:00

[2011-11-13 08:37] albbas commented on #390
## Comment 5438
Date: 2011-11-13 09:37:05 +0100
From: @Trondtr

Here is what happens now:

~/main/st/nob/src$echo "1. 2. 3.-4. 5. - 6. 7. — 8. 9. - Ord 0. Nyttord 1. og"| preprocess --abbr=../../../gt/sme/bin/abbr.txt
1.
2.
3.-4.
5
.
- 6.
7
.
—
8.
9
.
-
Ord
0
.
Nyttord
1.
og

What we want is:

a. New sentence for the string "number period Capitalword".
b. Not new sentence for the string "number pe

[2011-11-23 12:56] albbas commented on #149
## Comment 5455
Date: 2011-11-23 13:56:04 +0100
From: @duomdaamaendra

"ain" in Kuorak-ain might well be an adverb, I have noticed hyphened adverb compounds in all languages, like this in sma:
Aarporte-annjebodts

Åarjelsaemien, version 1.2, 20111121-50132

[2011-11-23 13:07] albbas commented on #149
## Comment 5456
Date: 2011-11-23 14:07:39 +0100
From: @duomdaamaendra

there are other closed-class-words than adverbs that compound this way too:
dåarjege-gænnah

gænnah+Pcle

if it isn't the clitic?
dåarjegegænnah	dåarjege+N+Sg+Nom+Foc/gænnah

(anyway clitics should not compound with hyph)

but I have noticed particles and interjections compound like this before in sme/sma

[2011-12-12 14:48] albbas opened #196 "Divvun 2.2 does not work when run under a non-admin account (Bugzilla Bug 1218)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1218
Date: 2011-12-12T15:48:46+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @albbas

Last updated: 2013-12-17T10:50:53+01:00

[2011-12-12 16:14] albbas opened #197 "Divvun 2.2 does not properly install for Office 2010, Home and Student editions (Bugzilla Bug 1219)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1219
Date: 2011-12-12T17:14:51+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @albbas

Last updated: 2013-12-17T10:53:09+01:00

[2011-12-15 10:44] albbas opened #198 "Entries containing spaces should also needed as single entries (Bugzilla Bug 1224)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1224
Date: 2011-12-15T11:44:10+01:00
From: @snomos (Originally created by @snomos)
To:   @tomipieski
CC:   @albbas, @duomdaamaendra

Last updated: 2011-12-19T10:13:07+01:00

[2011-12-15 10:44] albbas commented on #198
## Comment 5474
Date: 2011-12-15 11:44:10 +0100
From: @snomos

There are a number of multi-word expressions that people tend to write as single strings:

seammaláhkai (incorrect)

vs

seamma láhkai (correct)

Presently such multiword expressions are converted to the PLX format such that each part is stored as a separate PLX entry, ie we break it up in single words at the spaces.

Because of this w

[2011-12-19 08:51] albbas commented on #198
## Comment 5479
Date: 2011-12-19 09:51:20 +0100
From: @tomipieski

Multiword entries are now included in the spellers. From latest sme regression test:

  <word>
    <original>ovttatládje</original>
    <expected>ovttat ládje</expected>
    <edit_dist>1</edit_dist>
    <status>SplErr</status>
    <position>0</position>
    <suggestions count="1">
      <suggestion penscore="244">ovtta ládje</sugge

[2011-12-19 09:13] albbas commented on #198
## Comment 5480
Date: 2011-12-19 10:13:07 +0100
From: @duomdaamaendra

horray!

[2011-12-19 09:13] #198 closed

[2011-12-19 15:39] albbas opened #391 "b. at end of sentence should behave like nr. (Bugzilla Bug 1226)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1226
Date: 2011-12-19T16:39:34+01:00
From: @albbas (Originally created by @albbas)
To:   @albbas
CC:   berit.nystad.eskonsipo, @leneantonsen, @snomos, @Trondtr

Last updated: 2012-02-08T11:18:49+01:00

[2011-12-19 15:39] albbas commented on #391
## Comment 5481
Date: 2011-12-19 16:39:34 +0100
From: @albbas

b. at the end of a sentence should behave like nr.
echo "nr. Nysetning" | preprocess --abbr=$GTHOME/gt/sme/bin/abbr.txt gives
nr.
.
Nysetning

and
echo "b. Nysetning" | preprocess --abbr=$GTHOME/gt/sme/bin/abbr.txt gives
b.
Nysetning

[2011-12-19 15:51] albbas commented on #391
## Comment 5482
Date: 2011-12-19 16:51:00 +0100
From: @albbas

Looking at $GTHOME/gt/sme/bin/abbr.txt I find b at line 306, 637 and 713
The first b belongs to LEXICON TRNUMAB, found at line 279
The next to b's seem to belong to LEXICON TRAB, found at line 345

Could this be the source of the problem?

[2011-12-19 15:55] albbas commented on #391
## Comment 5483
Date: 2011-12-19 16:55:36 +0100
From: @albbas

Looking for b in $GTHOME/gt/sme/src/ I find this at line 507: b ab-adv ; ! trab in 12. b. 2001 and "lea 30. b. mearidán…, but not in "Bohten geassemánu 3. b. Lean velá dáppe."

[2011-12-19 15:59] albbas commented on #391
## Comment 5484
Date: 2011-12-19 16:59:06 +0100
From: @Trondtr

(In reply to comment #1)

Potentially, yes, but I removed it, and the problem remains. It is in the file
preprocessing itself, with a special twist demanding TRNUMAB be at least two
characters long.  This must be abandoned (but check the initials )

[2011-12-19 16:01] albbas commented on #391
## Comment 5485
Date: 2011-12-19 17:01:05 +0100
From: @Trondtr

(In reply to comment #2)

This is how it should be, but it is not. Instead, b. is treated as a TRAB, because of the one-char-ban in preprocess.

[2011-12-19 18:59] albbas commented on #391
## Comment 5486
Date: 2011-12-19 19:59:24 +0100
From: @albbas

Running
freecorpus $ echo "b. Nysetning" | preprocess --abbr=$GTHOME/gt/sme/bin/abbr.txt -v
[NEW:233] b.
[process_word:278] b.
[if word:322] b.
[process_word/go_to_test_abbr:388] b
[test_abbr:471] b
b.
[NEW:233] Nysetning
[no correction, no idiom:241] Nysetning
Nysetning

shows that b in this is treated as a TRAB.
The comment concernin

[2011-12-19 20:21] albbas commented on #391
## Comment 5487
Date: 2011-12-19 21:21:29 +0100
From: @Trondtr

~/main/gt$echo "b. Nysetning" | preprocess --abbr=sme/bin/abbr.txt
b.
Nysetning
~/main/gt$echo "b. Nysetning" | preprocess
b.
.
Nysetning

Men derimot med tal etterpå

~/main/gt$echo "b. 1324" | preprocess
b.
.
1324
~/main/gt$echo "b. 1324" | preprocess --abbr=sme/bin/abbr.txt
b.
1324

Så vi må få abbr til å fungere. Her er -v -testen

[2011-12-19 22:36] albbas commented on #391
## Comment 5488
Date: 2011-12-19 23:36:08 +0100
From: @albbas

For å få b. til å fungere som nr. (gå samme stien gjennom preprosess som nr.) har jeg fjernet b fra TRAB og kommentert vekk linja:
        if ($next_word =~ /^\p{Lu}/ && $next_word !~ /^(\p{Lu}|[IVXCDLM]+)$/o)
u preprocess.

Dette fungerer for b. Nysetning, men eksemplet nedenfor fungerer ikke som ventet lenger.

echo njukčamánu 1. b.

[2011-12-20 14:06] albbas commented on #391
## Comment 5490
Date: 2011-12-20 15:06:45 +0100
From: @Trondtr

# Test med manipulert preprocess --
# kommentert ut if ($next_word =~ /^\p{Lu}/ && $next_word !~ /^(\p{Lu}|[IVXCDLM]+)$/o) {

~/main/gt$echo b. asdf b. Asfd b. 1 nr. asdf nr. Asdf nr. 2 | preprocess --abbr=sme/bin/abbr.txt
b.
asdf
b.
Asfd
b.
1
nr.
. # ikke dette
asdf# ikke dette
nr.
.
Asdf
nr. # ikke dette
. # ikke dette
2

# Test med

[2011-12-27 15:24] albbas opened #199 "Non-working installation of Divvun 2.2, machine completely locked (Bugzilla Bug 1228)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1228
Date: 2011-12-27T16:24:52+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas

Last updated: 2012-10-18T14:20:07+02:00

[2011-12-27 15:24] albbas commented on #199
## Comment 5492
Date: 2011-12-27 16:24:52 +0100
From: @snomos

Telephone report.

lasta ned:

- firefox
- ...
- Divvun 2.2 (hendt ingen ting)
- StarDict) - litt krongel, men fekk det til
- kopiert over filer til HD
- GUI-språk skifta til engelsk (delar av GUI, startmenyen)
- maskina låste seg
- måtte nullstilla datamaskina

She will try another installation on another machine, and return with more

[2012-01-12 05:45] albbas opened #392 "preprocess garbeled last night (Bugzilla Bug 1252)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1252
Date: 2012-01-12T06:45:04+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2012-01-12T20:37:30+01:00

[2012-01-12 19:37] #392 closed

[2012-01-27 10:13] albbas opened #200 "Divvun 2.2 does not work on Windows 7 Home Edition (Bugzilla Bug 1266)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1266
Date: 2012-01-27T11:13:34+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @albbas

Last updated: 2013-12-17T10:48:11+01:00

[2012-01-27 10:13] albbas commented on #200
## Comment 5667
Date: 2012-01-27 11:13:34 +0100
From: @snomos

Another Windows 7 bug report. To repeat:

* Install Divvun 2.2 on a Windows 7 64bit, Home Edition machine
* open Control panels, and check that Divvun was installed
* open Word, type "nuvviDspeller " in a new document
* select the text, and open the dialog for assigning a language
* select North Sámi (check that there is a green check

[2012-02-03 15:20] #189 closed, assigned to snomos

[2012-02-03 15:31] #190 closed

[2012-02-03 16:57] albbas commented on #267
## Comment 5715
Date: 2012-02-03 17:57:36 +0100
From: @snomos

There is no difference between descriptive and normative twol anymore - it is all descriptive, and non-normative forms are tagged, and later removed by xfst filters.

I have now updated the SME test bench to account for this - please test, and if it works fine, I'll port the changes over to SMA as well.

[2012-02-03 16:58] albbas commented on #267
## Comment 5716
Date: 2012-02-03 17:58:27 +0100
From: @snomos

And by the way - twol testing is now default because it doesn't need any options anyway (and paradigm generation always does). Just type:

make

to run the twol test.

[2012-02-06 21:58] albbas opened #232 "Noereh! generer også noereh! (Bugzilla Bug 1275)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1275
Date: 2012-02-06T22:58:11+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @Trondtr
CC:   berit.a.baal, berit.nystad.eskonsipo, @leneantonsen, @snomos, @Trondtr

Last updated: 2014-10-21T07:02:53+02:00

[2012-02-07 21:41] albbas commented on #267
## Comment 5763
Date: 2012-02-07 22:41:21 +0100
From: @snomos

(In reply to comment #1)

Could any of you test this one on SME so I get independent feedback?

[2012-02-07 23:01] albbas commented on #362
## Comment 5768
Date: 2012-02-08 00:01:53 +0100
From: @ciprian-NO

Our fst world changed a lot since, I suggest to close this bug, too.

[2012-02-07 23:01] #362 closed, assigned to nobody

[2012-02-07 23:05] albbas commented on #378
## Comment 5769
Date: 2012-02-08 00:05:06 +0100
From: @ciprian-NO

This can't be the case any longer. Closed.

[2012-02-07 23:19] albbas commented on #385
## Comment 5773
Date: 2012-02-08 00:19:18 +0100
From: @ciprian-NO

Again, a problem handled by Børre now.
Suggestions: Perhaps these examples can be added to Børre's testcase suite.

[2012-02-08 08:27] albbas opened #393 "The usage of '-' in abbreviations and preprocess - an example from abbr-nob-lex.txt (Bugzilla Bug 1276)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1276
Date: 2012-02-08T09:27:09+01:00
From: Berit Nystad Eskonsipo &lt;berit.nystad.eskonsipo&gt;
To:   @albbas
CC:   @albbas, @leneantonsen, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2012-10-18T13:44:01+02:00

[2012-02-08 08:27] albbas commented on #393
## Comment 5780
Date: 2012-02-08 09:27:09 +0100
From: Berit Nystad Eskonsipo &lt;berit.nystad.eskonsipo&gt;

The usage of '-' in abbreviations and preprocess - an example from abbr-nob-lex.txt

I have added 'ILO-konv.% nr ab-dot ;' as TRNUMAB in abbr-nob-lex.txt

Preprocess can not handle this and other abbreviations with '-' correctly:

nob $ echo "samiske folket gjennom bl. a urfolkskonvensjonen

[2012-02-08 08:57] albbas commented on #393
## Comment 5785
Date: 2012-02-08 09:57:45 +0100
From: @ciprian-NO

This is rather a problem for Børre, given his work with abbr-file in the context of corpus conversion and analysing.

[2012-02-08 09:34] albbas commented on #393
## Comment 5789
Date: 2012-02-08 10:34:42 +0100
From: @albbas

Is there something wrong in the lexc files? What happens if you do something like this:
echo "ILO-konv." | usme
?

[2012-02-08 09:50] #265 closed, assigned to nobody

[2012-02-08 10:18] albbas commented on #391
## Comment 5799
Date: 2012-02-08 11:18:49 +0100
From: @albbas

The test_nr_vs_b test in abbrtester.py shows that nr. and b. behave equally.

[2012-02-08 10:18] #391 closed, assigned to albbas

[2012-02-08 10:35] albbas commented on #387
## Comment 5802
Date: 2012-02-08 11:35:53 +0100
From: @ciprian-NO

Preprocessing for Børre.

[2012-02-10 13:26] albbas commented on #232
## Comment 5814
Date: 2012-02-10 14:26:09 +0100
From: @snomos

Siste oppdatering:

Lene og Trond får feilen, Sjur og Thomas får han ikkje. Det som er verre:

Lene og Sjur har brukt nøyaktig same versjon av Xerox-verktya. Likevel får Sjur konsistent korrekt resultat, medan Lene får konsistent feil resultat (dvs generert med liten n). Vi har nøyaktig same kjeldekode.

Det einaste som er heilt sikker

[2012-02-10 14:01] albbas commented on #232
## Comment 5816
Date: 2012-02-10 15:01:23 +0100
From: @leneantonsen

Det ser ut at noen maskiner ikke liker kombinasjonen
     %! # ;

Jeg har testa følgende endring i lexc:

   Noereh%!:Noereh%! LONDON-org ;

og da får jeg:

Noereh!+N+Prop+Sg+Nom
Noereh!+N+Prop+Sg+Nom	Noereh!

Noereh!+N+Prop+Sg+Loc
Noereh!+N+Prop+Sg+Loc	Noereh!:s
Noereh!+N+Prop+Sg+Loc	Noereh!in
Noereh!+N+Prop+Sg+Loc	Noereh!is
Noe

[2012-02-10 14:35] albbas commented on #232
## Comment 5817
Date: 2012-02-10 15:35:50 +0100
From: @Trondtr

Ein fiks er med andre ord å sende det til ENDLEX i staden for til #. Men triveleg er det ikkje.

[2012-02-23 10:10] albbas commented on #377
## Comment 5830
Date: 2012-02-23 11:10:49 +0100
From: @ciprian-NO

Ja, Børre jobbte masse med abbr i preprocessing.

(In reply to comment #4)

[2012-02-23 10:54] albbas commented on #377
## Comment 5832
Date: 2012-02-23 11:54:43 +0100
From: @Trondtr

Du må ha gammal abbr.txt -fil.

Her er kjeldekoden:

LEXICON NOAB
! This class contains homonyms, which are both intransitive
! abbreviations and normal words. The abbreviation usage
! is less common and thus only the occurences in the middle of
! the sentnece can be considered as true cases.

du ab-dot-noun ; !dualis
gen ab-dot-noun

[2012-02-23 11:08] albbas commented on #377
## Comment 5834
Date: 2012-02-23 12:08:07 +0100
From: @Trondtr

Ja, min var frå 11.1., så det er sant.

Hmm, eg ser på BM si siste innsjekking at det var eg som burde ha gjort svn up.
Men du fungerte altså for meg før denne endringa:

-du ab-dot-noun ; !dualis
gen ab-dot-noun ; ! genitiivi
jur ab-dot-adj ; !juridihkalaš !

@@ -1049,4 +1048,5 @@
! the sentnece can be considered as true cases.

su a

[2012-02-23 11:16] albbas commented on #377
## Comment 5836
Date: 2012-02-23 12:16:17 +0100
From: @Trondtr

svn r54371:

Her kjem ein ny	versjon	av "du" i	abbr.	Denne gjev:

~/main/gt/sme$echo "du. Da du. 1234" | preprocess --abbr=t
du
.
Da
du
.
1234

VErsjonen før innsjekkinga gav inga setningsgrense før 1234,
dvs. den gamle versjonen behandla du som su (sullii).

For su har vi testa, der er sullii-lesinga vanlegare enn pronomenlesinga
før

[2012-02-23 13:55] albbas commented on #377
## Comment 5838
Date: 2012-02-23 14:55:31 +0100
From: @Trondtr

No bør den andre bugen i denne tråden vere fiksa. su og du er no ulike, som dei skal vere, og dei fungerer (su. er ikkje setningsgrense foran tal, mens du. er det).

Den første bugen er derimot framleis open. Nettversjonen og kommandolineversjonen er ulike. Og når eg går i conf.pl og simulerer nettversjonen, får eg same resultat som l

[2012-02-23 14:06] albbas commented on #377
## Comment 5839
Date: 2012-02-23 15:06:38 +0100
From: @Trondtr

Mysterium løyst. Det er to ulike preprocess i bruk:

smi$echo "Inger A. Olsen" | /opt/sami/cg/bin/preprocess --abbr=~/main/gt/sme/bin/abbr.txt
Inger
A
.
Olsen
smi$echo "Inger A. Olsen" | preprocess --abbr=~/main/gt/sme/bin/abbr.txt
Inger
A.
Olsen

Så finst det ein tredje, den Børre har arbeidd med den siste tida:

smi$ll /usr/local/bi

[2012-02-23 14:23] albbas commented on #377
## Comment 5840
Date: 2012-02-23 15:23:02 +0100
From: @albbas

preprocess som ligger i /usr/local/bin har vi ikke bruk for, siden vi har $GTHOME/gt/script i stien vår. Jeg flytter den til /usr/local/bin/preprocess.obsolete, slik at vi ikke mister den om det er noen skript som bruker det.

Så over til skriptet som ikke fungerer.

Hva sier which preprocess?

[2012-02-27 11:18] albbas opened #394 "dii. is wrongly tokenised (Bugzilla Bug 1282)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1282
Date: 2012-02-27T12:18:13+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2012-02-27T14:47:20+01:00

[2012-02-27 13:47] #394 closed, assigned to albbas

[2012-02-28 09:10] #377 closed, assigned to albbas

[2012-02-28 23:00] albbas opened #395 "Der/NomAct N-analyse forsvinner i lookup2cg ved Actio (Bugzilla Bug 1283)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1283
Date: 2012-02-29T00:00:55+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   berit.nystad.eskonsipo, @leneantonsen, @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2012-12-02T21:46:34+01:00

[2012-03-09 12:50] albbas opened #396 "--corr=typos fungerer ikke (Bugzilla Bug 1294)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1294
Date: 2012-03-09T13:50:21+01:00
From: Berit Nystad Eskonsipo &lt;berit.nystad.eskonsipo&gt;
To:   @albbas
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2012-05-05T11:26:33+02:00

[2012-03-09 12:50] albbas commented on #396
## Comment 5894
Date: 2012-03-09 13:50:21 +0100
From: Berit Nystad Eskonsipo &lt;berit.nystad.eskonsipo&gt;

Use of uninitialized value in concatenation (.) or string at /Users/berit/main/gt/script/preprocess line 640, <> line 269.
Use of uninitialized value in ucfirst at /Users/berit/main/gt/script/preprocess line 640, <> line 269.
Use of uninitialized value in concatenation (.) or string at /Use

[2012-03-09 12:56] albbas commented on #396
## Comment 5895
Date: 2012-03-09 13:56:27 +0100
From: Berit Nystad Eskonsipo &lt;berit.nystad.eskonsipo&gt;

For å være spesifikk:

Denne gav feilmelding og ingen output:

~ $ cat prestable.sme.txt |preprocess --abbr=main/gt/sme/bin/abbr.txt --corr=main/gt/sme/src/typos.txt

Denne gav output og ingen feilmelding:

~ $ cat prestable.sme.txt |preprocess --abbr=main/gt/sme/bin/abbr.txt

[2012-03-09 14:59] albbas commented on #396
## Comment 5896
Date: 2012-03-09 15:59:38 +0100
From: @leneantonsen

Kommandoen skal være: --corr=main/gt/sme/bin/corr.txt

[2012-03-09 16:07] albbas commented on #396
## Comment 5897
Date: 2012-03-09 17:07:38 +0100
From: @snomos

Med korrekt argument (takk Lene) er eg ikkje i stand til å reprodusera feilen. Men lusmeldinga kan vera open til Børre har retta åtvaringane om manglande initialisering.

[2012-03-15 10:57] albbas opened #397 "lookup2cg bør fjerne # i slutten av prosessen (Bugzilla Bug 1299)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1299
Date: 2012-03-15T11:57:00+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @leneantonsen
CC:   @leneantonsen, @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2013-03-05T10:05:17+01:00

[2012-03-15 10:57] albbas commented on #397
## Comment 5907
Date: 2012-03-15 11:57:00 +0100
From: @leneantonsen

Tidligere har vi i CG-filene ikke skilt mellom leksikaliserte og dynamiske sammensetninger:

Leksikalisert sammensetning:
"<skuvlabusse>"
	 "skuvla#busse" N G3 Veh Sg Nom

Dynamisk sammensetning:
"<čottajuoigan>"
  "čotta#juoigan" N Sg Nom

Etter at vi fjerna # i leksikonet, er output fra lookup2cg:

Leksikalisert sammensetning:

[2012-03-16 14:36] albbas commented on #397
## Comment 5910
Date: 2012-03-16 15:36:45 +0100
From: @Trondtr

Dette er ei viktig sak, som vi alle må sjå på.

Problemet med (2) er at det skil seg frå det nye lookup2cg-frie grensesnittet. For "čottajuoigan" er det ikkje noko endring. Men for andre ord gjer ikkje hfst dei same justeringane som lookup2cg. I tillegg til skuvlabusse har vi girjebusse (leksikalisert), og sátnebusse (dynamisk). Med h

[2012-03-22 12:09] albbas opened #201 "v1.5 installed instead of v2.2 on office 64 (Bugzilla Bug 1304)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1304
Date: 2012-03-22T13:09:13+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas

Last updated: 2013-03-25T15:21:42+01:00

[2012-03-22 12:09] albbas commented on #201
## Comment 5931
Date: 2012-03-22 13:09:13 +0100
From: @Trondtr

Yesterday user installed divvun from the v2.2 link on a win7 64b machine with office 2007.

In the list of programs we find divvun 1.5, and the message "cannot uninstall"

1.5 blocks 2.2 __or__ we have an errouneous link

[2012-03-23 10:53] albbas opened #202 "Divvun doesn't work on Win7 64-bit, Office 2007, reports version 1.5 (Bugzilla Bug 1306)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1306
Date: 2012-03-23T11:53:43+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @albbas, @Trondtr

Last updated: 2015-03-16T14:14:24+01:00

[2012-03-23 10:53] albbas commented on #202
## Comment 5934
Date: 2012-03-23 11:53:43 +0100
From: @snomos

Leif Åge reports the same today as Trond yesterday:

* downloaded latest speller (2.2. on our home page)
* installation went through
* software removal control panel reports version 1.5
* North Sámi shows a green mark = the system sees the installed speller
* speller does not work in MS Office 2007 = no red underlining under nuvviDspel

[2012-03-23 10:59] albbas commented on #202
## Comment 5935
Date: 2012-03-23 11:59:33 +0100
From: @snomos

Added Leif Åge to the Cc list.

[2012-03-28 13:34] albbas opened #203 "Further issues with the Divvun 2.2 installer & Windows 7 + possible solution (Bugzilla Bug 1310)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1310
Date: 2012-03-28T15:34:41+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @albbas, @Trondtr

Last updated: 2018-05-16T14:39:59+02:00

[2012-05-04 23:11] albbas opened #398 "Multiwords (LEXICON IDIOM) causes the preprocessor to malfunction. (Bugzilla Bug 1342)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1342
Date: 2012-05-05T01:11:05+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas
CC:   @albbas, @leneantonsen, @snomos, @Trondtr

Last updated: 2012-05-11T21:31:56+02:00

[2012-05-05 09:26] albbas commented on #396
## Comment 6183
Date: 2012-05-05 11:26:33 +0200
From: @Trondtr

(In reply to comment #3)

Eg sjekka Berit Merete sin kommando (rett nok med prestable-tekstane via ccat), og åtvaringa er borte. Eg lukkar.

[2012-05-05 09:26] #396 closed

[2012-05-05 10:32] albbas commented on #393
## Comment 6185
Date: 2012-05-05 12:32:33 +0200
From: @Trondtr

(In reply to comment #2)

This bug happens __before__ we even get to usme, so that last comment is irrelevant.

Since february, the problem has been "solved" by removing all abbreviations with hyphen from the abbr-sme-lex.txt file.

The real solution is to fix the regex in gt/script/abbr-extract.pl, and for that we need a bit more per

[2012-05-05 10:34] albbas commented on #393
## Comment 6186
Date: 2012-05-05 12:34:22 +0200
From: @Trondtr

Advice: To test: use the Pite Sami abbr file (sje/src/abbr-sje-lex.txt, sje is small and compiles quickly.

[2012-05-05 10:47] albbas commented on #390
## Comment 6188
Date: 2012-05-05 12:47:56 +0200
From: @Trondtr

Status er no:

1.
2. 3.-4. 5.
- 6.
7.
—
8.
9.
-
Ord
.
Nyttord
1.
og

Eg har ikkje full oversikt her, men i alle fall er strengen det blir referert til i tittelen no ikkje delt:
3.-4

Viss vi er nögd med status quo (jf FAD-arbeidet) bör vi lukke denne.

[2012-05-05 11:05] albbas commented on #387
## Comment 6189
Date: 2012-05-05 13:05:07 +0200
From: @Trondtr

Sitat frå Makefile-loggen:

r43247 | sjur | 2011-06-08 10:51:53 +0200 (ons, 08 jun 2011) | 5 lines
Added a new target 'corr' to sme/smj/sma. This target will produce the file:
$GTLANG/bin/corr.txt
and contains all typos ***except*** those containing spaces. It should thus be valid as input to preprocess.

Vi lukkar bugen.

[2012-05-05 11:06] albbas commented on #386
## Comment 6190
Date: 2012-05-05 13:06:11 +0200
From: @Trondtr

KVa er statusen til denne?

[2012-05-05 11:10] albbas commented on #385
## Comment 6191
Date: 2012-05-05 13:10:34 +0200
From: @Trondtr

This one is now solved:

ccat /home/apache_corpus/boundcorpus/converted/sma/bible/other_files/bibeltekster_medio_mars_2009.doc.xml |preprocess --abbr=main/gt/sma/bin/abbr.txt |l

¶
Noere
Samu`ele
daelie
Eli`en
gïeten
nuelesne
Åejviem
gaagkesti
.

[2012-05-05 11:10] #385 closed, assigned to albbas

[2012-05-05 11:25] albbas commented on #335
## Comment 6192
Date: 2012-05-05 13:25:46 +0200
From: @Trondtr

It seems this bug is connected with #

~$ echo "guhttatjuotguhttalåkguhtta" | usmj | lookup2cg
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
"<guhttatjuotguhttalåkguhtta>"
	 "#guhttatjuotguhtta#låk#guhtta" Num Sg Nom
	 "#guhttatjuotguhtta#låk#guhtta" Num Sg Acc

~$ echo "sealgeetniin" | lo | lookup2cg
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%

[2012-05-07 08:27] albbas commented on #386
## Comment 6201
Date: 2012-05-07 10:27:33 +0200
From: @albbas

This seems to work:

gt $ echo "ööhpehtimmiem  saemiengïelesne" | preprocess | usma
ööhpehtimmiem   ööhpehtidh+V+TV+Der/NomAct+N+Sg+Acc
ööhpehtimmiem   ööhpehtimmie+N+Sg+Acc

saemiengïelesne saemie+N+SgGenCmp+Cmp#gïele+N+Sg+Ine
saemiengïelesne saemiengïele+N+Sg+Ine

[2012-05-07 08:46] albbas commented on #386
## Comment 6202
Date: 2012-05-07 10:46:11 +0200
From: @leneantonsen

Problemet er fremdeles der.

hoavda/Public/corp/analysed/2012-05-04/sma-admin.ccat.txt.dis

"<Kaarhtedidh>"
        "kaarhtedidh" V TV Inf
"<vijremem>"
        "vijreme" N Sg Acc @OBJ>
"<ietnegïeleanalfabetisme>"
        "ietnegïeleanalfabetisme" ?
"<jïh>"
        "jïh" CC
"<daarpoe>"
        "daarpoe" N Sg Nom
"<ööhpehtimmiem>"

[2012-05-07 08:51] albbas commented on #390
## Comment 6203
Date: 2012-05-07 10:51:13 +0200
From: @albbas

Here is the above command ran through unob. Is this good enough?

echo "1. 2. 3.-4. 5. - 6. 7. — 8. 9. - Ord 0. Nyttord 1. og"| preprocess | unob
1.      1+A+Ord

2. 3.-4. 5.     2. 3.-4. 5.     +?

- 6.    - 6.    +?

7.      7+A+Ord

—       —+PUNCT

8.      8+A+Ord

9.      9+A+Ord

-       -+PUNCT

Ord     ord+N+Neu+Pl+Indef
Ord

[2012-05-07 15:18] albbas commented on #386
## Comment 6216
Date: 2012-05-07 17:18:38 +0200
From: @leneantonsen

Bedre tittel?

[2012-05-08 18:42] albbas opened #399 "I abbr.txt er ikke bøyningsformer av proper nouns (Bugzilla Bug 1345)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1345
Date: 2012-05-08T20:42:07+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @albbas
CC:   @snomos, @Trondtr

Duplicates:   #1296
Last updated: 2012-09-20T11:10:25+02:00

[2012-05-11 14:58] albbas commented on #398
## Comment 6270
Date: 2012-05-11 16:58:12 +0200
From: @albbas

The mii bug has been fixed in commit 58606

[2012-05-11 19:31] #398 closed, assigned to albbas

[2012-05-14 07:13] albbas commented on #386
## Comment 6285
Date: 2012-05-14 09:13:37 +0200
From: @albbas

grep saemiengïelesne\" /Users/hoavda/Public/corp/analysed/2012-05-09/sma-admin.ccat.txt.dis
        "­saemiengïelesne" ?
        "­saemiengïelesne" ?
        "­saemiengïelesne" ?
        "­saemiengïelesne" ?
        "­saemiengïelesne" ?
        "­saemiengïelesne" ?
        "­saemiengïelesne" ?
        "juelevsaemiengïelesne" ?

er det

[2012-05-14 07:28] albbas commented on #390
## Comment 6288
Date: 2012-05-14 09:28:41 +0200
From: @albbas

Jeg kjørte sekvensen gjennom usme også. Resultatet var at sekvensen 2. 3.-4. 5. ikke blir ikke analysert av usme, men at - 6. blir analysert på denne måten:

- 6.    - 6+A+Ord
Skal problemet løses i preprocess eller analysatorene?

Om preprocess skal gjøre dette om til noe analysatorene klarer å håndtere, er dette et ønskelig output?
2

[2012-05-14 07:37] #366 closed, assigned to albbas

[2012-05-14 07:57] albbas commented on #393
## Comment 6290
Date: 2012-05-14 09:57:05 +0200
From: @albbas

How has the solution in comment 3 been solved? svn log abbr-extract.pl gives no clues about that.

[2012-05-14 09:16] albbas commented on #386
## Comment 6291
Date: 2012-05-14 11:16:15 +0200
From: @leneantonsen

(In reply to comment #6)

../hoavda/Public/corp/analysed/2012-05-09/sma-admin.ccat.txt.dis:

"<Kaarhtedidh>"
        "kaarhtedidh" V TV Inf
"<vijremem>"
        "vijreme" N Sg Acc @OBJ>
"<ietnegïeleanalfabetisme>"
        "ietnegïeleanalfabetisme" ?
"<jïh>"
        "jïh" CC
"<daarpoe>"
        "daarpoe" N Sg Nom
"<ööhpehtimmiem>"

[2012-05-14 11:27] albbas commented on #390
## Comment 6294
Date: 2012-05-14 13:27:20 +0200
From: @Trondtr

(In reply to comment #3)

usme eller ikkje er eit separat problem. Gangen er slik:
1. finne ut kva vi vil ha
2. ordne det i preprocess
3. ordne det i fst

Dette er eit anna problem:
~/main/gt$usme
6.
6.	6+A+Ord

Her har vi laga ei løysing som ikkje er god. "den sjette" er ikkje det same som "6A".

Dette vil vi ikkje ha. Her har du del

[2012-05-14 11:29] albbas commented on #393
## Comment 6295
Date: 2012-05-14 13:29:42 +0200
From: @Trondtr

(In reply to comment #5)

It has been manually solved by removing abbreviations containing "-" from the source file.
But then the ILO-konv pops up, and the problem is with us again.

[2012-05-14 11:43] albbas commented on #386
## Comment 6297
Date: 2012-05-14 13:43:04 +0200
From: @Trondtr

Eg gjekk til fila og fann ordet:

"<­saemiengïelesne>"
        "­saemiengïelesne" ?

Mellom teikna "<" og "s" finn vi teiknet SOFT HYPHEN, U+00AD

Viss vi fjernar det fungerer analysen (det usynlege teiknet mellom apostroffane i tr -d '­'  er nettopp U+00AD, som eg skreiv inn ved hjelp av hex-tastaturet):

cat 2012-05-09/sma-admin.cca

[2012-05-14 11:50] albbas commented on #335
## Comment 6298
Date: 2012-05-14 13:50:24 +0200
From: @Trondtr

... which now has been done:

$ echo "guhttatjuotguhttalåkguhtta" | usmj | lookup2cg
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
"<guhttatjuotguhttalåkguhtta>"
	 "guhtta#tjuot#guhtta#låk#guhtta" Num Sg Nom
	 "guhtta#tjuot#guhtta#låk#guhtta" Num Sg Acc
$echo "sealgeetniin" | lo | lookup2cg
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
"<sealgeet

[2012-05-14 11:56] albbas commented on #335
## Comment 6299
Date: 2012-05-14 13:56:34 +0200
From: @ciprian-NO

(In reply to comment #15)

Dein Wunsch ist mir Befehl.

[2012-05-14 11:56] #335 closed

[2012-09-04 10:56] albbas opened #400 "nob abbr not in synch with sme (Bugzilla Bug 1418)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1418
Date: 2012-09-04T12:56:25+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @ciprian-NO
CC:   @albbas, @snomos, @Trondtr

Last updated: 2012-09-04T14:25:01+02:00

[2012-09-04 10:56] albbas commented on #400
## Comment 6678
Date: 2012-09-04 12:56:25 +0200
From: @Trondtr

The culprits are i, æ, ø, å. Have a look: These four insert period.

hum-tf4-ans141:src ttr000$ echo "a B b B c B d B e B f B g B h B i B j B k B l B m B n B o B p B q B r B s B t B u B v B w B x B y B z B æ B ø B å B" | preprocess --abbr=../bin/abbr.txt
a
B
b
B
c
B
d
B
e
B
f
B
g
B
h
B
i
.
B
j
B
k
B
l
B
m
B
n
B
o
B
p
B
q
B
r
B
s
B
t
B

[2012-09-04 12:25] albbas commented on #400
## Comment 6679
Date: 2012-09-04 14:25:01 +0200
From: @ciprian-NO

As reported by Børre:
Fixed in svn commit r61957

The big thanks goes to Børre!

[2012-09-04 12:25] #400 closed

[2012-09-06 09:54] #390 closed

[2012-09-07 18:05] albbas commented on #267
## Comment 6713
Date: 2012-09-07 20:05:36 +0200
From: @Trondtr

Works for sme, and obsolete for sma. Closing.

Sme:

*** Testing done. Result in the files: ***
***     twol-pos.out ***
***     twol-neg.out ***

[2012-09-07 18:05] #267 closed

[2012-09-07 18:30] #384 closed, assigned to albbas

[2012-09-10 13:26] albbas opened #401 "Pronoun is chosen where we would want an abbreviation (Bugzilla Bug 1423)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1423
Date: 2012-09-10T15:26:11+02:00
From: Ritva Nystad &lt;ritva.nystad&gt;
To:   @Trondtr
CC:   berit.nystad.eskonsipo, @albbas, @leneantonsen, @lynnda-hill, ritva.nystad, @snomos, @Trondtr

Last updated: 2014-04-21T21:28:36+02:00

[2012-09-13 14:23] albbas commented on #401
## Comment 6767
Date: 2012-09-13 16:23:10 +0200
From: @leneantonsen

gt$ echo "Odne lea dii. 09.00" | preprocess | usme | lookup2cg
"<Odne>"
	 "odne" Adv
"<lea>"
	 "leat" V IV Ind Prs Sg3
"<dii>"
	 "dii" N ABBR Nom
	 "don" Pron Pers Pl2 Nom
	 "dii" N ABBR Acc
	 "dii" N ABBR Attr
	 "dii" N ABBR Gen
"<.>"
	 "." CLB
"<09.00>"
	 "09.00" Num Sg Gen
	 "09.00" Num Sg Nom
	 "09.00" Num Sg Acc

Dette er ik

[2012-09-14 07:24] albbas commented on #401
## Comment 6769
Date: 2012-09-14 09:24:25 +0200
From: @ciprian-NO

... and here are the results of the same input on my machine:

Last login: Thu Sep 13 22:40:54 on ttys002
~>sent-proc.sh -s=dis  "Odne lea dii. 09.00"
... disambiguating ...
"<Odne>"
	"odne" Adv @ADVL>
"<lea>"
	"leat" V IV Ind Prs Sg3 @+FMAINV
"<dii.>"
	"dii" N ABBR Nom @<ADVL
"<09.00>"
	"09.00" Num Sg Nom @N<

[2012-09-14 07:35] albbas commented on #401
## Comment 6770
Date: 2012-09-14 09:35:24 +0200
From: @leneantonsen

Jeg var litt rask, og glemte en viktig ting, nemlig abbr-flagg for preprocess

gt$ echo "Odne lea dii. 09.00" | preprocess --abbr=sme/bin/abbr.txt | usme | lookup2cg
"<Odne>"
	 "odne" Adv
"<lea>"
	 "leat" V IV Ind Prs Sg3
"<dii.>"
	 "dii" N ABBR Nom
	 "dii" N ABBR Acc
	 "dii" N ABBR Attr
	 "dii" N ABBR Gen
"<09.00>"
	 "09.00" Num

[2012-09-16 08:08] albbas commented on #401
## Comment 6778
Date: 2012-09-16 10:08:53 +0200
From: @Trondtr

Lene har rett: Bugen går attende til Apertium-treet (dvs. framleis til oss). Apertium bruker ikkje preprocess, men har integrert preprosessering i fst-en sin på måtar eg ikkje har sett meg inn i. Men problemet ser ut til at abbr-lesinga manglar i apertium-bidix:

echo "Odne lea dii. 09.00" | apertium -d . sme-nob-morph
^Odne/odne<Adv>

[2012-09-16 14:17] albbas commented on #401
## Comment 6781
Date: 2012-09-16 16:17:49 +0200
From: @Trondtr

Problemet i apertium var at dii som abbr ikkje var der. Eg la til dii som abbr i bidix, men fekk ikkje oppdateringa av lexc til å fungere. Så la eg dii itl i lexc manuelt, og no fungerer det:

echo "Dii lehpet boahtán dii. 13." | apertium -d . sme-nob
Dere har kommet kl. 13.

Det som står att er å få den automatiske oppdateringa av ap

[2012-09-19 14:57] albbas opened #402 "halve ord i ficti pga metainformasjon (Bugzilla Bug 1434)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1434
Date: 2012-09-19T16:57:50+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @tomipieski
CC:   berit.nystad.eskonsipo, @albbas, @ciprian-NO, @lynnda-hill, ritva.nystad, @snomos, @tomipieski, @Trondtr

Last updated: 2014-05-01T02:56:06+02:00

[2012-09-19 15:03] albbas commented on #232
## Comment 6811
Date: 2012-09-19 17:03:35 +0200
From: @Trondtr

Sjur og Thomas: Framleis Noereh! Nom x 2 (Noereh! og noereh!), eller berre ein?

$dsme
Noereh!+N+Prop+Sg+Nom
Noereh!+N+Prop+Sg+Nom	Noereh!

[2012-09-19 16:38] albbas commented on #232
## Comment 6814
Date: 2012-09-19 18:38:33 +0200
From: @leneantonsen

art$ dsme
Noereh!+N+Prop+Sg+Nom
Noereh!+N+Prop+Sg+Nom	Noereh!

Men det er pga av fixen jeg beskrev i en kommentar overfor her. Sjur ønska at buggen skulle stå, fordi det egentlig er en bugg. Men da bør kanskje  (%! # ;)-buggen meldes inn et sted?

[2012-09-19 20:31] albbas commented on #402
## Comment 6816
Date: 2012-09-19 22:31:52 +0200
From: @Trondtr

Denne romanen, som er viktig, har 522 kursiv-strengar (1044 em-taggar).

<p><em type="italic"> Heaika geahča
em type="italic"> "Na josmat vuot geahččaletne</em>", láhttestii Máhte-Máhtte ja

cat /home/apache_corpus/boundcorpus/converted/sme/ficti/Árbbol._2._oassi.doc.xml |tr ' ' '\n' | egrep '(/em>|<em)'|wc -l
1044

Løysinga er å slet

[2012-09-20 06:40] albbas commented on #402
## Comment 6818
Date: 2012-09-20 08:40:08 +0200
From: @snomos

(In reply to comment #1)

Det er nokre problem med ei slik løysing, som eigentleg går attende på om em-taggar betyr noko for den lingvistiske analysen eller ikkje. I ein del tilfelle, som nemnt i denne buggen, ser det ikkje slik ut. Men i andre tilfelle veit vi at em blir brukt til å skilja ut in situ-lån, korte sitat ol. som det kan v

[2012-09-20 07:25] albbas commented on #232
## Comment 6822
Date: 2012-09-20 09:25:05 +0200
From: @duomdaamaendra

gt $ dsme
Noereh!+N+Prop+Sg+Nom
Noereh!+N+Prop+Sg+Nom	Noereh!

[2012-09-20 09:10] albbas commented on #399
## Comment 6828
Date: 2012-09-20 11:10:25 +0200
From: @Trondtr

*** This bug has been marked as a duplicate of bug #1296 ***

[2012-09-20 09:10] #399 closed, assigned to albbas

[2012-09-21 09:14] #179 closed, assigned to snomos

[2012-09-21 13:20] albbas commented on #402
## Comment 6881
Date: 2012-09-21 15:20:30 +0200
From: @Trondtr

Endre ccat heller enn xsl ser greitt ut for meg. Det vil også löyse problemet generelt (for neste roman også).

[2012-09-21 13:22] albbas commented on #395
## Comment 6882
Date: 2012-09-21 15:22:57 +0200
From: @Trondtr

Denne har vore her sidan februar. Skal vi sjå på den, eller vente til livet etter lookup2cg?

[2012-09-21 13:25] albbas commented on #395
## Comment 6883
Date: 2012-09-21 15:25:17 +0200
From: @snomos

Analysen av det andre ordet ser slik ut i dag:

lihkostuvvan
lihkostuvvan	lihkostuvvat+V+IV+PrfPrc
lihkostuvvan	lihkostuvvat+V+IV+Actio+Gen
lihkostuvvan	lihkostuvvat+V+IV+Actio+Nom
lihkostuvvan	lihkostuvvat+V+IV+Ind+Prt+ConNeg
lihkostuvvan	lihkostuvvat+V+IV+Der/NomAct+N+Sg+Gen
lihkostuvvan	lihkostuvvat+V+IV+Der/NomAct+N+Sg+Nom

Der-tag

[2012-10-03 10:56] albbas opened #269 "adj-ak.yaml test failing (Bugzilla Bug 1453)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1453
Date: 2012-10-03T12:56:26+02:00
From: @ilm024 (Originally created by @ilm024)
To:   @snomos

Last updated: 2012-10-03T17:59:26+02:00

[2012-10-03 10:56] albbas commented on #269
## Comment 7009
Date: 2012-10-03 12:56:26 +0200
From: @ilm024

When i "make check" in SMJ one of the yaml tests is failing (adj-ak.yaml).
I can't understand why.

Subtest 4 - xerox: Testing ./adj-ak.yaml using ./../../../src/analyser.gt.xfst

Traceback (most recent call last):
  File "/Users/Inga/langtech/main/gtcore/scripts/morph-test.py", line 578, in <module>
    main()
  File "/Users/Inga/lang

[2012-10-03 15:59] albbas commented on #269
## Comment 7010
Date: 2012-10-03 17:59:26 +0200
From: @snomos

Fixed in r63555. The error was caused by double entries of lines like

    skárbak+A+Attr: skárbbis

because skárbak was given as lemma also in the stuorak test. The same lemma + tag set can only be defined once.

[2012-10-03 15:59] #269 closed

[2012-10-05 14:41] albbas opened #403 "Finnish inituppercase.regex does not work (Bugzilla Bug 1456)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1456
Date: 2012-10-05T16:41:43+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @snomos
CC:   @rueter, @snomos, @flammie

Last updated: 2012-11-03T15:57:13+01:00

[2012-10-08 09:02] albbas opened #404 "sort-cg-cohort.pl fjerner tomme linjer (Bugzilla Bug 1461)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1461
Date: 2012-10-08T11:02:03+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   @albbas, @ciprian-NO, @snomos, @Trondtr

Last updated: 2013-02-27T22:54:19+01:00

[2012-10-08 09:02] albbas commented on #404
## Comment 7037
Date: 2012-10-08 11:02:03 +0200
From: @leneantonsen

sort-cg-cohort.pl fjerner tomme linjer

Input er CG-output, med tom linje mellom hver setning. De tomme linjene forsvinner når jeg bruker skriptet. Ciprian sier at de ikke forsvinner når han gjør det i sin maskin. Er det et perl-versjons problem?
Jeg har

$ perl -v
This is perl 5, version 12, subversion 3 (v5.12.3) built for darw

[2012-10-08 09:12] albbas commented on #404
## Comment 7038
Date: 2012-10-08 11:12:58 +0200
From: @snomos

Eg kan reprodusera problemet på maskina mi, og eg trur eg veit kva som skjer. Eg trur dessverre ikkje at eg rekk å sjå på det på dei nærmaste tre vekene. Men etter det skal eg prøva.

[2012-10-10 07:16] albbas commented on #404
## Comment 7060
Date: 2012-10-10 09:16:11 +0200
From: @leneantonsen

Jeg har nå ordna skriptene som bruker dette skriptet slik at både gullstandardfila og testfila blir sortert med sort-cg-cohort.pl, dermed så går diffen bra. Problemet er at linjenumrene i diffen ikke stemmer, spesielt i forhold til gullstandardfila er dette problematisk, hvis man finner ting man vil korrigere der.

Et anna proble

[2012-10-17 09:28] albbas opened #405 "LEXICON IDIOM contain single-word entries, thereby ruining processing (Bugzilla Bug 1473)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1473
Date: 2012-10-17T11:28:47+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas
CC:   @albbas, @ciprian-NO, @snomos, @Trondtr

Last updated: 2012-10-17T15:51:05+02:00

[2012-10-17 13:51] #405 closed

[2012-10-18 11:44] #393 closed

[2012-10-18 12:20] #199 closed

[2012-10-25 15:40] albbas opened #406 "prepocess: problemer med kolon og linjeskift (Bugzilla Bug 1482)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1482
Date: 2012-10-25T17:40:15+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @albbas
CC:   @ciprian-NO, @leneantonsen, @snomos, @Trondtr

Last updated: 2013-10-09T22:16:35+02:00

[2012-10-25 15:40] albbas commented on #406
## Comment 7175
Date: 2012-10-25 17:40:15 +0200
From: @leneantonsen

testcorp$ echo 'K. L. Hermansen:' | preprocess
K
.
L
.
Hermansen
:

testcorp$ echo 'K.L.Hermansen:' | preprocess
K
.
:
L
.
Hermansen

Jeg setter denne til Børre, da jeg har inntrykk av at det er han som fikser på preprocess, og ikke Ciprian som er default  (?)

[2012-10-25 15:44] albbas commented on #406
## Comment 7176
Date: 2012-10-25 17:44:50 +0200
From: @leneantonsen

Linjeskift blir ikke markert:
Input er slik:
Joneš-bojá vuolgá amas máilbmái

Sáhpánvuovddi bajil lea máŋga beaivvi girddašan amas,

Output av
cat jonesboja.txt | preprocess --abbr=abbr.txt | l

Joneš-bojá
vuolgá
amas
máilbmái           <========== her mangler linjeskift som blir brukt som setningsdelimiter i disambigueringa
Sáhp

[2012-10-29 10:31] albbas commented on #229
## Comment 7203
Date: 2012-10-29 11:31:27 +0100
From: @Trondtr

Denne hadde det vore nyttig å ordne no. Ritva treng den.

[2012-10-29 22:08] albbas commented on #229
## Comment 7222
Date: 2012-10-29 23:08:13 +0100
From: @Trondtr

I might have been a bit too implicit in my first report. Here goes:

To repeat: Log in on the xserve,
cd ../hoavda/Public/corp/analyzed/
sum-cg.pl --words analysed/2012-10-26/sme-laws.ccat.txt.dis > testresult1

... and watch the printing of lines like
Line not recognized: ,
Line not recognized: ,
Line not recognized: ,
for the next m

[2012-10-29 22:43] albbas commented on #229
## Comment 7223
Date: 2012-10-29 23:43:01 +0100
From: @ciprian-NO

Now are we talking business
(apart from the path correction: analyzed-dir both in cd-command and in sum-cg.pl command).
Thanks

(In reply to comment #5)

[2012-10-30 22:06] #229 closed

[2012-10-31 07:04] albbas commented on #383
## Comment 7248
Date: 2012-10-31 08:04:56 +0100
From: @ciprian-NO

What are the triggers to add * to TV and IV? Should this be happen in the lookup2cg-step?
Underspecified bug ("specification is a relational noun: you specify something FOR somebody").

(In reply to comment #1)

[2012-10-31 08:02] albbas commented on #383
## Comment 7252
Date: 2012-10-31 09:02:42 +0100
From: @Trondtr

Yes, it happens in lookup2cg. The quasi code for lookp2cg is as follows (for POS, and oversimplifying):
If there are two POS tags in a string with a Der tag inbetween, add a star to the leftmost one:

+N +Der/V +V ...
==>
N* Der/V V ...

The rationale is that the result is a verb, and should not trigger N sensitive rules in CG, hence

[2012-10-31 14:43] albbas commented on #202
## Comment 7259
Date: 2012-10-31 15:43:34 +0100
From: @albbas

The version info has been updated

[2012-10-31 22:33] albbas commented on #395
## Comment 7262
Date: 2012-10-31 23:33:15 +0100
From: @ciprian-NO

Er det en fil hvor hele lookup2cg ble spesifisert/beskrivet?
Før jeg ændre noe vil jeg gjerne visst hva dokker egentlig vil ha.

Just looking superficially at the code I can change the behavior of the
scrip such that the Der-lines do not disappear.

Example:

BEFORE:
gt>echo 'reastaluvvan' | usme | lookup2cg
0%>>>>>>>>>>>>>>>>>>>>>

[2012-11-01 16:39] albbas opened #407 "Ø blir til både ø og ö i analysen (Bugzilla Bug 1494)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1494
Date: 2012-11-01T17:39:31+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @Trondtr
CC:   @snomos

Last updated: 2014-04-21T18:18:40+02:00

[2012-11-01 16:39] albbas commented on #407
## Comment 7268
Date: 2012-11-01 17:39:31 +0100
From: @leneantonsen

Ø blir til både ø og ö i analysen - uavhengig av språk

gt$ usme
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
Bjørn
Bjørn	Björn+N+Prop+Mal+Attr
Bjørn	Björn+N+Prop+Mal+Sg+Nom
Bjørn	Björn+N+Prop+Mal+Sg+Gen
Bjørn	Björn+N+Prop+Mal+Sg+Acc
Bjørn	Bjørn+N+Prop+Mal+Attr
Bjørn	Bjørn+N+Prop+Mal+Sg+Nom
Bjørn	Bjørn+N+Prop+Mal+Sg+Gen
Bjørn	Bjørn+N+

[2012-11-01 19:14] albbas commented on #407
## Comment 7271
Date: 2012-11-01 20:14:52 +0100
From: @Trondtr

Vi har både Björn og Bjørn i leksikon, og vi har spellrelax. Resultatet er at både Björn og Bjørn får både Bjørn og Björn som analyse. Vi kan gjere dette på fleire måtar:

1. Ha berre eitt lemma (t.d. Bjørn, trist for Björn Borg)
2. Operere med eigne ä, ö, æ, ø, etc. i propernoun (ö7:ö, ø7:ø), slik at spellrelax ikkje fungerer
3. Oper

[2012-11-03 14:57] #403 closed, assigned to snomos

[2012-11-10 08:29] albbas commented on #383
## Comment 7369
Date: 2012-11-10 09:29:35 +0100
From: @ciprian-NO

(In reply to comment #3)
"all but the last"? Which last, from the left or from the right?
Can I get some relevant and non-relevant input sentences to debug the script.
This would be great!

[2012-11-10 08:54] albbas commented on #383
## Comment 7370
Date: 2012-11-10 09:54:55 +0100
From: @leneantonsen

(In reply to comment #4)

Se den første kommentaren (som starta denne buggen) - der finner du svar på det du spør om, og også eksempel.

Poenget er at ved derivasjon, så får man en ny PoS-tagg, og hvis det er et verb, så får man en ny tagg for transitivitet. Vi er bare interessert i informasjonen for den siste angivelsen av PoS o

[2012-11-10 09:43] albbas commented on #383
## Comment 7371
Date: 2012-11-10 10:43:33 +0100
From: @ciprian-NO

Nei, det er ikke nok for riktig testing:
Man må har hele setninger og også neutrale setinger.
Ellers kan man ikke vite om man har ødelagt noe på en annen sted.
Noe må lærer seg mange ting om proper debugging and proper testing.

(In reply to comment #5)

???

[2012-11-10 10:03] albbas commented on #383
## Comment 7372
Date: 2012-11-10 11:03:23 +0100
From: @leneantonsen

(In reply to comment #6)

Vi har et test som du kan bruke, som er mye bedre (men pass på at du har svn up i biggies også):
Når du står i gt/sme, er kommandoen:

sh script/testCGrules.sh

Resultatet skal bli 14.

Jeg foreslår at du kommer på kontoret mitt på mandag så kan jeg demonstrere hvordan vi bruker fst, lookup2cg og CG, det

[2012-11-10 10:08] albbas commented on #383
## Comment 7373
Date: 2012-11-10 11:08:30 +0100
From: @leneantonsen

Denne testen gir en output
   sme/dev/sortedtestdis
Den kan du evt diffe før og etter dine endringer i lookup2cg-skriptet

[2012-11-10 16:57] albbas commented on #383
## Comment 7374
Date: 2012-11-10 17:57:03 +0100
From: @Trondtr

Ved morfologisk derivasjon går vi frå venstre mot høgre:

"<diŋgojumi>"
         "diŋgot" V* TV Der/PassL V* Der/upmi N Sg Acc
         "diŋgot" V* TV Der/PassL V* Der/upmi N Sg Gen

(bestille --> bestille.Pass --> bestilling N

Det er den siste ordklassen som gjeld, slik fungerer derivasjon for alle språk. Dermed den lengst til høgre

[2012-11-10 17:15] albbas commented on #383
## Comment 7375
Date: 2012-11-10 18:15:41 +0100
From: @leneantonsen

Til dette bør man bruke filer fra mappa med nyest dato i corp/analysed/ for å unngå å få mye ikke-relevant diff. Fst endrer seg litt hver uke.

[2012-11-14 23:29] albbas opened #270 "sme/testing: a.paradigm istedenfor n_paradigm (Bugzilla Bug 1514)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1514
Date: 2012-11-15T00:29:44+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO

Last updated: 2012-11-15T08:53:52+01:00

[2012-11-15 07:53] #270 closed

[2012-11-19 14:32] albbas commented on #386
## Comment 7428
Date: 2012-11-19 15:32:04 +0100
From: @leneantonsen

Se denne sida: http://www.avvir.no/vivvo_general/2504.html

I ingressen er ordet heargegilvovuodjin­bearrašii, og jeg får samme problemet med dette ordet som jeg forklart tidligere i denne buggen, når jeg kopierer teksten.
heargegilvovuodjin­bearrašii lar seg ikke analysere pga av et hardt whitespace på slutten av ordet, og det f

[2012-11-20 13:36] albbas commented on #386
## Comment 7437
Date: 2012-11-20 14:36:50 +0100
From: @snomos

Eg har lagt til dynamisk samansetjing med SOFT HYPHEN i r65 870. Prøv ut og sjå om det funkar som det skal. Slike samansetjingar får ein eigen tag +SHyph (som eg ikkje har fjerna frå div. transducarar - kanskje de kan gjera det, dersom dette funkar?).

[2012-11-26 09:57] #168 closed, assigned to duomdaamaendra

[2012-11-27 19:01] albbas opened #271 "sent-proc.sh godtar ikke ? (Bugzilla Bug 1525)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1525
Date: 2012-11-27T20:01:24+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   berit.nystad.eskonsipo, ritva.nystad, @Trondtr

Last updated: 2012-11-28T00:11:14+01:00

[2012-11-27 19:01] albbas commented on #271
## Comment 7484
Date: 2012-11-27 20:01:24 +0100
From: @leneantonsen

sent-proc.sh godtar ikke at setningen ender med ?. Dette burde fungere fordi en del setninger disambigueres på grunnlag av at det er spørsmål.

[2012-11-27 22:22] albbas commented on #271
## Comment 7485
Date: 2012-11-27 23:22:42 +0100
From: @ciprian-NO

Hvis man ikke får en bedre besrivelse av buggen kan man ikke rette noen ting.
Jeg har testet på tre måter:

1. echo INPUT | COMMAND

~>echo "Mii du namma lea?" | sent-proc.sh -s=dep
... dependency parsing ...
"<Mii>"
	"mii" Pron Interr Sg Nom @SPRED> #1->4
"<du>"
	"don" Pron Pers Sg2 Gen @>N #2->3
"<namma>"
	"namma" N Sg Nom @SUBJ>

[2012-11-27 22:58] albbas commented on #271
## Comment 7486
Date: 2012-11-27 23:58:02 +0100
From: @leneantonsen

Du har helt rett, det fungerer :-)
 Jeg må har gjort en annen feil. Jeg lukker buggen.

[2012-11-27 23:11] #271 closed

[2012-11-28 11:02] albbas opened #272 "yaml is too eager (Bugzilla Bug 1527)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1527
Date: 2012-11-28T12:02:16+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @snomos
CC:   @snomos

Last updated: 2012-11-28T21:26:51+01:00

[2012-11-28 11:02] albbas commented on #272
## Comment 7493
Date: 2012-11-28 12:02:16 +0100
From: @Trondtr

To repeat:
Go to main/langs/sje, compile and
pushd /Users/ttr000/main/langs/sje/test/src/morphology; /opt/local/bin/python3.2 /Users/ttr000/main/gtcore/scripts/morph-test.py -c -i -S hfst --app /usr/local/bin/hfst-lookup --gen ./../../../src/generator-gt-norm.hfst --morph ./../../../src/analyser-gt-norm.hfst ./sje-tests-list_gt-norm.y

[2012-11-28 20:26] albbas commented on #272
## Comment 7498
Date: 2012-11-28 21:26:51 +0100
From: @snomos

The test passes as it should after the new infra was made to work on ACSjaggo's computer. Or is it still manifesting itself on Trond's machine? Please re-open if that is the case.

[2012-11-28 20:26] #272 closed, assigned to snomos

[2012-12-02 20:46] #395 closed

[2012-12-03 07:25] albbas commented on #383
## Comment 7503
Date: 2012-12-03 08:25:28 +0100
From: @ciprian-NO

Bug (hopefully) solved:

Testing
1. local

INPUT
diŋgojumi

BEFORE

"<diŋgojumi>"
	 "diŋgojupmi" N Sg Gen
	 "diŋgot" V* TV Der/PassL V* IV Der/upmi N Sg Gen
	 "diŋgojupmi" N Sg Acc
	 "diŋgot" V* TV Der/PassL V* IV Der/upmi N Sg Acc

AFTER

"<diŋgojumi>"
	 "diŋgojupmi" N Sg Gen
	 "diŋgot" V* TV* Der/PassL V* IV* Der/upmi N Sg Acc

[2012-12-03 07:33] albbas commented on #383
## Comment 7504
Date: 2012-12-03 08:33:17 +0100
From: @ciprian-NO

By the way, I was able to test only sme instances, the sma testing is not possible
due to some FST compilation problems. Soon, I will test also the sma stuff.

[2012-12-03 16:03] albbas commented on #383
## Comment 7508
Date: 2012-12-03 17:03:52 +0100
From: @leneantonsen

~$ echo 'gildojuvvon' | usme
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
gildojuvvon	gildit+V+IV+Der/PassL+V+IV+PrfPrc   <==== her er V+IV og V+IV

~$ echo 'gildojuvvon' | usme | lookup2cg
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
"<gildojuvvon>"
	 "gildit" V* IV Der/PassL V IV PrfPrc   <==== her er V* IV og V IV
(ideelt skulle det vær

[2012-12-04 09:49] albbas commented on #383
## Comment 7509
Date: 2012-12-04 10:49:41 +0100
From: @ciprian-NO

Changed this also, as long as I am working at this code.

7,10c7,10
< 	 "gildit" V* IV Der/PassL V IV Actio Gen
< 	 "gildit" V* IV Der/PassL V IV Actio Nom
< 	 "gildit" V* IV Der/PassL V IV Ind Prt ConNeg
< 	 "gildit" V* IV Der/PassL V IV PrfPrc
---

[2012-12-04 09:49] #383 closed, assigned to nobody

[2012-12-11 10:58] albbas commented on #406
## Comment 7523
Date: 2012-12-11 11:58:18 +0100
From: @Trondtr

Hermansen klarer seg betre med --abbr, så K. L. er i orden.

hum-tf4-ans161:sme ttr000$ echo 'K. L. Hermansen:' | preprocess --abbr=bin/abbr.txt
K.
L.
Hermansen
:

Derimot klarer ikkje preprocess kombinasjonen av initial utan mellomrom og kolon etter etternamn:

hum-tf4-ans161:sme ttr000$ echo 'K.L.Hermansen:' | preprocess --abbr=bin/

[2012-12-12 08:55] albbas commented on #382
## Comment 7533
Date: 2012-12-12 09:55:32 +0100
From: @Trondtr

Dette er ikkje ein preprosesseringsbug (lookup2cg gjev ei lesing) men eit lexc-problem (to stiar til målet):

Users$echo 'vuertemetjiehtjele' | usma
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
vuertemetjiehtjele	vuertedh+V+TV+Der/NomAct+N+SgNomCmp+Cmp#tjïehtjele+N+Sg+Nom
vuertemetjiehtjele	vuertedh+V+TV+Der/NomAct+N+SgNomCmp+Cmp#tjïehtjel

[2012-12-12 10:36] albbas commented on #382
## Comment 7538
Date: 2012-12-12 11:36:41 +0100
From: @Trondtr

Her var eg for snar (og førre bugmelding kanskje litt ordknapp). Eg trudde problemet var at "vuertemetjiehtjele" fekk to identiske analyser av usma (= ei lexc-sak). Dei får for så vidt to analyser, og det er ikkje bra, så Maja må gjerne sjå på det.

Men buggen var altså dette:

echo "vuertemetjiehtjele    vuertedh+V+TV+Der/NomAct+N+Sg

[2012-12-12 15:05] albbas opened #408 "Problem: Noen ikke-samiske kombinert med ikke-bokstav etter ordet (Bugzilla Bug 1537)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1537
Date: 2012-12-12T16:05:58+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2012-12-13T08:08:12+01:00

[2012-12-12 15:05] albbas commented on #408
## Comment 7540
Date: 2012-12-12 16:05:58 +0100
From: @leneantonsen

Ikke riktig preprosessering ved bokstav + modifiserende diakritisk tegn kombinert med ikke-bokstav etter ordet

I en pdf-tekst på nettet er teksten ikke skrevet med riktige samiske bokstaver, men med bokstav + diakritikon som separat tegn. Disse er nå lagt inn i spell-relax. Problemet er at preprosseseringa ikke fungerer som den

[2012-12-12 21:32] albbas commented on #408
## Comment 7546
Date: 2012-12-12 22:32:17 +0100
From: @Trondtr

Slette fst-ar var å overdrive, i alle fall i første omgang.

Problemet er at fila attom lenkja representerer Unicode-bokstavane korrekt når eg opnar den, men feil på Lene si maskin. Eg klarer dermed heller ikkje å repetere bugen. Så lenge vi ikkje har kompositte teikn (c + caron, osb.) er det heller ingen preprocess-bug å undersøke.

[2012-12-12 22:54] albbas commented on #382
## Comment 7551
Date: 2012-12-12 23:54:55 +0100
From: @ciprian-NO

Ja, det er det. Jeg kunne dessverre ikke bruke den nye infrastrukturen
pga pyton-installationsproblemer men jeg har kompilert fsten på den gamle måten.

~>echo 'vuertemetjiehtjele' | usma
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
vuertemetjiehtjele	vuertedh+V+TV+Der/NomAct+N+SgNomCmp+Cmp#tjïehtjele+N+Sg+Nom
vuertemetjiehtjele	vuerted

[2012-12-13 07:08] #408 closed

[2012-12-21 12:33] albbas opened #409 "Preprocess inserts period after acronym. (Bugzilla Bug 1542)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1542
Date: 2012-12-21T13:33:41+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @Trondtr
CC:   @leneantonsen, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2014-04-21T18:13:31+02:00

[2013-01-14 12:49] #139 closed, assigned to nobody

[2013-01-14 13:59] #191 closed, assigned to nobody

[2013-01-14 14:00] #188 closed

[2013-01-14 14:01] #178 closed, assigned to nobody

[2013-01-14 14:03] #170 closed, assigned to nobody

[2013-01-14 14:04] albbas commented on #157
## Comment 7693
Date: 2013-01-14 15:04:28 +0100
From: @tomipieski

Fixed.

[2013-01-14 14:04] #157 closed, assigned to nobody

[2013-01-14 14:05] albbas commented on #149
## Comment 7695
Date: 2013-01-14 15:05:56 +0100
From: @tomipieski

Fixed.

[2013-01-14 14:05] #149 closed, assigned to nobody

[2013-01-15 12:46] albbas opened #273 "The command "make check" generates tags that do not exist and removes tags (Bugzilla Bug 1562)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1562
Date: 2013-01-15T13:46:02+01:00
From: @rueter (Originally created by @rueter)
To:   @snomos

Last updated: 2013-02-14T10:05:02+01:00

[2013-01-15 12:46] albbas commented on #273
## Comment 7705
Date: 2013-01-15 13:46:02 +0100
From: @rueter

In main/langs/mdf

make clean
./autogen.sh && ./configure --without-xfst --with-hfst && make

make check

+++
make[3]: Nothing to be done for `check'.
Making check in morphology
make  check-TESTS
+++
generates the file "fail-lemmas.hfst.txt"

The first lines (the bulk) include:
++++
абетшка+N+Sg+Nom+InDef	абетшка+N+Sg+Nom+InDef+?	inf
а

[2013-01-23 09:38] albbas commented on #273
## Comment 7758
Date: 2013-01-23 10:38:35 +0100
From: @rueter

main/langs/yrk

make

make check

+++
make  check-TESTS
PASS: generate-noun-lemmas.sh
FAIL: run-gt-norm-yaml-testcases.sh
SKIP: run-gt-desc-yaml-testcases.sh
make[6]: Nothing to be done for `all'.
/bin/sh:  function fatal(msg) { print "fatal: making test-suite.log: " msg | "cat >&2"; exit 1; } function rst_section(header) { print heade

[2013-02-14 09:05] albbas commented on #273
## Comment 7952
Date: 2013-02-14 10:05:02 +0100
From: @snomos

There's a test script named generate-noun-lemmas.sh that tries to generate the lemma form from the lemma itself. The idea is to grep out all lemmas, then add the proper morphosyntactic tags, run them through the generator, and see if we get the same wordform out as we started with. A sort of self-test.

The script is based on Sámi, and

[2013-02-14 09:05] #273 closed, assigned to snomos

[2013-02-24 10:23] albbas commented on #404
## Comment 7987
Date: 2013-02-24 11:23:19 +0100
From: @Trondtr

Denne bugen er framleis open, og akkurat no ganske plagsom. Vi går gjennom heile sme-dis.rle, og treng sårt korrespondanse i linjenummereringa mellom gullstandard og diff.

Eg prioriterer med andre ord buggen opp.

[2013-02-24 21:05] albbas commented on #404
## Comment 7992
Date: 2013-02-24 22:05:48 +0100
From: @snomos

Hm, I don't have much time within the coming week, thus I'll try handing it over to Ciprian.

[2013-02-26 20:50] #172 closed

[2013-02-26 20:58] #127 closed

[2013-02-26 21:21] #227 closed

[2013-02-26 21:34] #154 closed

[2013-02-26 21:39] #169 closed, assigned to snomos

[2013-02-26 22:08] #152 closed, assigned to snomos

[2013-02-26 22:12] albbas commented on #141
## Comment 8012
Date: 2013-02-26 23:12:31 +0100
From: @snomos

As far as I can tell, this is fixed (ie working ok) in Divvun 2.3 for sme. I close the bug. Reopen if you disagree.

[2013-02-26 22:12] #141 closed, assigned to snomos

[2013-02-27 21:54] #404 closed

[2013-03-03 19:10] albbas opened #233 "ø blir ø og ö i både sme og sma fst (Bugzilla Bug 1624)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1624
Date: 2013-03-03T20:10:16+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @leneantonsen
CC:   berit.nystad.eskonsipo, @ciprian-NO, @lynnda-hill, ritva.nystad, @duomdaamaendra, @Trondtr

Last updated: 2013-05-02T08:58:55+02:00

[2013-03-03 19:10] albbas commented on #233
## Comment 8029
Date: 2013-03-03 20:10:16 +0100
From: @leneantonsen

ø blir ø og ö i  både sme og sma fst, men ikke i smj fst

sme$ usme0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
Björn
Björn	Björn+N+Prop+Mal+Attr
Björn	Bjørn+N+Prop+Mal+Attr

Bjørn
Bjørn	Björn+N+Prop+Mal+Attr
Bjørn	Bjørn+N+Prop+Mal+Attr

Jeg skjønner vitsen med ø => ö i sma, men utover det, forstår jeg ikke hvorfor det skal være slik.

[2013-03-03 20:06] albbas opened #410 "Genitiv merke på numeraler (Bugzilla Bug 1625)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1625
Date: 2013-03-03T21:06:36+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @albbas
CC:   berit.nystad.eskonsipo, @albbas, @lynnda-hill, ritva.nystad, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2017-09-26T17:14:06+02:00

[2013-03-05 07:10] albbas commented on #387
## Comment 8037
Date: 2013-03-05 08:10:45 +0100
From: @leneantonsen

Jeg fortsetter på denne buggen slik at vi har den som referanse for hva som ble gjort 2011.

Divvun bruker typos for å registrere ikke-normerte former vs. normerte former, f.eks. hálit   háliit. Disse går videre til corr.txt og fungerer som retting i forbindelse med preprosseseringa. For analysen er slike rettinger unødvendige, s

[2013-03-05 07:24] albbas commented on #387
## Comment 8038
Date: 2013-03-05 08:24:14 +0100
From: @leneantonsen

En presisering:

Beaivvit	beaivi+Time+N+Pl+Nom
Beaivit beaivit+Adv  <=== denne er riktig i flg. norm

[2013-03-05 09:05] #397 closed

[2013-03-05 10:16] albbas opened #204 "Divvun doesn't work on Windows 8 - is needed in Drag (Bugzilla Bug 1626)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1626
Date: 2013-03-05T11:16:58+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @ilm024

Last updated: 2013-10-09T21:58:09+02:00

[2013-03-25 14:21] albbas commented on #201
## Comment 8102
Date: 2013-03-25 15:21:42 +0100
From: @albbas

2.3 is now reported as installed

[2013-03-25 14:21] #201 closed

[2013-04-22 09:15] albbas opened #274 "sent-proc.sh godtar ikke bindestrek i ord (Bugzilla Bug 1656)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1656
Date: 2013-04-22T11:15:00+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   berit.nystad.eskonsipo, @leneantonsen, @lynnda-hill, ritva.nystad, @snomos, @Trondtr

Last updated: 2014-01-16T15:38:42+01:00

[2013-04-22 09:15] albbas commented on #274
## Comment 8172
Date: 2013-04-22 11:15:00 +0200
From: @leneantonsen

sent-proc.sh godtar ikke bindestrek i ord

smedis 'Sus báhkkanii olles gorut go oinnii Lárina čuvges vuovttaid girje-hilduid duohken.'
gir output

USAGE: 1. sent-proc.sh [-t] [-l=LANG] [-s=PROCESSING_STEP] "INPUT_TEXT"
                       or
       2. cat FILE or echo "INPUT_TEXT" | sent-proc.sh [-t] [-l=LANG] [-s=PROCESSING_S

[2013-04-22 12:29] albbas commented on #274
## Comment 8175
Date: 2013-04-22 14:29:47 +0200
From: @ciprian-NO

Real bug, detected source.

[2013-04-24 07:23] albbas commented on #233
## Comment 8183
Date: 2013-04-24 09:23:19 +0200
From: @snomos

Eg kan reprodusera feilen i ny infra med hfst, men berre med den deskriptive fst-en:

$ hfst-lookup src/analyser-gt-norm.hfst
Bjørn
Bjørn	Bjørn+N+Prop+Mal+Sg+Acc	0.000000
Bjørn	Bjørn+N+Prop+Mal+Sg+Gen	0.000000
Bjørn	Bjørn+N+Prop+Mal+Sg+Nom	0.000000
Bjørn	Bjørn+N+Prop+Mal+Attr	0.000000

Björn
Björn	Björn+N+Prop+Mal+Sg+Acc	0.000000
Björn

[2013-04-29 10:11] albbas opened #205 "The English user documentation on divvun.no is actually in Norwegian (Bugzilla Bug 1661)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1661
Date: 2013-04-29T12:11:31+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @ilm024, @mka055, @snomos, @duomdaamaendra, @tomipieski

Last updated: 2013-05-06T15:39:05+02:00

[2013-04-29 10:13] #192 closed, assigned to nobody

[2013-04-29 10:15] albbas commented on #402
## Comment 8207
Date: 2013-04-29 12:15:27 +0200
From: @tomipieski

I can have a look at ccat and change it if necessary.

[2013-04-29 10:20] albbas commented on #402
## Comment 8209
Date: 2013-04-29 12:20:56 +0200
From: @snomos

(In reply to comment #4)

Yes please, do that  :)

[2013-04-29 10:24] #146 closed, assigned to nobody

[2013-04-29 10:27] #134 closed, assigned to nobody

[2013-05-02 06:49] albbas commented on #233
## Comment 8236
Date: 2013-05-02 08:49:56 +0200
From: @leneantonsen

Dette gjelder den deskriptive fst-en.

I nordsamisk bruker vi ikke ø/ö anna enn i navn. Om noen skriver Gøteborg, og den originale skrivemåten er Göteborg, eller motsatt, så har det evt bare noe å si hvis man skal bruke outputen fra fst til en ny lookup (geo?). Men vi pleier å ha spellrelax i slike lookuper, så jeg foreslår av vi

[2013-05-02 06:58] albbas commented on #233
## Comment 8237
Date: 2013-05-02 08:58:55 +0200
From: @leneantonsen

gt$ svn ci -m "Fjerna en del spellrelax, se bz 1624." common/src/spellrelax.regex
Sending        common/src/spellrelax.regex

fjerna også æ : ä osv

[2013-05-02 06:58] #233 closed

[2013-05-06 13:39] #205 closed, assigned to albbas

[2013-06-06 14:14] albbas commented on #378
## Comment 8346
Date: 2013-06-06 16:14:16 +0200
From: @leneantonsen

echo 'Oahpaheaddji, mun áiggun čuovvut du.' | preprocess --abbr=bin/abbr.txt | l

Oahpaheaddji
,
mun
áiggun
čuovvut
du.

'du' skal ikke være en forkortelse

[2013-07-22 14:00] albbas opened #411 "remove uppercased variants for apertium analysers/generators (Bugzilla Bug 1681)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1681
Date: 2013-07-22T16:00:20+02:00
From: @ftyers (Originally created by @ftyers)
To:   @Trondtr
CC:   @snomos

Last updated: 2014-04-22T07:01:58+02:00

[2013-07-22 14:00] albbas commented on #411
## Comment 8374
Date: 2013-07-22 16:00:20 +0200
From: @ftyers

^GUSNIE<adv>$	GUSNIE/GUSNIE
^LEA<v><ind><prs><sg3>$	LEA/LEA
^jïh<cc>$	Jïh/jïh
^lea<v><ind><prs><du3>$	Lægan/lægan
^Lea<v><ind><prs><sg3>$	Lea/Lea
^lea<v><ind><prs><sg3>$	Lea/lea
^bïjveles<a><sg><nom>$	Bïjvele/bïjvele
^jååktan<adv>$	Jååktan/jååktan

Can we just keep the dictionary case variants in the compiled Apertium-directed FSTs ?

[2013-08-14 13:53] #378 closed, assigned to albbas

[2013-08-14 13:59] albbas commented on #387
## Comment 8407
Date: 2013-08-14 15:59:14 +0200
From: @albbas

Fixed?

[2013-08-14 14:02] #187 closed, assigned to albbas

[2013-08-17 21:00] albbas opened #275 "sms yaml test gives 100% error also when some forms are ok (Bugzilla Bug 1691)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1691
Date: 2013-08-17T23:00:25+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @snomos

Last updated: 2013-10-29T11:52:32+01:00

[2013-08-17 21:00] albbas commented on #275
## Comment 8411
Date: 2013-08-17 23:00:25 +0200
From: @Trondtr

To repeate, in langs/sms:

make
make check
pushd /Users/ttr000/main/langs/sms/test/src/morphology; /opt/local/bin/python3.2 /Users/ttr000/main/gtcore/scripts/morph-test.py -c -i -S hfst --app /usr/local/bin/hfst-lookup --gen ./../../../src/generator-gt-norm.hfst --morph ./../../../src/analyser-gt-norm.hfst  ./N-skeerm_gt-norm.yaml; po

[2013-10-08 20:34] albbas commented on #406
## Comment 8537
Date: 2013-10-08 22:34:02 +0200
From: @albbas

Fikset i r81870-81872

[2013-10-09 19:58] #204 closed, assigned to albbas

[2013-10-09 20:00] albbas commented on #406
## Comment 8554
Date: 2013-10-09 22:00:57 +0200
From: @albbas

Tja.
Det blir kanskje vanskelig å vite når det er et vanlig linjeskift og et skille mellom setninger?

[2013-10-09 20:09] #193 closed, assigned to albbas

[2013-10-09 20:11] #171 closed, assigned to albbas

[2013-10-09 20:14] #387 closed

[2013-10-09 20:16] albbas commented on #406
## Comment 8558
Date: 2013-10-09 22:16:35 +0200
From: @albbas

Tror vi lukker denne, da.

[2013-10-09 20:16] #406 closed

[2013-10-10 06:34] albbas commented on #194
## Comment 8562
Date: 2013-10-10 08:34:14 +0200
From: @snomos

Actually, as things are moving forward with the Voikko+hfst speller, this is important. We need to ensure that all languages we currently develop or are cooperating with others on, are supported at least in LibreOffice, and if not make sure they are supported in LO 2.2.

To get that support we must request them this fall, preferably in

[2013-10-11 17:03] albbas commented on #275
## Comment 8571
Date: 2013-10-11 19:03:52 +0200
From: @snomos

It seems to pass now - is this still an issue?

YAML test 91: ./N-skeerm_gt-norm.yaml + analyser-gt-norm.hfst - PASS
YAML test 91: ./N-skeerm_gt-norm.yaml + analyser-gt-norm.xfst - PASS

[2013-10-29 10:52] albbas commented on #275
## Comment 8656
Date: 2013-10-29 11:52:32 +0100
From: @snomos

No respons - I close it. If there are other bugs, please create new bug reports.

[2013-10-29 10:52] #275 closed, assigned to snomos

[2013-11-14 15:27] albbas opened #234 "Bugs in Xerox tools: wâw sequences, multichar symbols ending in Obj (Bugzilla Bug 1739)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1739
Date: 2013-11-14T16:27:28+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @Trondtr
CC:   @snomos

Last updated: 2016-12-18T13:40:57+01:00

[2013-12-04 13:49] albbas opened #412 "Problemer med dynamiske sammensetninger når forbokstaven endres (Bugzilla Bug 1746)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1746
Date: 2013-12-04T14:49:06+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   @leneantonsen, ritva.nystad, @snomos, @Trondtr

Last updated: 2014-04-29T21:17:19+02:00

[2013-12-17 09:48] albbas commented on #200
## Comment 8786
Date: 2013-12-17 10:48:11 +0100
From: @snomos

This bug is solved by the Divvun 3.0 installer. Closed.

[2013-12-17 09:48] #200 closed

[2013-12-17 09:49] albbas commented on #202
## Comment 8787
Date: 2013-12-17 10:49:33 +0100
From: @snomos

This bug is solved by the Divvun 3.0 installer. Closed.

[2013-12-17 09:50] albbas commented on #195
## Comment 8788
Date: 2013-12-17 10:50:19 +0100
From: @snomos

This bug is solved by the Divvun 3.0 installer. Closed.

[2013-12-17 09:50] #195 closed

[2013-12-17 09:50] #196 closed, assigned to albbas

[2013-12-17 09:53] #197 closed

[2013-12-30 12:34] albbas commented on #232
## Comment 8818
Date: 2013-12-30 13:34:03 +0100
From: @Trondtr

This is a xerox bug, it seems.

[2014-01-16 14:38] albbas commented on #274
## Comment 8936
Date: 2014-01-16 15:38:42 +0100
From: @ciprian-NO

<current_script>

USAGE: 1. sent-proc.sh [-t] [-l=LANG] [-s=PROCESSING_STEP] "INPUT_TEXT"
                       or
       2. cat FILE or echo "INPUT_TEXT" | sent-proc.sh [-t] [-l=LANG] [-s=PROCESSING_STEP]
-l language code: sme North Saami (default), sma South Saami, etc.
-s processing step: pos part-of-speech tagging without disa

[2014-01-16 14:38] #274 closed

[2014-01-16 22:20] albbas opened #235 "sent-proc.pl gjev ikkje output (Bugzilla Bug 1788)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1788
Date: 2014-01-16T23:20:58+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @ciprian-NO
CC:   @ciprian-NO, @leneantonsen, ritva.nystad, @Trondtr

Last updated: 2014-01-17T07:33:16+01:00

[2014-01-16 22:20] albbas commented on #235
## Comment 8938
Date: 2014-01-16 23:20:58 +0100
From: @Trondtr

... sjølv ikkje etter chmod a+x.

Eg endra dermed aliasa i
gt/script/init.d/lookup-init.sh

til å referere til old_sent-proc.pl til det nye scriptet er retta.

Det som skal til:

smedis "Leago ok?"
... pos disambiguating ...
"<Leago>"
	"leat" V <sme> IV Ind Prs Sg3 Qst @+FMAINV
"<ok>"
	"ok" Adv <sme>
"<?>"
	"?" CLB

(og i tillegg
echo

[2014-01-16 23:23] albbas commented on #235
## Comment 8939
Date: 2014-01-17 00:23:38 +0100
From: @ciprian-NO

Just to quote my boss: RTFD!

<quote>
script>sent-proc.sh -h
USAGE: 1. /Users/cipriangerstenberger/main/gt/script/sent-proc.sh [-t] [-l LANG] [-s PROCESSING_STEP] "INPUT_TEXT"
                       or
       2. cat FILE or echo "INPUT_TEXT" | /Users/cipriangerstenberger/main/gt/script/sent-proc.sh [-t] [-l LANG] [-s PROCESSING_STE

[2014-01-17 06:27] albbas commented on #235
## Comment 8940
Date: 2014-01-17 07:27:31 +0100
From: @Trondtr

Feilmeldinga mi galdt lookup-init.sh. sent-proc.sh fungerte ikkje (heller ikkje i dag tidleg) i smedis, smedept, og så vidare.

Skriptet sent-proc.sh skal med andre ord ikkje berre fungere av seg sjølv, men i lag med desse scripta. Bugmeldinga mi var at smedis ikkje gav output, og at eg endra alias til

alias olodis="old_sent-proc.sh

[2014-01-17 06:33] albbas commented on #235
## Comment 8941
Date: 2014-01-17 07:33:16 +0100
From: @Trondtr

Eg har no sjekka på nytt på ulike maskiner. Denne innsjekkinga fiksa buggen:

r86972 | ciprian | 2014-01-17 00:17:46 +0100 (fr., 17 jan. 2014) | 1 line
corrected the paramenter syntax

[2014-01-17 06:33] #235 closed, assigned to nobody

[2014-01-25 19:52] albbas opened #206 "Somali fst crashes hfst LO speller (Bugzilla Bug 1803)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1803
Date: 2014-01-25T20:52:52+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @snomos
CC:   @tomipieski, @Trondtr

Last updated: 2014-01-27T20:59:37+01:00

[2014-01-25 19:56] albbas opened #207 "sjd (Kildin Saami) fst crashes LO speller (Bugzilla Bug 1804)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1804
Date: 2014-01-25T20:56:06+01:00
From: @Trondtr (Originally created by @Trondtr)
To:   @snomos
CC:   @tomipieski, @Trondtr

Last updated: 2014-01-27T15:20:52+01:00

[2014-01-27 14:20] #207 closed, assigned to snomos

[2014-01-27 16:57] albbas commented on #206
## Comment 9016
Date: 2014-01-27 17:57:11 +0100
From: @snomos

After the fixes in twolc and lexc code, SOM now compiles and voikkospell reports the following:

$ voikkospell -l -p tools/spellcheckers/fstbased/hfst/
kk-x-standard: Apertium morphological analyser-based speller (Kazakh)
se-x-standard: Giellatekno/Divvun/UiT fst-based speller for Northern Sami
sjd-x-standard: Giellatekno/Divvun/UiT fs

[2014-01-27 19:59] #206 closed, assigned to snomos

[2014-03-28 06:32] albbas commented on #194
## Comment 9223
Date: 2014-03-28 07:32:05 +0100
From: @snomos

A lot has changed since this bug was last commented, and many languages have been added. Also, Fran was given the task of asking for the remaining languages.

What is the status? Could this bug be closed?

[2014-03-29 00:18] #386 closed, assigned to albbas

[2014-04-21 16:11] albbas commented on #411
## Comment 9320
Date: 2014-04-21 18:11:38 +0200
From: @Trondtr

This is obsolete, right?

[2014-04-21 16:13] #409 closed

[2014-04-21 16:18] albbas commented on #407
## Comment 9325
Date: 2014-04-21 18:18:40 +0200
From: @Trondtr

No har vi berre ein bjørn:

tf-hsl-m0016:langs ttr000$ usme
Bjørn
Bjørn	Bjørn+N+Prop+Sem/Mal+Attr
Bjørn	Bjørn+N+Prop+Sem/Mal+Sg+Nom
Bjørn	Bjørn+N+Prop+Sem/Mal+Sg+Gen
Bjørn	Bjørn+N+Prop+Sem/Mal+Sg+Acc

Björn
Björn	Björn+N+Prop+Sem/Mal+Attr
Björn	Björn+N+Prop+Sem/Mal+Sg+Nom
Björn	Björn+N+Prop+Sem/Mal+Sg+Gen
Björn	Björn+N+Prop+Sem/Mal+Sg

[2014-04-21 16:18] #407 closed

[2014-04-21 19:28] albbas commented on #401
## Comment 9330
Date: 2014-04-21 21:28:36 +0200
From: @Trondtr

 echo "Odne lea dii. 09.00" | apertium -d . sme-nob
I dag er kl. 09.00

I orden.

[2014-04-21 19:28] #401 closed, assigned to Trondtr

[2014-04-22 05:01] albbas commented on #411
## Comment 9337
Date: 2014-04-22 07:01:58 +0200
From: @Trondtr

yes.

[2014-04-22 05:01] #411 closed

[2014-04-28 07:07] albbas commented on #382
## Comment 9355
Date: 2014-04-28 09:07:51 +0200
From: @Trondtr

Godt spørsmål. Eg legg Maja til denne buggen.

[2014-04-29 19:17] #412 closed, assigned to nobody

[2014-05-01 00:56] albbas commented on #402
## Comment 9409
Date: 2014-05-01 02:56:06 +0200
From: @albbas

This issue is fixed.

[2014-05-01 00:56] #402 closed, assigned to nobody

[2014-08-20 09:43] albbas commented on #232
## Comment 9559
Date: 2014-08-20 11:43:39 +0200
From: @Trondtr

Eg gjer framlegg om lukking, dette er eit problem med ulike xerox-versjonar, eit felt der vi ikkje trur det vil skje noko.

[2014-10-04 08:39] albbas opened #236 "kwic-snt does not work with perl 5.16. (but with 5.12) (Bugzilla Bug 1894)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1894
Date: 2014-10-04T10:39:19+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @ciprian-NO
CC:   @ciprian-NO, @leneantonsen, @Trondtr

Last updated: 2016-01-13T14:11:11+01:00

[2014-10-12 05:44] albbas opened #208 "When editing locale/LANG/django.po with Poedit there is no spelling support (Bugzilla Bug 1896)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1896
Date: 2014-10-12T07:44:01+02:00
From: @rueter (Originally created by @rueter)
To:   @snomos
CC:   @tomipieski, @Trondtr

Last updated: 2015-02-13T08:00:01+01:00

[2014-10-12 05:44] albbas commented on #208
## Comment 9624
Date: 2014-10-12 07:44:01 +0200
From: @rueter

Since there is no Mac support for Erzya, for example, I follow a link that tells me what I can do:

http://poedit.net/trac/wiki/Doc/SpellcheckerMac?fromVersion=1.6.9

There are two spellers, one has been developed on aspell.

Is this on our list of things we should be involved in?

Maybe Voikko already works in some .po editor.

[2014-10-21 05:02] #232 closed

[2014-11-04 14:49] albbas commented on #208
## Comment 9744
Date: 2014-11-04 15:49:39 +0100
From: @snomos

From that page:

There is a version of Voikko that runs as a MacOSX spell checker service. So far it has not been built with hfst support, and I haven't been able to build it on my computer last time I tried.

The best bet right now is to ask on the libvoikko mailing list if the maintainer of that code could consider a build with hfst

[2015-01-08 08:55] albbas opened #413 "Abbr-genereringa gjev irriterande åtvaring (Bugzilla Bug 1948)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1948
Date: 2015-01-08T09:55:32+01:00
From: @snomos (Originally created by @snomos)
To:   @ciprian-NO
CC:   @albbas, @leneantonsen, @snomos, @Trondtr

Last updated: 2015-01-08T10:28:24+01:00

[2015-01-08 09:28] #413 closed, assigned to nobody

[2015-01-11 21:44] albbas commented on #379
## Comment 9971
Date: 2015-01-11 22:44:49 +0100
From: @Trondtr

For meg ser det ut til at dette er løyst:

"<Jordanäno>"
	 "Jordanædno" N Prop Plc Pl Nom
	 "Jordanædno" N Prop Plc Sg Gen
"<Jordanänon>"
	 "Jordanædno" N Prop Plc Sg Ine
"<Jordanänos>"
	 "Jordanædno" N Prop Plc Sg Ela
"<Eufratednuj>"
	 "Eufratædno" N Prop Plc Sg Ill
"<tjátjeänov>"
	 "tjátjeä#ædno" N Sg Acc
"<svijnneällo>"
	 "svijnne#

[2015-01-28 10:32] albbas opened #276 "sent-proc.sh -s syn skal bruke korp.cg3 (Bugzilla Bug 1964)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1964
Date: 2015-01-28T11:32:31+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   @Trondtr

Last updated: 2016-01-13T17:02:20+01:00

[2015-01-28 10:32] albbas commented on #276
## Comment 10021
Date: 2015-01-28 11:32:31 +0100
From: @leneantonsen

Pipeline for sent-proc.sh -s syn skal bruke korp.cg3 istedenfor functions.cg3

[2015-02-03 15:03] albbas opened #414 "Feilmelding: Argument "" isn't numeric in numeric... (Bugzilla Bug 1967)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 1967
Date: 2015-02-03T16:03:37+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   @albbas, @leneantonsen, @snomos, @Trondtr, @unhammer

Last updated: 2015-02-04T13:49:54+01:00

[2015-02-03 15:03] albbas commented on #414
## Comment 10056
Date: 2015-02-03 16:03:37 +0100
From: @leneantonsen

cat muitalus.txt | preprocess | l

Argument "" isn't numeric in numeric ne (!=) at /Users/lan000/gtsvn/gt/script/preprocess line 1061, <> line 984.
Argument "" isn't numeric in numeric ne (!=) at /Users/lan000/gtsvn/gt/script/preprocess line 1061, <> line 992.
Argument "" isn't numeric in numeric ne (!=) at /Users/lan000/gtsvn/g

[2015-02-03 15:18] albbas commented on #414
## Comment 10057
Date: 2015-02-03 16:18:48 +0100
From: @ciprian-NO

as with svn r106611

[2015-02-04 12:49] #414 closed

[2015-02-13 07:00] #208 closed

[2015-03-06 21:19] albbas opened #415 "Det blir # foran lemma for en del Cmp (Bugzilla Bug 2011)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2011
Date: 2015-03-06T22:19:26+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @ciprian-NO
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2016-01-15T13:59:12+01:00

[2015-03-06 21:19] albbas commented on #415
## Comment 10327
Date: 2015-03-06 22:19:26 +0100
From: @leneantonsen

~$ echo guovloguovddášsuohkanat | usme | lookup2cg
"<guovloguovddášsuohkanat>"
	 "#guovloguovddáš#suohkan" N Sg Nom PxSg2
	 "#guovloguovddáš#suohkan" N Sg Acc PxSg2
	 "#guovloguovddáš#suohkan" N Pl Nom
	 "#guovloguovddáš#suohkan" N Sg Gen PxSg2

guovloguovddášsuohkanat | usme
guovloguovddášsuohkanat	guovlu+N+SgNomCmp+Cmp#guovdi+

[2015-03-16 13:14] #202 closed

[2015-03-16 13:16] #131 closed, assigned to albbas

[2015-03-16 13:16] #150 closed

[2015-03-16 13:16] #151 closed

[2015-03-16 13:16] #262 closed

[2015-03-16 13:16] #334 closed, assigned to nobody

[2015-03-24 07:41] albbas opened #277 "Proper nouns analysed but not generated in yaml testing (Bugzilla Bug 2024)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2024
Date: 2015-03-24T08:41:39+01:00
From: @snomos (Originally created by @snomos)
To:   @snomos
CC:   @leneantonsen, @mka055, sandra.rahka, @duomdaamaendra, @Trondtr

Last updated: 2015-08-17T13:29:15+02:00

[2015-03-24 07:41] albbas commented on #277
## Comment 10412
Date: 2015-03-24 08:41:39 +0100
From: @snomos

What's more, if giving the same input to the corresponding generator, it works just fine.

-------------------------------------------------
Test 15: Propernoun - Gáddjá (Lexical/Generation)
-------------------------------------------------
[ 1/12][FAIL] Gáddjá+N+Prop+Sem/Fem+Sg+Nom => Missing results: Gáddjá
[ 1/12][FAIL] Gáddjá+N+Pr

[2015-04-01 11:53] albbas opened #416 "kompilering av abbr fungerer ikke (Bugzilla Bug 2030)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2030
Date: 2015-04-01T13:53:07+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @albbas
CC:   @albbas, @ciprian-NO, @snomos, @Trondtr

Last updated: 2015-12-08T15:11:29+01:00

[2015-04-01 11:53] albbas commented on #416
## Comment 10428
Date: 2015-04-01 13:53:07 +0200
From: @leneantonsen

kompilering av abbr fungerer ikke for noen av de samiske språkene, heller ikke for sme. Det fungerte i siste halvdel av februar for sme.

Vi har diskutert dette på epost, men jeg skriver bz slik at dette ikke blir glemt.

[2015-04-22 11:32] albbas commented on #416
## Comment 10442
Date: 2015-04-22 13:32:00 +0200
From: @ciprian-NO

Jeg trengte sme-verktøyet på gtweb for å teste a script å kunne
ikke gjøre ti å funke pga nettopp abbr-fila.
Det måtte jeg hente fra en annen sted.

[2015-04-22 13:51] albbas commented on #416
## Comment 10444
Date: 2015-04-22 15:51:42 +0200
From: @albbas

Jeg har laget en slags løsning i langtech commit r111579, Sjur må sjekke om den er bra nok.

For å kompilere abbr.txt for sme, gjør følgende:

svn up
cd $GTHOME/langs/sme
./autogen.sh
./configure --enable-abbr
make
cd tools/preprocess
make abbr

[2015-04-22 14:35] albbas commented on #416
## Comment 10445
Date: 2015-04-22 16:35:34 +0200
From: @ciprian-NO

Akkurat nå tested på gtweb:
sme>hostname
gtweb.uit.no
sme>pwd
/home/ciprian/main/langs/sme
sme>svn up
Updating '.':
På revisjon 111590.
sme>./autogen.sh -l
sme>. ~/.bash_profile
sme>cd tools/preprocess/
preprocess>pwd
/home/ciprian/main/langs/sme/tools/preprocess
preprocess>make abbr
make: *** No rule to make target `abbr'.  Stop.

[2015-04-22 14:39] albbas commented on #416
## Comment 10446
Date: 2015-04-22 16:39:40 +0200
From: @snomos

(In reply to comment #3)

Du hoppa over eit viktig steg som Børre hadde med i lista si:

./configure --enable-abbr
make

[2015-04-22 15:07] albbas commented on #416
## Comment 10447
Date: 2015-04-22 17:07:20 +0200
From: @ciprian-NO

Nei, det har jeg ikke, jeg har bare glemt å c&p herinni.

preprocess>history

 1009  ./configure --enable-abbr
 1010  make
 1011  cd tools/preprocess/
 1012  ls

[2015-04-22 16:42] albbas commented on #416
## Comment 10448
Date: 2015-04-22 18:42:21 +0200
From: @albbas

FWIW, funket på gtlab for meg med følgende kommandorekke:
 1088  cd $GTHOME
 1089  cd gtcore/
 1090  svn up
 1091  ./autogen.sh && ./configure && make
 1092  cd ../langs/sme
 1093  svn up
 1094  GTHOME_sme=`pwd` ./autogen.sh
 1095  GTLANG_sme=`pwd` ./autogen.sh
 1096  ./configure --enable-abbr
 1097  cd tools/preprocess/
 1098  make a

[2015-04-24 09:45] albbas opened #278 "Yamltest for comp-nouns feiler i HFST (Bugzilla Bug 2033)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2033
Date: 2015-04-24T11:45:02+02:00
From: Sandra Nystø Rahka &lt;sandra.rahka&gt;
To:   @snomos

Last updated: 2015-09-04T15:13:34+02:00

[2015-06-12 10:29] albbas opened #417 "splitting up of semantic combined tags when running lookup (Bugzilla Bug 2058)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2058
Date: 2015-06-12T12:29:59+02:00
From: @lynnda-hill (Originally created by @lynnda-hill)
To:   @ciprian-NO
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2016-01-13T17:04:19+01:00

[2015-06-12 10:29] albbas commented on #417
## Comment 10529
Date: 2015-06-12 12:29:59 +0200
From: @lynnda-hill

Something weird happens to the semantic tag combination:
Sem/Group_Hum_Plc

in the noun lexicon - nouns.lexc. (e.g. luohkká, leaira).
When running lookup there are suddenly two split tags:

echo "luohkká."| preprocess  | lookup -flags mbTT -utf8 ~/main/gt/sme/bin/sme-norm.fst | less

luohkká luohkká+Sem/Group_Hum+Sem/Plc+N+Sg+Nom

[2015-06-12 12:28] albbas commented on #417
## Comment 10530
Date: 2015-06-12 14:28:29 +0200
From: @leneantonsen

Jeg får ikke samme resultat som Linda.

analyser-gt-norm.xfst gir ingen semantiske tagger (noe som den heller ikke skal gi)

hdn$ echo 'luohkká.' | preprocess | lookup -flags mbTT -utf8 ~/gtsvn/langs/sme/src/analyser-gt-norm.xfst
0%>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>100%
luohkká	luohkká+N+Sg+Nom

.	.+CLB

hdn$ echo 'luohkká.' | pr

[2015-06-12 12:31] albbas commented on #417
## Comment 10531
Date: 2015-06-12 14:31:59 +0200
From: @leneantonsen

/main/gt/sme/bin/sme-norm.fst

dette er gammel infra!

[2015-06-12 17:13] albbas commented on #417
## Comment 10532
Date: 2015-06-12 19:13:20 +0200
From: @lynnda-hill

(In reply to comment #2)

du har rett

[2015-07-02 13:54] albbas opened #279 "morph-test.py -p shouldn't list headings of empty sections (Bugzilla Bug 2067)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2067
Date: 2015-07-02T15:54:14+02:00
From: @unhammer (Originally created by @unhammer)
To:   @snomos
CC:   @Trondtr

Last updated: 2019-10-02T00:11:30+02:00

[2015-08-12 14:56] albbas opened #280 "Writing tests in LANG/src/phonology/LANG-phon.twolc takes _!€_; it would be good to have tests show in jpswiki documentation (Bugzilla Bug 2073)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2073
Date: 2015-08-12T16:56:45+02:00
From: @rueter (Originally created by @rueter)
To:   @snomos

Last updated: 2016-01-13T10:02:35+01:00

[2015-08-12 14:56] albbas commented on #280
## Comment 10594
Date: 2015-08-12 16:56:45 +0200
From: @rueter

It would be nice to have automatic documentation of phonology where test pairs are shown in the .jpswiki output documents.

!! riõkkâd+V+Ind+Prs+Sg3 __to whip__
!€ riõkˈk%^VOWLower#
!€ reâkˈk0#

With the way things are now, only the first of three lines appears:
!! riõkkâd+V+Ind+Prs+Sg3 __to whip__

[2015-08-17 11:29] albbas commented on #277
## Comment 10612
Date: 2015-08-17 13:29:15 +0200
From: @snomos

This bug seems to have been fixed by other actions since it was reported - all tests are now passing, both for Hfst and for Xerox.

And since I did not provide an accurate receipt of how to reproduce the bug, I am now NOT ABLE TO VERIFY this conclusion. Bad on me.

[2015-08-17 11:29] #277 closed, assigned to snomos

[2015-08-26 17:04] albbas commented on #416
## Comment 10625
Date: 2015-08-26 19:04:04 +0200
From: @leneantonsen

Jeg prøvde kommandoene Børre foreslo, men i msn. Jeg fikk ingen abbr.

preprocess$ make abbr
make: Nothing to be done for `abbr'.

[2015-09-04 13:13] #278 closed, assigned to snomos

[2015-09-09 07:57] albbas commented on #181
## Comment 10668
Date: 2015-09-09 09:57:33 +0200
From: @snomos

An old issue that we'll have to look into before releasing the next version. Reduced importance.

[2015-10-19 07:14] albbas opened #281 "lemma-generate testing stopper yaml-testing (Bugzilla Bug 2098)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2098
Date: 2015-10-19T09:14:00+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @snomos
CC:   @Trondtr

Last updated: 2018-05-25T20:44:40+02:00

[2015-10-19 12:54] albbas commented on #281
## Comment 10811
Date: 2015-10-19 14:54:52 +0200
From: @Trondtr

Eg er samd med lene. For oss er situasjonen rett og slett ikkje stabil nok, og det varierer frå dag til dag om alle går gjennom eller ikkje. Vi treng ein tredje opsjon: Here are the test that we do not know whether pass or not.

[2015-11-08 09:29] albbas commented on #416
## Comment 10825
Date: 2015-11-08 10:29:37 +0100
From: @Trondtr

Denne buggen har vore "as soon as possible" sidan august, og han fungerer framleis ikkje. Eg repeterte Børre sine kommandoar, men for sje, og fekk same svar som Lene.

Derimot fungerer Børre sitt mellombelse hack for sme, på mi maskin. Det er ein bra start for debugginga.

Det er ingenting i Børre sin rekkje av kommandoar som burde v

[2015-11-08 13:11] albbas commented on #416
## Comment 10826
Date: 2015-11-08 14:11:54 +0100
From: @albbas

Har brukt denne bruksanvisnigen: http://divvun.no/doc/infra/infraremake/NewInfraMaintenance.html#Task+-+modify+an+existing+target

En start på å flette inn sme-endringen er gjort i r124730, sjekker om endringen fungerer for de andre språkene nå, før jeg sjekker inn endringen for alle språkene.

[2015-11-08 13:34] albbas commented on #416
## Comment 10827
Date: 2015-11-08 14:34:17 +0100
From: @albbas

(In reply to Børre Gaup from comment #9)

make abbr gir dette resultatet i sma, smj og smn:
giellatekno:preprocess boerre$ make abbr
  GEN      abbr.txt
/Users/boerre/gtsvn/gtcore/scripts/extract-abbr.pl: reading file ../../src/morphology/stems/abbreviations.lexc
/Users/boerre/gtsvn/gtcore/scripts/extract-abbr.pl: reading file ../../s

[2015-11-09 11:40] albbas commented on #416
## Comment 10829
Date: 2015-11-09 12:40:01 +0100
From: @snomos

(In reply to Børre Gaup from comment #10)

Pga dette sender eg lusmeldinga vidare til Børre.

Eg kan ikkje sjå korleis endringa til Børre kan føra til at det no fungerer, men om det faktisk gjer det, så er det jo bra:)

[2015-11-09 13:10] albbas commented on #416
## Comment 10830
Date: 2015-11-09 14:10:14 +0100
From: @albbas

(In reply to Sjur Nørstebø Moshagen from comment #11)

En av grunnene er rekkefølgene av taggene i leksikonene.
I sme, der strenger blir sendt til lookup, ser disse strengene slik ut:
mii% nu+MWE+Pron+Indef+Sg+Nom+Err/Orth:miinu # ;

I outputet fra extract-abbr.pl kommer det et slikt svar ut:
    Pron 7 of 13 potential forms for mii n

[2015-11-09 13:14] albbas commented on #416
## Comment 10831
Date: 2015-11-09 14:14:53 +0100
From: @Trondtr

Denne kommentaren skreiv eg samtidig med Børre si siste melding, men det ser ut til at dei to kommentarane ikkje berører kvarandre. Børre skriv om MWE, eg rapporterer at Makefile ikkje les abbreviations.lexc.

Min kommentar:

Det ser dessverre ikkje ut som det fungerer. Eg går til smn,

  517  cd ../langs/smn
  518  ./configure --ena

[2015-11-09 13:17] albbas commented on #416
## Comment 10832
Date: 2015-11-09 14:17:40 +0100
From: @Trondtr

... når eg sjekkar på nytt viser det seg at den ny"kompilerte" abbr.txt er identisk med den gamle, som Lene hadde kopiert frå sme (eg kopierte hennar over i ei fil manualabbr.txt):

 ll tools/preprocess/abbr.txt tools/preprocess/manualabbr.txt
-rw-r--r--  1 ttr000  1907360568  4132  8 nov 23:14 tools/preprocess/abbr.txt
-rw-r--r--  1

[2015-11-09 13:33] albbas commented on #416
## Comment 10833
Date: 2015-11-09 14:33:15 +0100
From: @albbas

(In reply to Trond Trosterud from comment #13)

Ut i fra denne kommandorekken, ser det ut til at du mangler kommandoen som bygger abbr.txt

cd tools/preprocess
rm abbr.txt; make abbr

[2015-11-09 14:59] albbas commented on #416
## Comment 10835
Date: 2015-11-09 15:59:09 +0100
From: @albbas

langtech r124826 (In reply to Børre Gaup from comment #12)

Det så ut til at bare sma hadde feilplassering av +MWE-taggen.
r124826 fikser det problemet.

Ellers ser +MWE stort sett ut til å glimre med sitt fravær overalt unntatt i sme. Det forklarer hvorfor lookup stort sett ikke får noe input i extract-abbr.pl.

langs $ fgrep -r '+MW

[2015-12-07 20:51] albbas opened #282 "Speller test result conversion fails for Hunspell-like data (Bugzilla Bug 2126)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2126
Date: 2015-12-07T21:51:13+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas

Last updated: 2015-12-08T12:01:19+01:00

[2015-12-08 11:01] albbas commented on #282
## Comment 10935
Date: 2015-12-08 12:01:19 +0100
From: @albbas

Feilen i speller-testres.pl er fikset i langtech r126323

[2015-12-08 11:01] #282 closed, assigned to albbas

[2015-12-08 14:11] albbas commented on #416
## Comment 10937
Date: 2015-12-08 15:11:29 +0100
From: @albbas

Har ikke hørt noe om denne på en stund, lukker den.

[2015-12-08 14:11] #416 closed

[2015-12-08 19:17] albbas opened #283 "Speller test result conversion fails for SMA + hfst-ospell-office (Bugzilla Bug 2128)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2128
Date: 2015-12-08T20:17:42+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas

Last updated: 2015-12-08T21:20:10+01:00

[2015-12-08 20:20] #283 closed, assigned to albbas

[2015-12-15 14:31] albbas opened #209 "+NP/First creates issues (Bugzilla Bug 2134)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2134
Date: 2015-12-15T15:31:04+01:00
From: @duomdaamaendra (Originally created by @duomdaamaendra)
To:   @duomdaamaendra
CC:   @tomipieski, @Trondtr

Last updated: 2017-03-02T10:47:02+01:00

[2015-12-15 14:31] albbas commented on #209
## Comment 10979
Date: 2015-12-15 15:31:04 +0100
From: @duomdaamaendra

0.1 15/12 2015

easka+CmpN/SgN+CmpN/SgG+CmpNP/First+Sem/Plant:eas'ka GOAHTI-A ;
eapmi+CmpN/SgN+CmpN/SgG+CmpNP/First+Sem/Plant:eapmi ALBMI ;

these words doesn't compound in SgGen

eamigolli, easkkaruhta

[2015-12-15 14:35] albbas commented on #209
## Comment 10980
Date: 2015-12-15 15:35:00 +0100
From: @snomos

We'll look at this after the release.

[2016-01-13 09:02] albbas commented on #280
## Comment 11059
Date: 2016-01-13 10:02:35 +0100
From: @snomos

Fixed as of today, Giella commits r128072-r128079.

NB!!! For this to work when building & testing with Hfst, you need hfst r4599! Testing with Xerox does not require any action, all required changes are already committed.

Documentation has to be rebuilt before the new test data will show up.

[2016-01-13 09:02] #280 closed

[2016-01-13 13:11] #236 closed, assigned to nobody

[2016-01-13 16:02] albbas commented on #276
## Comment 11070
Date: 2016-01-13 17:02:20 +0100
From: @ciprian-NO

Lene løste dette med svn r107254

[2016-01-13 16:02] #276 closed

[2016-01-13 16:04] albbas commented on #417
## Comment 11071
Date: 2016-01-13 17:04:19 +0100
From: @ciprian-NO

Dvs at Linda skal bruke den nye filen.

[2016-01-13 16:04] #417 closed

[2016-01-13 19:40] albbas commented on #415
## Comment 11074
Date: 2016-01-13 20:40:11 +0100
From: @ciprian-NO

(In reply to Lene Antonsen from comment #0)
Jeg har sjekket nå med
~>date
Wed Jan 13 20:38:47 CET 2016
~>echo industriijagoarideami | usme | lookup2cg
"<industriijagoarideami>"
	 "industriija#goaridit" V* TV* Der/NomAct N Sg Gen
	 "industriija#goaridit" V* TV* Der/NomAct N Sg Acc
og dette har ikke slike problemer men guovloguovddá

[2016-01-15 12:59] albbas commented on #415
## Comment 11075
Date: 2016-01-15 13:59:12 +0100
From: @ciprian-NO

Fixed in the svn r128249.

[2016-01-15 12:59] #415 closed, assigned to nobody

[2016-01-19 09:34] albbas opened #284 "Hunspell-utdata blir ikkje rett konvertert til xml i stavekontrolltestbenk - tokens istf spellerdata (Bugzilla Bug 2147)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2147
Date: 2016-01-19T10:34:34+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas

Last updated: 2016-01-22T14:08:58+01:00

[2016-01-19 09:34] albbas commented on #284
## Comment 11088
Date: 2016-01-19 10:34:34 +0100
From: @snomos

Hunspell-parsaren i testbenken har problem med å tolka data, og produserer ting som:

    <word corrsugg="0">
      <original status="error">1999-n</original>
      <speller/>
      <expected>1999:n</expected>
      <edit_dist>1</edit_dist>
      <tokens count="1">
        <token>AAJNA</token>
      </tokens>
      <errors>
        <e

[2016-01-19 10:36] albbas commented on #284
## Comment 11090
Date: 2016-01-19 11:36:32 +0100
From: @snomos

Data sjekka inn i svn r3398 ($GTBIG).

[2016-01-19 13:09] albbas opened #285 "Hfst-ospell-office-utdata blir ikkje rett konvertert i stavekontrolltestbenk - inn/ut ute av synk (Bugzilla Bug 2149)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2149
Date: 2016-01-19T14:09:20+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas

Last updated: 2016-01-20T12:54:08+01:00

[2016-01-19 13:09] albbas commented on #285
## Comment 11091
Date: 2016-01-19 14:09:20 +0100
From: @snomos

I inndata smj/all-gs-smj.txt har eg slike data:

Anne
AnneBerit	Anne Berit	#errorinfo=cmp-1-X, file: blogg_4.correct.txt.xml
AnneBerita	Anne Berita	#errorinfo=cmp,1-X, file: blogg_4.correct.txt.xml
Ante

Stavekontrollen produserer dette:

*
&	Anne-Berit	Anne-Brit	Anne-erut	Anne-erat
&	Anne-Berita	Anne-Brita
*

I xml-fila får eg dette:

[2016-01-19 13:13] albbas commented on #285
## Comment 11092
Date: 2016-01-19 14:13:42 +0100
From: @snomos

Data needed to reproduce the bug committed in r3402 ($GTBIG).

[2016-01-19 13:50] albbas opened #286 "Tidsbruken til stavekontrollane kjem ikkje med i xml-fila - viser alltid null (Bugzilla Bug 2150)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2150
Date: 2016-01-19T14:50:00+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas

Last updated: 2016-01-20T13:33:32+01:00

[2016-01-19 13:50] albbas commented on #286
## Comment 11093
Date: 2016-01-19 14:50:00 +0100
From: @snomos

Stavekontrolltestbenken seier at det har gått 0 sekund, sjølv om korrekte data finst i fila for tidsdata. Data for å reprodusera feilen finst i anten http://giellatekno.uit.no/bugzilla/show_bug.cgi?id=2147 eller http://giellatekno.uit.no/bugzilla/show_bug.cgi?id=2149.

[2016-01-19 15:05] albbas commented on #285
## Comment 11094
Date: 2016-01-19 16:05:58 +0100
From: @albbas

På min Linux-maskin, med selvkompilert hfst-ospell så krasjer hfst-ospell-office etter å gjort seg ferdig med stavekontrollen, men antall linjer i input og output blir det samme.

I outputet som ligger i svn så er input og output kommet ut av synk helt på slutten:

Dette er linje 27869 til 27881 (slutten) av goldstandard.spin.txt
5 ba

[2016-01-19 15:12] albbas commented on #285
## Comment 11095
Date: 2016-01-19 16:12:28 +0100
From: @snomos

Ja, det kan stemma. Men synkroniseringsfeila eg har fått er tidleg i dokumentet, ikkje i starten.

[2016-01-19 15:37] albbas commented on #285
## Comment 11096
Date: 2016-01-19 16:37:00 +0100
From: @albbas

(In reply to Sjur Nørstebø Moshagen from comment #3)

hfst-ospell(-office) er så ryddig at den gir et svar til hvert av input-ordene, og gjør den ikke det, så har den kræsjet.

Så om spin- og spout-filene har ulikt antall linjer har vi to muligheter:

1) vi kan stoppe genereringa av resultat-fila med en feilmelding.
2) lese inn like m

[2016-01-19 15:41] albbas commented on #285
## Comment 11097
Date: 2016-01-19 16:41:03 +0100
From: @albbas

(In reply to Børre Gaup from comment #4)

2 er å foretrekke, skulle jeg tro, så jeg begynner å løse det på den måten.

[2016-01-19 18:10] albbas commented on #285
## Comment 11098
Date: 2016-01-19 19:10:40 +0100
From: @snomos

(In reply to Børre Gaup from comment #5)

Ja, bra.

[2016-01-19 23:16] albbas commented on #382
## Comment 11100
Date: 2016-01-20 00:16:45 +0100
From: @ciprian-NO

Bug fixed with the commit revision 128486

It is because of 'tj' that occurs twice in the simplex.

echo 'vuertemetjiehtjele' | usma | lookup2cg "<vuertemetjiehtjele>"
	 "vuerteme#tjïehtjele" N Sg Nom
	 "vuerteme#tjïehtjele" Err/Orth N Sg Nom

[2016-01-19 23:16] #382 closed, assigned to nobody

[2016-01-19 23:31] #379 closed, assigned to nobody

[2016-01-20 11:54] #285 closed, assigned to albbas

[2016-01-20 12:33] albbas commented on #286
## Comment 11103
Date: 2016-01-20 13:33:32 +0100
From: @albbas

Grunnen til feilen var at $timeuse ble behandlet som om det var en fil, men det er en streng.

Dette er fikset i langtech r128516.

[2016-01-20 12:33] #286 closed

[2016-01-20 16:04] albbas commented on #284
## Comment 11109
Date: 2016-01-20 17:04:37 +0100
From: @albbas

Et felles problem for alle spellerene med uttrykk i input (all-gs-sma.txt) som inneholder \n.

Dette er tre uttrykk som blir sendt inn i spelleren:
AAJNA\t\n
AAJNA\n
Aajna\t\n
AALKOVE\n

Hunspell svarer slik på dette:
---
& AAJNA 11 0: AANJA, AAJMA, LAAJNA, BAAJNA, NAAJA, AASNA, BAJNA, AAJKA, GAJNA, AANNA, STAAJNA

& AAJNA 11 0: AANJA

[2016-01-20 16:39] albbas commented on #284
## Comment 11110
Date: 2016-01-20 17:39:36 +0100
From: @albbas

Uttrykk med bindestrek blir behandlet som om det er flere ord på samme linje.

Med input:
1996-n

blir output:
*
& n 8 5: nr, á, A, P, H, B, W, Nå

Et annet eksempel er:
Anne-Lise

hunspell svarer:
*
*

mao. at både Anne og Lise er riktig stavet.

Bievnesh-åasa får svaret:
& Bievnesh 6 0: Bievnedh, Bievnesth, Bïevnesh, Bievnelh, Bievn

[2016-01-20 19:59] albbas commented on #284
## Comment 11111
Date: 2016-01-20 20:59:21 +0100
From: @snomos

(In reply to Børre Gaup from comment #2)

[...]

Ja, og det er såpass få slike at det bør vera relativt enkelt å fjerna dei i correct-filene. Dvs at vi ikkje skal ta omsyn til dette når vi parsar testresultata.

[2016-01-21 07:45] albbas opened #287 "SME/Voikko-testing gjev feilmelding på čáđa når voikkodata blir lese (Bugzilla Bug 2152)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2152
Date: 2016-01-21T08:45:44+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @snomos

Last updated: 2018-05-07T09:39:32+02:00

[2016-01-21 07:45] albbas commented on #287
## Comment 11117
Date: 2016-01-21 08:45:44 +0100
From: @snomos

For å gjenta:

1) cd $GTBIG/prooftesting/sme/voikko
2) svn up ..
3) make

Då får eg meldinga:

$ make
/Users/smo036/langtech/main/gtcore/scripts/speller-testres.pl \
		--engine=vk \
		--lang=sme \
		--input=../all-gs-sme.txt \
		--output=goldstandard.spout.txt \
		--document=all-gs-sme.txt \
		--date=20160120-1503 \
		--version="se-4.

[2016-01-21 07:51] albbas commented on #287
## Comment 11118
Date: 2016-01-21 08:51:00 +0100
From: @snomos

Gjentakingsdata sjekka inn i r3413 ($GTBIG).

[2016-01-21 12:24] albbas commented on #284
## Comment 11120
Date: 2016-01-21 13:24:08 +0100
From: @albbas

On closer inspection, the character between (In reply to Børre Gaup from comment #2)

Etter å tatt en nærmere titt på disse tre linjene fant jeg ut at de så slik ut:
AAJNA\t\n
AAJNA\x2028
Aajna\t\n
AALKOVE\n

\x2028 er denne bokstaven:
U+2028 LINE SEPARATOR og forklarer hvorfor "linjeskiftet" ikke blir oppdaget …

[2016-01-22 13:08] #284 closed

[2016-01-23 17:15] albbas commented on #287
## Comment 11122
Date: 2016-01-23 18:15:54 +0100
From: @albbas

Linje 7809-47 i filene ../all-gs-sme.txt og goldstandard.spin.txt begynner med #. Disse filene er på 99331 linjer.

Disse linjene ble sendt inn i spelleren og lager output.

Når man leser inn ../all-gs-sme.txt inn i arrayet originals i funksjonen read_typos, blir disse linjene fjernet. Lengden på originals blir da 99331 - antallet lin

[2016-03-02 09:48] albbas opened #418 "hfst-tokenise as replacement for preprocess+lookup2cg (Bugzilla Bug 2160)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2160
Date: 2016-03-02T10:48:26+01:00
From: @unhammer (Originally created by @unhammer)
To:   @unhammer
CC:   @leneantonsen, @snomos, @Trondtr

Depends on:   #2159, #2162, #2165, #2168, #2232, #2233
Last updated: 2017-10-27T15:34:27+02:00

[2016-03-02 12:52] albbas opened #419 "possible to represent MWE-ambiguity within pmatch? (Bugzilla Bug 2162)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2162
Date: 2016-03-02T13:52:29+01:00
From: @unhammer (Originally created by @unhammer)
To:   @snomos
CC:   @leneantonsen, @lynnda-hill, @snomos, @duomdaamaendra, @Trondtr

Blocker for:  #2160
Last updated: 2017-09-08T14:40:47+02:00

[2016-03-10 15:01] albbas opened #420 "module to split MWE-ambiguous cohorts (Bugzilla Bug 2165)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2165
Date: 2016-03-10T16:01:07+01:00
From: @unhammer (Originally created by @unhammer)
To:   @ciprian-NO
CC:   @leneantonsen, @snomos, @Trondtr

Blocker for:  #2160
Last updated: 2016-05-26T16:42:48+02:00

[2016-03-10 15:01] albbas commented on #420
## Comment 11240
Date: 2016-03-10 16:01:07 +0100
From: @unhammer

Given http://giellatekno.uit.no/bugzilla/show_bug.cgi?id=2162 is solved, we want a module that turns

"<3.>"
        "." PUNCT "<.>"
                "3" Num "<3>"

into

"<3.>"
        "3" Num
"<.>"
        "." PUNCT

We may assume the *number of cohorts* is unambiguous, e.g. if input has

"<3.>"
        "3." Adj Ord
        "." PUN

[2016-03-10 15:01] albbas commented on #420
## Comment 11241
Date: 2016-03-10 16:01:15 +0100
From: @unhammer

An unresolved issue: currently the solution in http://giellatekno.uit.no/bugzilla/show_bug.cgi?id=2162 for multiwords outputs the space on the left-hand form:

"<dalle go>"
        "go" Pcle Qst <W:0> "<go>"
                "dalle" Adv Sem/Time <W:0> "<dalle >"

We could assume that whitespace on the edge of a form can always be tur

[2016-03-15 13:46] albbas commented on #419
## Comment 11252
Date: 2016-03-15 14:46:07 +0100
From: @unhammer

(In reply to Sjur Nørstebø Moshagen from comment #11)

Eg får ikkje til same resultat når eg kompilerer sjølv, men det er sikkert noko feil i mitt oppsett. Men når eg prøvde å legga inn .hfst-fila du hadde i http://filebin.net/mvvnmqgal0 i mappa mi, så fekk eg:

$ echo skuvla busse | hfst-tokenise -wacku: tokeniser-disamb-gt-desc.pm

[2016-03-16 08:36] albbas opened #421 "føy inn endringar i pmatch/hfst-tokenise i hfst master (Bugzilla Bug 2168)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2168
Date: 2016-03-16T09:36:18+01:00
From: @unhammer (Originally created by @unhammer)
To:   @ciprian-NO
CC:   @leneantonsen, @snomos, @Trondtr

Blocker for:  #2160
Last updated: 2016-04-27T12:24:02+02:00

[2016-04-14 12:40] albbas commented on #420
## Comment 11299
Date: 2016-04-14 14:40:21 +0200
From: @unhammer

Implementert i https://github.com/unhammer/cg-mwesplit

[2016-04-18 09:28] albbas commented on #421
## Comment 11301
Date: 2016-04-18 11:28:42 +0200
From: @unhammer

PR309 er inne; for resten prøver eg å legga endringane inn i eit flagg --gtd i staden for --cg i hfst-tokenise

[2016-04-21 17:41] albbas commented on #419
## Comment 11310
Date: 2016-04-21 19:41:34 +0200
From: @unhammer

Linda nemnte noko viktig: Me må kanskje reanalysera *utan* mellomrom òg; det er nemleg svært verdifull informasjon for særskrivingsdisambiguering at «skuvlabusses» har ein leksikalisert analyse, medan t.d. «bárdnibusses» ikkje har det (som gjer at «bárdni busses» meir sannsynleg er korrekt enn «skuvla busses»).

[2016-04-21 17:49] albbas commented on #419
## Comment 11311
Date: 2016-04-21 19:49:42 +0200
From: @snomos

(In reply to Kevin Brubeck Unhammer from comment #15)

Men vil ikkje slike feil bli oppdaga som valensfeil? T.d. som manglande objekt etter verb t.d. Spørsmålet er kor mykje tvetydigheit vi får dersom vi byrjar å reanalysera på denne måten. Og: vil det ikkje vera betre at vi gjer ei slik reanalysering i CG?

[2016-04-21 19:30] albbas commented on #419
## Comment 11312
Date: 2016-04-21 21:30:40 +0200
From: @unhammer

(In reply to Sjur Nørstebø Moshagen from comment #16)

Hm, ja me vil jo ikkje ha ein ekstra analyse, men informasjonen om at ein ekstra analyse ville vore mogleg om det ikkje var eit mellomrom der. Altså, «skuvla busse» er tvetydig mellom +N+Err/SpaceCmp og to ord +N +N, men sjølvsagt ikkje med den feilfrie eittordsanalysen.

Likeve

[2016-04-26 10:02] albbas commented on #419
## Comment 11315
Date: 2016-04-26 12:02:12 +0200
From: @lynnda-hill

Kevin har rett, det som er av verdi er nettopp det å vite om det er leksikalisert.
Problemet er jo at CGen ikkje kan referere til 2 ord, sette dem sammen og sjekke om de er leksikaliserte. Og en syntaktisk analyse aleine gir dårlige resultat (vi har prøvd og lagt til en hel rekke med unntakk) fordi det fins en hel del syntaktiske

[2016-04-26 10:15] albbas commented on #419
## Comment 11316
Date: 2016-04-26 12:15:42 +0200
From: @lynnda-hill

Duommá sa forresten at det er mange leksikaliserte sammensetninger i substantivfila siden han jobba med det for spellcheckeren. Det er jo en resurs som vi burde utnytte.

(In reply to Linda Wiechetek from comment #18)

[2016-04-27 10:24] #421 closed, assigned to nobody

[2016-05-18 12:31] albbas commented on #419
## Comment 11331
Date: 2016-05-18 14:31:07 +0200
From: @snomos

(In reply to Kevin Brubeck Unhammer from comment #17)

Det finst ein enkel måte å gjera dette på:

å la # i alle samansette, leksikaliserte ord (som har # som ordgrense før dei blir fjerna i den endelege analysatoren) valfritt gå til " " (mellomrom). Då vil særskriving av leksikaliserte ord bli analyserte som leksikaliserte ord :) Og

[2016-05-24 10:41] albbas commented on #419
## Comment 11332
Date: 2016-05-24 12:41:34 +0200
From: @snomos

(In reply to Sjur Nørstebø Moshagen from comment #20)

Denne delen er no i boks, og fst-en har vorte _mindre_ (ikkje pga denne endringa, men pga at eg retta ein logisk brest som hadde vorte oversett).

Det som står att no er:
* å få korrekte analyser for ikkje-samansetjingsanalysene (er på veg, truleg i boks snart)
* å retta ein regre

[2016-05-24 12:30] albbas commented on #419
## Comment 11333
Date: 2016-05-24 14:30:13 +0200
From: @unhammer

(In reply to Sjur Nørstebø Moshagen from comment #21)

Eg er veldig usikker på om den metoden eigentleg er nok – det innebærer mykje manuell pirk i leksikon for noko som burde vera mogleg å automatisera. Altså, problemet er som tidlegare at me vil ha fleirordsanalysar av *alle og berre* dei analysane som er tvetydige med særskriving

[2016-05-25 08:08] albbas commented on #419
## Comment 11334
Date: 2016-05-25 10:08:57 +0200
From: @snomos

(In reply to Kevin Brubeck Unhammer from comment #22)

[...]

Eg er samd, og etter at vi no har testa alternativet, og eg har tenkt meir på saka, ser eg det som det einaste fungerande alternativet. Eg har skrive e-post til Sam og Krister for å høyra kva dei meiner.

Eg har kome fram til at dette ikkje er ein farbar veg, av fleire grun

[2016-05-26 14:42] albbas commented on #420
## Comment 11335
Date: 2016-05-26 16:42:48 +0200
From: @unhammer

https://github.com/unhammer/vislcg3/commit/f25302336570d9f0ce70e7eeb0c5562ce4af2f8a er no i vislcg3 frå -r11623.

Eg skreiv heile greia på nytt for å bruka dei interne vislcg3-funksjonane og -klassene, så det skal no òg kompilera på Centos 6 og det som verre er, og bør vera installerbart på Mac i morgon vha.

wget http://apertium.pr

[2016-05-26 14:42] #420 closed

[2016-05-30 13:38] albbas commented on #419
## Comment 11338
Date: 2016-05-30 15:38:09 +0200
From: @unhammer

http://sprunge.us/AHCV?diff med
«git clone -b tokenise-backtrack https://github.com/unhammer/hfst»
er no ganske nærme noko brukbart (men har nok enno noko krasj ein stad)

For å ta ein ikkje-feil først, så gir det no http://sprunge.us/DGLg?sh der det før gav
http://sprunge.us/FFiA?sh – utan at heile den strengen er spesifisert
som i

[2016-05-30 13:56] albbas commented on #287
## Comment 11341
Date: 2016-05-30 15:56:24 +0200
From: @albbas

Ble denne fikset, eller?

[2016-08-04 07:32] albbas opened #422 "lookup2cg lets material pass through unprocessed, thereby breaking output (Bugzilla Bug 2199)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2199
Date: 2016-08-04T09:32:03+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @ciprian-NO
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2016-12-05T16:25:12+01:00

[2016-08-15 07:29] albbas opened #423 "New preprocessor (here: Apertium) cannot handle 6. beaivvi (ordinals) (Bugzilla Bug 2201)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2201
Date: 2016-08-15T09:29:23+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @ftyers
CC:   @ciprian-NO, @ftyers, @leneantonsen, @snomos, @Trondtr, @unhammer

Last updated: 2017-01-06T08:23:27+01:00

[2016-08-15 07:29] albbas commented on #423
## Comment 11393
Date: 2016-08-15 09:29:23 +0200
From: @Trondtr

The sentence is ok with preprocess, but not with the Apertium fst preprocessor, which introduces a sentence boundary for "6 ." pro "6.". The result is (in this case) a wrong analysis for the Inf / Pl1 disambiguation (should be Inf, is rendered as Pl1 by apertium).

tf4-hsl-m0024:apertium-sme-smn trond$ echo "Giellagáldu čohkke áššedo

[2016-08-15 07:37] albbas commented on #423
## Comment 11394
Date: 2016-08-15 09:37:34 +0200
From: @snomos

The only way I know to make this work without using the perl-based preprocessor (which I believe is not possible or acceptable in an Apertium context) is to use the new hfst-tokenise tool + an extra cg file for disambiguating tokenisation ambiguities (6. vs 6 + . in this case). That is what we do in the grammar checker, and what is pl

[2016-08-15 07:52] albbas commented on #423
## Comment 11395
Date: 2016-08-15 09:52:04 +0200
From: @leneantonsen

Merkelig, for i sme-sma har vi det motsatte problemet, for ofte Ord analyse, Først samme setning som Trond viste til, deretter en setning hvor vi ikke ønsker Ord.

apertium-sme-sma$ echo 'Giellagáldu čohkke áššedovdiid Anárii golggotmánu 6. beaivve ságastallat' | apertium -d. sme-sma-disam
"<Giellagáldu>"
	"gáldu" n sem_dummytag

[2016-08-15 08:10] albbas commented on #423
## Comment 11396
Date: 2016-08-15 10:10:06 +0200
From: @ftyers

This is completely possible to do in Apertium by having both the entries and then disambiguating them in CG.

LEXICON Ambigs

%<num%>%+.%<sent%>:. # ;
%<num%>%<ord%>:. # ;

LEXICON Nums

< [ %0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 ]+ > Ambigs ;

Then you will get two readings:

^6./6<num>+.<sent>/6<num><ord>$

And you can write a CG ru

[2016-08-15 08:49] albbas commented on #423
## Comment 11397
Date: 2016-08-15 10:49:44 +0200
From: @unhammer

Yeah, hfst-tokenise is not ready for apertium use yet – it doesn't handle superblank-skipping at all. The robust solution for now is to just put both entries in the lexc and deal with it in a CG pre-disambiguation step – this has worked for other apertium pairs. If we ever change to hfst-tokenise in apertium-sme-*, we'll still need

[2016-08-15 09:02] albbas commented on #423
## Comment 11398
Date: 2016-08-15 11:02:17 +0200
From: @snomos

Since this issue needs to be solved with a combination of lexc and vislcg3, I send it back to Trond. The solution needs to work also for the grammar checker and the hfst-tokenised based analysis+tokenisation.

Hm, perhaps this is something for Kevin to look into?

[2016-08-16 09:00] albbas commented on #423
## Comment 11400
Date: 2016-08-16 11:00:19 +0200
From: @leneantonsen

Det ville være nyttig å vite hvorfor sme-sma og sme-smn fungerer så forskjellig, som i våre eksempler her. Noen som har kommentarer til det?

[2016-08-17 06:34] albbas opened #424 "Preprocess does not tackle footnotes with superscripts in range U+2071 - U+2079 (Bugzilla Bug 2204)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2204
Date: 2016-08-17T08:34:18+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @ciprian-NO
CC:   @leneantonsen, @snomos, @Trondtr

Last updated: 2016-12-06T13:27:14+01:00

[2016-08-17 06:34] albbas commented on #424
## Comment 11402
Date: 2016-08-17 08:34:18 +0200
From: @Trondtr

"<jäätikkövaiheeseen.⁹>"
	 "jäätikkövaiheeseen.⁹" ?
"<¶>"

and not these as three elements.

For examples, see
biggies/trunk/langs/fin/corp/historia.wikipedia.txt

[2016-09-13 07:41] albbas opened #237 "grammarcheckers_developertest.sh (Bugzilla Bug 2214)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2214
Date: 2016-09-13T09:41:02+02:00
From: @lynnda-hill (Originally created by @lynnda-hill)
To:   @snomos
CC:   @ciprian-NO, @Trondtr

Last updated: 2016-10-10T10:34:35+02:00

[2016-10-10 08:34] #237 closed, assigned to snomos

[2016-10-13 18:22] albbas commented on #419
## Comment 11546
Date: 2016-10-13 20:22:38 +0200
From: @snomos

(In reply to Kevin Brubeck Unhammer from comment #24)

Det har vore stille lenge her:-)

Vi har gått over til berre å ha særskrivingsanalyse av leksikaliserte samansetjingar, og det ser ut til å vera akkurat det vi vil ha. Løysinga er generell, og samtidig avgrensa nok til at vi unngår uhorveleg mange analyser og stor tvetydigheit.

E

[2016-10-13 21:33] albbas commented on #209
## Comment 11549
Date: 2016-10-13 23:33:30 +0200
From: @snomos

This is still true.

[2016-10-15 14:32] albbas opened #425 "Venstreparantes uten whitespace foran, blir ikke eget token (Bugzilla Bug 2228)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2228
Date: 2016-10-15T16:32:08+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @albbas
CC:   @ciprian-NO, @leneantonsen, @snomos, @Trondtr

Last updated: 2016-10-21T13:29:40+02:00

[2016-10-15 14:36] albbas opened #426 "høyreparantes blir ikke preprossert som eget token (Bugzilla Bug 2229)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2229
Date: 2016-10-15T16:36:34+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @snomos
CC:   @albbas, @ciprian-NO, @leneantonsen, @lynnda-hill, @Trondtr, @unhammer

Last updated: 2016-10-17T11:25:23+02:00

[2016-10-15 14:36] albbas commented on #426
## Comment 11554
Date: 2016-10-15 16:36:34 +0200
From: @leneantonsen

sme$ echo "roavvanjárgalačča Antti Kulmala(20)." |hfst-tokenise --giella-cg tools/preprocess/tokeniser-disamb-gt-desc.pmhfst
"<roavvanjárgalačča>"
	"Roavvanjárga" NN Prop Sem/Plc Der/lasj A Sg Acc <W:0>
	"Roavvanjárga" NN Prop Sem/Plc Der/lasj A Sg Gen <W:0>
:
"<Antti>"
	"Antti" N Prop Sem/Mal Attr <W:0>
	"Antti" N Prop Sem/Mal

[2016-10-15 14:41] albbas commented on #426
## Comment 11555
Date: 2016-10-15 16:41:03 +0200
From: @leneantonsen

Interessant er det at FST godtar 20) men ikke (20 (både xfst og hfst):

sme$ husme
(20)
(20)	(20)+?	inf

20)
20)	20)+Num+Arab+Sg+Acc	0,000000
20)	20)+Num+Arab+Sg+Nom	0,000000

(20
(20	(20+?	inf

[2016-10-17 08:12] albbas commented on #426
## Comment 11559
Date: 2016-10-17 10:12:13 +0200
From: @snomos

(In reply to Lene Antonsen from comment #1)

Eg trur det heng i hop med telefonnummeranalysen. Eg ser på det no.

[2016-10-17 09:25] albbas commented on #426
## Comment 11561
Date: 2016-10-17 11:25:23 +0200
From: @snomos

Fiksa i rev. 141547:

$ echo "roavvanjárgalačča Antti Kulmala(20). +358(18)1234." |hfst-tokenise --giella-cg tools/preprocess/tokeniser-disamb-gt-desc.pmhfst
"<roavvanjárgalačča>"
	"Roavvanjárga" NN Prop Sem/Plc Der/lasj A Sg Acc <W:0>
	"Roavvanjárga" NN Prop Sem/Plc Der/lasj A Sg Gen <W:0>
:
"<Antti>"
	"Antti" N Prop Sem/Mal Attr <W:

[2016-10-17 09:25] #426 closed

[2016-10-18 18:32] albbas opened #427 "Implement NUL-flushing in hfst-tokenise (Bugzilla Bug 2232)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2232
Date: 2016-10-18T20:32:26+02:00
From: @unhammer (Originally created by @unhammer)
To:   @unhammer
CC:   @leneantonsen, @snomos, @Trondtr

Blocker for:  #2160
Last updated: 2017-03-21T15:18:41+01:00

[2016-10-18 18:32] albbas commented on #427
## Comment 11572
Date: 2016-10-18 20:32:26 +0200
From: @unhammer

When Apertium MT systems are used online, the pipelines are kept open instead of restarted between each request. To ensure the pipes are flushed at least once per request, they send a NUL-byte at the end of each request:
http://wiki.apertium.org/wiki/NUL_flushing

If we want to use hfst-tokenise for MT, we should support NUL flushin

[2016-10-18 18:43] albbas opened #428 "regression in hfst-tokenize with backtracking + subreadings (Bugzilla Bug 2233)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2233
Date: 2016-10-18T20:43:08+02:00
From: @unhammer (Originally created by @unhammer)
To:   @ciprian-NO
CC:   @leneantonsen, @snomos, @Trondtr

Blocker for:  #2160
Last updated: 2016-10-19T19:24:12+02:00

[2016-10-18 18:43] albbas commented on #428
## Comment 11573
Date: 2016-10-18 20:43:08 +0200
From: @unhammer

An old binary of hfst-tokenize I have from Jun 29 gives http://sprunge.us/HRWb?sh#n-34

 34 	"vuohta" Err/Lex N Sg Com <W:10> "<dilálašvuođain>"
 35 		"dilli" NN Sem/State Der/lasj A Cmp/Attr Cmp <W:10>
 36 			"servodat" N Sem/Org Sg Nom <W:0> "<servodat>"

where the current version gives http://sprunge.us/hCDQ?sh#n-26 – note the un

[2016-10-19 17:24] #428 closed, assigned to nobody

[2016-10-19 17:26] albbas commented on #419
## Comment 11584
Date: 2016-10-19 19:26:40 +0200
From: @unhammer

Ja; det er rett nok enno nokre ting som er litt rare, men det er kanskje sånt me berre fiksar med lingvistikken i lexc/CG.

T.d..

$ echo servodat dilálašvuođain | hfst-tokenise -g tokeniser-gramcheck-gt-desc.pmhfst
"<servodat dilálašvuođain>"
        "servodatdilli" NN Sem/State Der/lasj AA Attr Der/vuota N Err/Orth Pl Loc Err/Spac

[2016-10-19 17:32] albbas commented on #419
## Comment 11585
Date: 2016-10-19 19:32:12 +0200
From: @unhammer

dvs. http://sprunge.us/QgWA?sh – bugzilla brekker lange linjer :/

[2016-10-20 13:44] albbas commented on #425
## Comment 11591
Date: 2016-10-20 15:44:40 +0200
From: @snomos

(In reply to Lene Antonsen from comment #2)

Det er fiksa no med endringar i lexc knytta til telefonnummerparsing. Jf den same bugzilla #2229.

[2016-10-21 11:29] albbas commented on #425
## Comment 11597
Date: 2016-10-21 13:29:40 +0200
From: @albbas

This bug was about an error in preprocess, fixed in r141870.

$  echo "roavvanjárgalačča Antti Kulmala(20)." | preprocess
roavvanjárgalačča
Antti
Kulmala
(
20
)
.

[2016-10-21 11:29] #425 closed, assigned to albbas

[2016-10-27 06:55] albbas commented on #423
## Comment 11620
Date: 2016-10-27 08:55:45 +0200
From: @leneantonsen

Jeg sender denne til Francis, for å se om han kan finne ut hva som skjer.

[2016-10-27 09:46] albbas opened #210 "Common suggestion engine for hfst-ospell-office and hfst-ospell-js (Bugzilla Bug 2243)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2243
Date: 2016-10-27T11:46:48+02:00
From: @albbas (Originally created by @albbas)
To:   @albbas
CC:   @mka055, sandra.rahka, @snomos, @duomdaamaendra, @tomipieski

Last updated: 2017-09-26T16:59:33+02:00

[2016-10-27 09:46] albbas commented on #210
## Comment 11621
Date: 2016-10-27 11:46:48 +0200
From: @albbas

hfst-ospell-js and hfst-ospell-office have different implementations for suggestion generation, these should ideally be merged.

The best solution is perhaps to refactor hfst-ospell-office and make hfst-ospell-js use that functionality.

[2016-11-02 12:37] albbas opened #238 "Entries with non-final spaces escaped with % are completely destroyed by lexc-giella-style.py (Bugzilla Bug 2249)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2249
Date: 2016-11-02T13:37:45+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @ciprian-NO, @Trondtr

Last updated: 2016-11-08T15:54:02+01:00

[2016-11-03 11:34] albbas commented on #238
## Comment 11637
Date: 2016-11-03 12:34:15 +0100
From: @albbas

langtech r142777 should fix this bug

[2016-11-04 09:48] albbas opened #239 "LexC prettify script splits contlex string in two (Bugzilla Bug 2252)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2252
Date: 2016-11-04T10:48:22+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @ciprian-NO, @Trondtr

Last updated: 2016-11-04T15:32:02+01:00

[2016-11-04 09:48] albbas commented on #239
## Comment 11645
Date: 2016-11-04 10:48:22 +0100
From: @snomos

Input from (sms/src/morphology/root.lexc):

LEXICON NounRoot
N_NEWWORDS ;
 N_sms2x ;
! N-INCOMING ;

LEXICON nouns
!! This is a temporary solution until nouns are moved to xml
N_NEWWORDS ;

Output:

LEXICON NounRoot
  N_NEWWORD S          ;
            N_sms2x    ;
!           N-INCOMING ;

LEXICON nouns
!! This is a temporary solutio

[2016-11-04 14:32] albbas commented on #239
## Comment 11647
Date: 2016-11-04 15:32:02 +0100
From: @albbas

Fikset i langtech r142915

[2016-11-04 14:32] #239 closed

[2016-11-08 14:54] #238 closed, assigned to albbas

[2016-11-16 12:30] albbas commented on #423
## Comment 11686
Date: 2016-11-16 13:30:26 +0100
From: @Trondtr

Note: The issue is that numerals are adjs in smj, sma apertium, not in smn. Francis will fix.

[2016-11-18 11:40] albbas opened #288 "Vi treng meir info frå spellertestinga (minnebruk, responstid) - skriv om til python (Bugzilla Bug 2269)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2269
Date: 2016-11-18T12:40:59+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @duomdaamaendra, @tomipieski

Last updated: 2017-03-08T11:43:52+01:00

[2016-11-18 11:40] albbas commented on #288
## Comment 11710
Date: 2016-11-18 12:40:59 +0100
From: @snomos

Vi treng meir info frå spellertestinga for å få meir hjelp til å vidareutvikla stavekontrollane. Ting vi treng er:

* kor lang tid det tek å få forslag for kvart enkelt ord
* kor mykje minne stavekontrollen brukar - sampla etter kvart ord
* eg vil gjerne ha eit løpenummer for orda i typoslista, som eit eige felt i xml-fila
* vi må kun

[2016-12-05 15:25] #422 closed, assigned to nobody

[2016-12-06 12:27] #424 closed

[2016-12-07 10:40] albbas commented on #419
## Comment 11795
Date: 2016-12-07 11:40:15 +0100
From: @lynnda-hill

(In reply to Kevin Brubeck Unhammer from comment #26)

Kosjn har du tenkt å fikse sånt i CG?

[2016-12-07 14:02] albbas opened #429 "sma-filer: ' blir ikke godkjent mellom ord og kasus (Bugzilla Bug 2297)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2297
Date: 2016-12-07T15:02:01+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @snomos
CC:   @albbas, @leneantonsen, @snomos, @Trondtr

Last updated: 2019-10-02T00:49:55+02:00

[2016-12-08 16:33] albbas opened #430 "dele foran venstreparantes (Bugzilla Bug 2300)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2300
Date: 2016-12-08T17:33:45+01:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @snomos
CC:   ailu.west.92, @albbas, @leneantonsen, @snomos, @Trondtr

Last updated: 2019-05-27T14:23:38+02:00

[2016-12-08 16:33] albbas commented on #430
## Comment 11808
Date: 2016-12-08 17:33:45 +0100
From: @leneantonsen

Jeg foreslår at preposess deler ord foran venstreparantes. Eksempler fra missinglist for sme:

112 8(j
  68 3,5_%(i
  66 0,0_%(i
  53 3,5_%(1000
  49 0,0_%(1000
  27 10(c
  21 -(a)s-       <==== lingv. eksempel, vil uansett ikke kunne analyseres
  20 periode(*
  18 -(oj)uvvo(j)- <==== lingv. eksempel, vil uansett ikke kunne anal

[2016-12-15 19:58] albbas commented on #234
## Comment 11866
Date: 2016-12-15 20:58:10 +0100
From: @Trondtr

This is a Xerox bug, and given the state of affairs, I suggest a WONTFIX.

[2016-12-18 12:40] albbas commented on #234
## Comment 11881
Date: 2016-12-18 13:40:57 +0100
From: @Trondtr

Thus, cnsensus on a WONTFIX

[2016-12-18 12:40] #234 closed, assigned to Trondtr

[2017-02-15 07:18] albbas opened #289 "Get rid of the 'speller' column (Bugzilla Bug 2337)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2337
Date: 2017-02-15T08:18:01+01:00
From: @snomos (Originally created by @snomos)
To:   @albbas

Last updated: 2017-02-15T12:25:08+01:00

[2017-02-15 07:18] albbas commented on #289
## Comment 12006
Date: 2017-02-15 08:18:01 +0100
From: @snomos

That is, the second column in the table produced by the devtools/test_*.sh scripts. It is of no use, and was not included in the old speller output (xml file style).

[2017-02-15 11:25] albbas commented on #289
## Comment 12007
Date: 2017-02-15 12:25:08 +0100
From: @albbas

Fixed in langtech r148537

The speller td has been removed

Move the relevant info to the original td, using the attribute speller

[2017-02-15 11:25] #289 closed, assigned to albbas

[2017-03-02 08:14] #159 closed, assigned to snomos

[2017-03-02 09:47] #209 closed

[2017-03-03 11:10] albbas commented on #181
## Comment 12099
Date: 2017-03-03 12:10:44 +0100
From: @snomos

There has been no reports of problems with this, and Tino planned to install the Sami languages as proper Sami languages (the language codes are recognised even though the user interface has no way of displaying the language - but that could be circumvented in other ways).

Now it even looks like MS is blocking third party spellers fo

[2017-03-03 11:10] #181 closed

[2017-03-08 10:43] albbas commented on #288
## Comment 12133
Date: 2017-03-08 11:43:52 +0100
From: @albbas

Bare for hfst-ospell-office nå, men integrert for alle språk (gjort av Sjur)

[2017-03-08 10:43] #288 closed, assigned to albbas

[2017-03-21 14:18] albbas commented on #427
## Comment 12239
Date: 2017-03-21 15:18:41 +0100
From: @unhammer

The pipeline at https://gtweb.uit.no/gc/ is kept open by http://wiki.apertium.org/wiki/Apertium-apy with each request separated by a NUL byte in the input/output (with <STREAMCMD:FLUSH> used instead of \0 in the CG format in between the programs in the pipeline, since that's what vislcg3 uses). Both divvun-suggest and hfst-tokenize

[2017-03-21 14:18] #427 closed

[2017-03-28 09:22] albbas opened #211 "Missing or unclear source code license for a number of languages (Bugzilla Bug 2367)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2367
Date: 2017-03-28T11:22:03+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @albbas, @Trondtr

Last updated: 2018-05-29T10:54:03+02:00

[2017-03-28 09:22] albbas commented on #211
## Comment 12250
Date: 2017-03-28 11:22:03 +0200
From: @snomos

See http://lists.puimula.org/pipermail/libvoikko/2017-March/000896.html

We need to go through all languages and make sure that the license is clear and correct.

[2017-03-28 09:31] albbas commented on #211
## Comment 12251
Date: 2017-03-28 11:31:55 +0200
From: @albbas

$GTHOME/langs/sme/LICENCE has no license, while e.g. the header in $GTHOME/langs/sme/src/morphology/clitic.lexc states:

! This program is free software; you can redistribute and/or modify
! this file under the terms of the GNU General Public License as published by
! the Free Software Foundation, either version 3 of the License, or
!

[2017-04-11 07:04] albbas opened #431 "Problematic tokenisation of unrecognised compounds with hyphen (Bugzilla Bug 2376)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2376
Date: 2017-04-11T09:04:37+02:00
From: @lynnda-hill (Originally created by @lynnda-hill)
To:   @snomos
CC:   @albbas, @ciprian-NO, @leneantonsen, @lynnda-hill, @duomdaamaendra, @Trondtr, @unhammer

Last updated: 2017-09-15T07:48:28+02:00

[2017-04-11 07:04] albbas commented on #431
## Comment 12336
Date: 2017-04-11 09:04:37 +0200
From: @lynnda-hill

In the following construction the hyphen is analyzed as a separate token in erroneous compounds (nominative plural noun is the first component).

Diibmá gudnejahtte bálkkašumiin Dievdduid-searvvi , dán jagi ádde bálkkašumi Guovdageainnieiddat-spábbačiekčanjovkui .

Guovdageainnieiddat-spábbačiekčanjovkui is analyzed as

"<Guovdag

[2017-04-11 07:16] albbas commented on #431
## Comment 12337
Date: 2017-04-11 09:16:25 +0200
From: @unhammer

Isn't this "just" a matter of having a transition with hyphen back into nouns, just like we do with non-space transition into nouns?

At first glance at least, it doesn't seem like we need any of the special new machinery to handle this case; the tokenisation should be unambiguous for any such sequence 'N.CmpHyphen N.Ill', or 'N.Cmp

[2017-04-11 08:29] albbas commented on #431
## Comment 12338
Date: 2017-04-11 10:29:44 +0200
From: @lynnda-hill

I'm afraid I don't get what you are saying Kevin. Could you be more explicit maybe by means of an example?

[2017-04-20 10:37] albbas commented on #431
## Comment 12350
Date: 2017-04-20 12:37:08 +0200
From: @lynnda-hill

Looks great! Let's do it or is it fixed already?

[2017-05-02 11:39] albbas opened #212 "Quote marks considered part of word in web spellers. (Bugzilla Bug 2386)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2386
Date: 2017-05-02T13:39:55+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   jjpp, @mka055, @snomos, @duomdaamaendra, @Trondtr

Last updated: 2018-10-04T12:04:31+02:00

[2017-05-02 11:39] albbas commented on #212
## Comment 12397
Date: 2017-05-02 13:39:55 +0200
From: @snomos

To reproduce, paste the following text into the text field of http://divvun.no/korrektur/speller-demo.html:

[code]

and set the language to sme (but any language will do - the original report used Estonian, as tested on http://divvun.org/).

Notice how both the first and the third words get underlined, even though they are correct. I

[2017-05-16 10:35] albbas opened #432 "Only meta-data in the analyzed corpus files on the Divvun server (Bugzilla Bug 2391)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2391
Date: 2017-05-16T12:35:37+02:00
From: @ciprian-NO (Originally created by @ciprian-NO)
To:   @albbas
CC:   @albbas, @leneantonsen, @snomos, @Trondtr

Last updated: 2017-10-10T00:44:30+02:00

[2017-06-30 01:34] albbas opened #290 "Calculation errors in speller tests (Bugzilla Bug 2408)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2408
Date: 2017-06-30T03:34:06+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas

Last updated: 2021-10-28T13:21:35+02:00

[2017-09-08 12:40] #419 closed, assigned to snomos

[2017-09-13 10:22] albbas commented on #211
## Comment 12551
Date: 2017-09-13 12:22:00 +0200
From: @snomos

Børre, maybe you could do this?

[2017-09-13 10:31] albbas commented on #431
## Comment 12554
Date: 2017-09-13 12:31:55 +0200
From: @snomos

I think we need one modification of Kevin's suggestion: in principle any word form of any POS can be compounded like this:

ja-sátni

ie when discussing word forms and language and grammar in general. On the other side, the second part of the compound is probably pretty limited, so I think it is enough that we only compound with regul

[2017-09-14 17:47] albbas commented on #431
## Comment 12568
Date: 2017-09-14 19:47:52 +0200
From: @snomos

This should be solved in svn rev 157051 and 157055.

NB! Test thoroughly! I analysed the whole of GTFREE, and could not find a single instance of this compound type, but the word reported in this bug report does now get an additional analysis:

$ echo Guovdageainnieiddat-spábbačiekčanjovkui | hfst-tokenise -g tools/tokenisers/tokenise

[2017-09-15 05:48] albbas commented on #431
## Comment 12570
Date: 2017-09-15 07:48:28 +0200
From: @snomos

(In reply to Sjur Nørstebø Moshagen from comment #7)

I searched for the wrong tag :/

There are a number of new compound analyses, most of them in the form of additional analyses in the cohort. There are a few instances of analyses of words that earlier got no analysis at all:

"<Čálagieđat-semináras>"
        "seminára" N Sem/Edu_Ev

[2017-09-15 05:48] #431 closed

[2017-09-26 14:59] #210 closed, assigned to albbas

[2017-09-26 15:14] #410 closed, assigned to albbas

[2017-10-09 22:44] #432 closed

[2017-10-27 13:34] #418 closed, assigned to unhammer

[2018-04-16 12:10] albbas opened #433 "abbr gir punktum etter ACR som er del av leksikaliserte MWE (Bugzilla Bug 2459)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2459
Date: 2018-04-16T14:10:15+02:00
From: @leneantonsen (Originally created by @leneantonsen)
To:   @albbas
CC:   @carges, @ciprian-NO, @snomos, @Trondtr

Last updated: 2018-12-03T11:38:44+01:00

[2018-04-24 09:14] albbas commented on #433
## Comment 12736
Date: 2018-04-24 11:14:08 +0200
From: @albbas

Vil det være et alternativ å bruke hfst-tokenise, slik det blir gjort i korpusanalysen?

Utdrag fra modes.xml:
  <mode name="hfst">
    <pipeline>
      <program name="hfst-tokenise" debug-suff="morph">
        <arg name="--print-all"/>
        <arg name="--giella-cg"/>
        <file name="tools/tokenisers/tokeniser-disamb-gt-desc.pmh

[2018-05-04 18:26] albbas commented on #287
## Comment 12753
Date: 2018-05-04 20:26:26 +0200
From: @albbas

ping

[2018-05-06 14:49] albbas opened #62 "Parametrize giella-core/scripts/xsl/generate_lex-fileVM.xsl with language-spec mods (Bugzilla Bug 2462)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2462
Date: 2018-05-06T16:49:26+02:00
From: Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   borre.gaup, chiara.argese, ciprian.gerstenberger, ftyers, rueter.jack

Last updated: 2018-05-07T08:03:43+02:00

[2018-05-07 07:39] albbas commented on #287
## Comment 12781
Date: 2018-05-07 09:39:32 +0200
From: @snomos

Med dei instruksjonane for reproduksjon som er ført opp her, så er eg ikkje i stand til å reprodusera, så for meg ser det bra ut. Du kan lata att.

[2018-05-11 12:46] albbas opened #213 "The LO-5.0 package is not installable (Bugzilla Bug 2484)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2484
Date: 2018-05-11T14:46:59+02:00
From: @albbas (Originally created by @albbas)
To:   @albbas
CC:   @mka055, @snomos, @duomdaamaendra

Last updated: 2018-12-03T11:39:48+01:00

[2018-05-15 13:41] albbas opened #61 "Nytt verkty for å sortera taggar og sjekka lexc-strukturen i stems-filene (Bugzilla Bug 2487)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2487
Date: 2018-05-15T15:41:41+02:00
From: Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
To:   Børre Gaup &lt;<borre.gaup>&gt;
CC:   elena.j.paulsen, lene.antonsen, linda.wiechetek, maja.l.kappfjell, thomas.omma, trond.trosterud, unhammer+apertium

Last updated: 2018-07-13T22:53:50+02:00

[2018-05-16 12:39] #203 closed, assigned to albbas

[2018-06-19 14:57] albbas opened #60 "Easter egg bug in nightly builds (Bugzilla Bug 2494)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2494
Date: 2018-06-19T16:57:53+02:00
From: Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   borre.gaup, chiara.argese, ciprian.gerstenberger

Last updated: 2018-08-14T08:53:01+02:00

[2018-09-15 14:10] albbas opened #214 "divvun.no og divvun.org online speller er nede (Bugzilla Bug 2505)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2505
Date: 2018-09-15T16:10:59+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas
CC:   @mka055, @snomos, @duomdaamaendra

Last updated: 2018-09-15T23:51:08+02:00

[2018-09-15 14:10] albbas commented on #214
## Comment 12963
Date: 2018-09-15 16:10:59 +0200
From: @Trondtr

http://divvun.org/proofing/online-speller.html
http://divvun.no/korrektur/speller-demo.html

sjâ pâ sprâkmenyen, ... og ingenting kjem opp.

(eg kjem meg framleis ikkje inn for â oppdatere desse, men no er altsâ tenesta nede.)

[2018-09-15 21:51] albbas commented on #214
## Comment 12964
Date: 2018-09-15 23:51:08 +0200
From: @albbas

Begge er satt i gang og er oppe og går nå.

[2018-09-15 21:51] #214 closed

[2018-09-26 06:36] albbas opened #434 "lookup2cg forvrenger sma-lemma (Bugzilla Bug 2508)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2508
Date: 2018-09-26T08:36:05+02:00
From: @snomos (Originally created by @snomos)
To:   @snomos
CC:   @leneantonsen, @mka055, @snomos, @Trondtr

Last updated: 2019-10-02T00:53:29+02:00

[2018-09-26 06:36] albbas commented on #434
## Comment 12970
Date: 2018-09-26 08:36:05 +0200
From: @snomos

Dette produserer hfst-lookup (cut er berre for å fjerna vektene):

$ echo Aarborten-almetjh | hfst-lookup -q src/analyser-gt-desc.hfstol | cut -f1,2
Aarborten-almetjh	Aarborte+N+Prop+Sem/Plc+Cmp/SgGen+Cmp/Hyph+Cmp#alma+N+Der/Dimin+N+Pl+Nom
Aarborten-almetjh	Aarborte+N+Prop+Sem/Plc+Cmp/SgGen+Cmp/Hyph+Cmp#elmie+N+Der/Dimin+N+Pl+Nom
Aarb

[2018-10-04 07:56] albbas opened #215 "Online speller does not handle double-9 quotation marks (Bugzilla Bug 2518)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2518
Date: 2018-10-04T09:56:00+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas
CC:   @mka055, @snomos, @duomdaamaendra

Duplicates:   #2386
Last updated: 2018-10-04T12:02:31+02:00

[2018-10-04 10:02] albbas commented on #212
## Comment 13037
Date: 2018-10-04 12:02:31 +0200
From: @albbas

*** Bug #2518 has been marked as a duplicate of this bug. ***

[2018-10-04 10:02] #215 closed

[2018-10-04 10:04] albbas commented on #212
## Comment 13038
Date: 2018-10-04 12:04:31 +0200
From: @albbas

ck-ospell should be replaced by a barebones version of the grammarspeller, as it is the future anyway.

[2018-12-03 10:38] #433 closed

[2018-12-03 10:39] #213 closed

[2019-01-25 06:56] #194 closed

[2019-05-27 11:46] albbas opened #291 "Legg til info om feiltype (Bugzilla Bug 2589)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2589
Date: 2019-05-27T13:46:35+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @lynnda-hill, @snomos, @duomdaamaendra

Last updated: 2019-06-04T12:38:54+02:00

[2019-05-27 11:46] albbas commented on #291
## Comment 13441
Date: 2019-05-27 13:46:35 +0200
From: @snomos

kvar feil i grammatikkontrollen er av ein viss type, t.d. 'typo' eller 'missingspace' m.fl. Det vil vera svært nyttig om vi for kvar feil òg får info om kva for feiltype feilen er av - då kan vi nytta søkjefeltet til berre å sjå avsnitt med slike feil.

Informasjonen kan t.d. koma rett etter pila, og før forslaga:

«.» ➞ [space before

[2019-05-27 12:09] albbas opened #435 "Legg til parameter for å ikkje skriva ut ¶ på slutten av kvart avsnitt (Bugzilla Bug 2590)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2590
Date: 2019-05-27T14:09:35+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @snomos

Last updated: 2019-06-03T14:18:56+02:00

[2019-05-27 12:23] albbas commented on #434
## Comment 13445
Date: 2019-05-27 14:23:37 +0200
From: @snomos

Changed from Ciprian to default assignee. Ciprian is no longer working in our groups.

[2019-05-27 12:23] albbas commented on #430
## Comment 13446
Date: 2019-05-27 14:23:38 +0200
From: @snomos

Changed from Ciprian to default assignee. Ciprian is no longer working in our groups.

[2019-05-27 12:41] albbas opened #292 "Vi treng fargekoding for false negative (Bugzilla Bug 2591)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2591
Date: 2019-05-27T14:41:34+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @lynnda-hill, @snomos, @duomdaamaendra

Last updated: 2019-06-06T09:41:29+02:00

[2019-05-27 12:45] albbas opened #293 "Vi treng statistikk på toppen av resultatsida (Bugzilla Bug 2592)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2592
Date: 2019-05-27T14:45:43+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas
CC:   @lynnda-hill, @snomos, @duomdaamaendra

Last updated: 2019-05-27T14:45:43+02:00

[2019-05-27 12:45] albbas commented on #293
## Comment 13461
Date: 2019-05-27 14:45:43 +0200
From: @snomos

Vi treng samanfattande statistikk på toppen av fila. Det kan t.d. vera:

* TP/FP/TN/FN både i absolutte tal og % på avsnittsnivå
* tal på kor mange av rettingane som faktisk var korrekte, dvs der vi ikkje retta til noko anna enn det det skulle vera
* kor mange avsnitt og setningar det er i originalen
* kor lang tid køyringa tok

og si

[2019-06-03 12:18] albbas commented on #435
## Comment 13484
Date: 2019-06-03 14:18:56 +0200
From: @albbas

Fixed in langtech r180292

[2019-06-03 12:18] #435 closed

[2019-06-04 10:38] albbas commented on #291
## Comment 13486
Date: 2019-06-04 12:38:54 +0200
From: @albbas

Fixed in langtech r180332

[2019-06-04 10:38] #291 closed

[2019-09-06 14:12] albbas opened #294 "Stavekontrolltestinga sorterer forslag på plass 10 mellom 1 og 2 (Bugzilla Bug 2606)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2606
Date: 2019-09-06T16:12:00+02:00
From: @snomos (Originally created by @snomos)
To:   @albbas

Last updated: 2019-09-06T16:12:00+02:00

[2019-09-06 14:12] albbas commented on #294
## Comment 13661
Date: 2019-09-06 16:12:00 +0200
From: @snomos

For å reprodusera:

*Opna https://gtsvn.uit.no/langtech/trunk/langs/sma/devtools/speller_result_typos.to.sma.html
* Sorter på 'position'
* rull ned til enden av plass 1, og sjå at neste gruppe ikkje er 2, men 10

= alfabetisk sortering, ikkje numerisk.

[2019-09-13 12:41] albbas opened #59 "Skriv om giella-core/scripts/editdist.py m.fl. til Python3 (Bugzilla Bug 2607)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2607
Date: 2019-09-13T14:41:29+02:00
From: Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
To:   Børre Gaup &lt;<borre.gaup>&gt;
CC:   chiara.argese, trond.trosterud

Last updated: 2019-11-29T09:19:44+01:00

[2019-10-01 22:11] #279 closed, assigned to snomos

[2019-10-01 22:49] #429 closed, assigned to snomos

[2019-10-01 22:53] #434 closed

[2019-10-23 17:19] albbas opened #436 "Pound symbol `#` is deleted by hfst-tokenise (Bugzilla Bug 2627)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2627
Date: 2019-10-23T19:19:34+02:00
From: Robert Reynolds &lt;ReynoldsRJR&gt;
To:   @snomos
CC:   @albbas, @leneantonsen, @lynnda-hill, @Trondtr, @unhammer

Last updated: 2019-12-17T09:50:06+01:00

[2019-10-30 07:33] albbas opened #58 "Fjerna Java-dependensar i fst-bygginga (Bugzilla Bug 2628)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2628
Date: 2019-10-30T08:33:11+01:00
From: Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   borre.gaup, chiara.argese, trond.trosterud

Depends on:   #2629, #2630
Last updated: 2019-12-17T09:50:50+01:00

[2019-10-30 07:37] albbas opened #57 "Byt ut Saxon med eit ikkje-java-alternativ (Bugzilla Bug 2629)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2629
Date: 2019-10-30T08:37:21+01:00
From: Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   borre.gaup, chiara.argese, trond.trosterud

Blocker for:  #2628
Last updated: 2019-11-29T17:44:21+01:00

[2019-11-15 04:16] albbas opened #216 "crk_LO-voikko-5.0.oxt does not install/include orthographical variants (macron + Cans) (Bugzilla Bug 2640)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2640
Date: 2019-11-15T05:16:20+01:00
From: @aarppe (Originally created by @aarppe)
To:   @albbas
CC:   @snomos

Last updated: 2019-11-15T08:31:15+01:00

[2019-11-16 01:44] albbas opened #217 "Hyphens and other non-alphabetic characters as legit parts of words treated incorrectly as word boundaries (Bugzilla Bug 2641)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2641
Date: 2019-11-16T02:44:29+01:00
From: @aarppe (Originally created by @aarppe)
To:   @albbas

Last updated: 2019-11-16T02:44:29+01:00

[2019-12-17 08:50] #436 closed, assigned to snomos

[2020-02-21 15:31] albbas opened #240 "The vro tokeniser-disamb-gt-desc.pmhfst has problem with UTF-8 combination t AND U+0301 in lemma readout (Bugzilla Bug 2647)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2647
Date: 2020-02-21T16:31:08+01:00
From: @rueter (Originally created by @rueter)
To:   @snomos
CC:   @Trondtr

Last updated: 2020-02-21T16:31:08+01:00

[2020-04-30 06:53] albbas opened #295 "Failing SMJ spellertests_fstspeller-gt-norm.yaml (Bugzilla Bug 2662)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2662
Date: 2020-04-30T08:53:33+02:00
From: @ilm024 (Originally created by @ilm024)
To:   @ilm024

Last updated: 2020-04-30T08:56:50+02:00

[2020-06-09 16:49] albbas opened #218 "divvun-installer 2.0.0 on Windows installs itself, but not spellers (Bugzilla Bug 2664)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2664
Date: 2020-06-09T18:49:36+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @albbas
CC:   @snomos, @Trondtr

Last updated: 2021-03-16T16:24:55+01:00

[2020-06-09 16:49] albbas commented on #218
## Comment 13947
Date: 2020-06-09 18:49:36 +0200
From: @Trondtr

To repeat:
In windows 10, uninstall all Divvun installers and proofing tools via the Settings panel. Go to https://pahkat.uit.no/artifacts/ and install the latest nightly (I installed 20200607T151551).
Follow the installation procedure, and open Divvun installer. All 2 + 3 languages are marked with "Installed. All packages up-to-date

[2020-06-09 17:43] albbas commented on #218
## Comment 13948
Date: 2020-06-09 19:43:45 +0200
From: @albbas

I think the correct place for this bug is here:
https://github.com/divvun/divvun-installer-windows/issues

I made a copy of this bug report here:
https://github.com/divvun/divvun-installer-windows/issues/8

[2020-07-16 15:01] flammie opened #1 "Get rid of giella-lib and associated downloads"
On my mac it tries to connect to https://5 so probably some stray version number in rsync stuff?

[2020-08-17 11:16] albbas opened #241 "Regression testing of cg demands abbr.txt (Bugzilla Bug 2669)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2669
Date: 2020-08-17T13:16:32+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @snomos

Last updated: 2020-08-17T13:16:32+02:00

[2020-08-17 11:16] albbas commented on #241
## Comment 13960
Date: 2020-08-17 13:16:32 +0200
From: @Trondtr

To repeat:
sh devtools/check_analysis_regressions.sh -dd

The answer is:
Abbreviation file for preprocessing - ../tools/tokenisers/abbr.txt - does not exist.
Plese generate before running this script again.

Not-so-intended workaround:

touch tools/tokenisers/abbr.txt

... after which it works.

We should:
- flip the default behaviou

[2020-09-02 10:21] albbas opened #296 "test/src/morphology/tag_test.sh has path troubles (Bugzilla Bug 2673)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2673
Date: 2020-09-02T12:21:18+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @snomos

Last updated: 2020-09-02T12:21:18+02:00

[2020-09-03 09:05] albbas opened #437 "Empty symbol analysed as "´" (02BC MODIFYER LETTER APOSTROPHE) (Bugzilla Bug 2674)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2674
Date: 2020-09-03T11:05:09+02:00
From: @Trondtr (Originally created by @Trondtr)
To:   @snomos
CC:   @albbas, @carges, jeremy.bradley, @rueter, @Trondtr, @unhammer

Last updated: 2021-10-27T22:32:40+02:00

[2020-09-17 18:02] albbas opened #56 "Cmp: forleddet forsvinner i sent-proc.sh (Bugzilla Bug 2683)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2683
Date: 2020-09-17T20:02:45+02:00
From: Lene Antonsen &lt;<lene.antonsen>&gt;
To:   Chiara Argese &lt;<chiara.argese>&gt;
CC:   lene.antonsen, sjur.n.moshagen, trond.trosterud

Last updated: 2020-09-18T11:01:20+02:00

[2020-10-12 21:41] albbas opened #55 "Endre fra bin til cg3 i forskjellige pipelines (Bugzilla Bug 2690)"
This issue was created automatically with bugzilla2github
# Bugzilla Bug 2690
Date: 2020-10-12T23:41:47+02:00
From: Lene Antonsen &lt;<lene.antonsen>&gt;
To:   Sjur Nørstebø Moshagen &lt;<sjur.n.moshagen>&gt;
CC:   borre.gaup, chiara.argese, linda.wiechetek, trond.trosterud

Last updated: 2020-10-13T11:37:24+02:00

[2020-10-20 11:05] snomos opened #2 "Proper support for Alt-Orth and Alt-WS etc for mobile spellers"
Presently the mobile spellers do not support anything but the standard speller.

This requires a major work-over of the speller build files - it is way too complicated to modify and extend now.

[2020-10-26 10:18] snomos opened #3 "Fix speller filenames for CI requirements"
All variants, mobile vs desktop, default vs alt-orth, alt-WS etc need to have a `-desktop` or `-mobile` suffix in front of `.zhfst` for the CI and CD to automatically pick them up and bundle/deliver them.

[2020-10-27 07:48] snomos commented on #1
`giella-libs` contains old prebuilt binaries for LO-oxt files and some other variants, and should really be abandoned as soon as all target platforms and host apps are covered by the CI & CD system (ie via páhkat etc). That is, the task is really to get rid of the giella-libs dependency completely.

[2020-11-04 15:11] snomos opened #4 "Errors in AWK script converting in-source jspwiki to markdown"
The first test docs can be found in [lang-sma](/giellalt/lang-sma) - scroll to **Documentation** and click **In-source documentation**. The following things should be fixed:

- [x] tables
- [x] definition lists
- [x] nested lists
- [x] numbered lists
- [x] boldface in all cases

Add more bugs to the list above as they are found, and we can check them off as they get fixed.

[2020-11-05 13:00] flammie commented on #4
tables can be a non-trivial problem, github probably requires a header row for all tables underlined, I noticed this is more lenient in jekyll which renders more broken tables.

| th1 | th2 |
|----|-----|
|  td1 | td2 |
| td3 | td4 |

works

| td1 | td2 |

does not?

[2020-11-05 15:37] snomos commented on #4
Yes, it seems so. That is, we need to convert:

[code]

to:

[code]
with an equal number of `| --- ` sequences as the number of columns, and such that the top row is not reprocessed as a regular table line.

[2020-11-05 15:42] snomos commented on #4
In cases where there is no header row, the only thing we can do is go and fix the source manually, IMHO. That will also make the table easier to read.

[2020-11-05 18:29] snomos commented on #4
The present state of the table header conversion code is now as follows:

- it works partially, but the non-border ||'s are left as is, which is interpreted as an extra column, we thus need a way to change them into single bars
- the header separator row (required for gfmd table rendering) is hard-coded to two columns - I have no idea on how to make it dynamic using (G)AWK

If you can fix these tw

[2020-11-19 20:39] aaronfay opened #5 "Documentation for new languages"
Hello,

I am interested in building FSTs for a new language, is there documentation that will help someone new to get started?

[2020-11-20 06:57] kristiank commented on #5
Hello Aaron, I am not sure what you mean with 'building FSTs for a new language' but I guess you mean the morphology. My MA-thesis developed a system that takes inflection tables as input and uses them as a model from which it automatically creates both the FSTs for the Giella framework and also source code for a morphology module for Grammatical Framework. This way the newly added language gets i

[2020-11-20 07:36] aaronfay commented on #5
Hi @kristiank ,

Yes, please bear with me; I am a language learner and a software engineer however I still lack the language regarding linguistics and these specific projects to speak coherently about my needs at this point.

I have the compiled normative generator and descriptive analyzer FSTs for one Indigenous language here in Canada, and would like to begin work on another (or several). Recogn

[2020-11-20 08:11] snomos commented on #5
Hello @aaronfay I am one of the architects behind the GiellaLT infrastructure. In addition to having a look at @kristiank 's frameworks and tools, there is also of course the possibility to work directly in the GiellaLT framework, by building lexicons and morphologies in lexc, and morphophonologies in either twolc or using xfst rewrite rules. The main reference documentation for these technologies

[2020-11-20 08:49] aaronfay commented on #5
Hello @snomos

Thank you for the details. I am in touch with Antti at the UofA and we are beginning to collaborate on some projects regarding languages in Canada. I may have jumped the gun reaching out to the project greater like this as I am still learning how all the pieces fit together, it seems that my time might be best spent understanding how to work with foma for the time being though if th

[2020-11-20 08:49] #5 closed

[2020-11-20 09:43] Trondtr commented on #5
Hello, @aaronfay , just to repeat @snomos ' point: The best infrastructure is the github setup github/giellalt/lang-xxx, and you are welcome to use that. Discussing with @aarppe is definitely a good idea. The 60 languages differ greatly from each other, if trying to decide between them is an issue, there are several factors you may give weight:

- communities you already are in contact with
- lang

[2020-11-20 12:00] kristiank commented on #5
@aaronfay the code is available [here](https://github.com/kristiank/MA-thesis) but it lacks documentation. The input file is the csv-table file [here](https://github.com/kristiank/MA-thesis/blob/master/data/wordforms.csv). On the first line of the table you can specify your own labels. Write to me on kristian (at) keeleleek (dot) ee and I will help get you started so you can see how the generated

[2020-11-20 15:28] ftyers commented on #5
Dear @aaronfay I would also add that there is an IRC chat for [HFST](https://app.element.io/#/room/#freenode_#hfst:matrix.org) on freenode, accessible through Matrix if you would like real time support -- we're also familiar with the Giella infrastructure and are enthusiastic about working with indigenous languages of the Americas.

[2020-12-17 11:38] albbas opened #6 "Error building gramchecker in sme"
./configure --enable-grammarchecker gives this error on my linux box:
[code]
To bypass it, I have to add option --disable-hfst-desktop-spellers to the configure line.

[2020-12-17 17:01] flammie commented on #6
this dir for me comes from rsync of giella-libs:
[code]
if giella-libs is not setup locallu like so, it may try to rsync from internet and fail, I ahd that problem in another bug somewhere...

[2021-01-07 09:39] snomos opened #7 "Change jspwiki/forrest docs to Markdown"
See test documentation and styling suggestions at https://giellalt.github.io.

[2021-01-07 09:43] snomos commented on #7
See also work here: https://github.com/giellalt/giella-core/issues/4.

[2021-03-16 15:24] albbas commented on #218
## Comment 14212
Date: 2021-03-16 16:24:55 +0100
From: @albbas

The github issue has been closed

[2021-03-16 15:24] #218 closed, assigned to albbas

[2021-03-26 11:27] snomos commented on #1
The `connect to https://5` thing has now been solved. And I have removed old MacVoikko and MozVoikko targets from the build. What is left for now are the LO oxt builds. They should now build without errors in all cases as long as there is an internet connection.

[2021-04-28 13:47] snomos commented on #4
This seems to work as it should, and have been for a while. Closed

[2021-04-28 13:47] #4 closed

[2021-04-28 13:49] snomos opened #8 "Add option --sort revlemma to devtools/lexc-giella-style.py"
The idea is to sort lexicon content on the lemma only, and from the end, ie reversed.

[2021-04-29 06:29] snomos opened #9 "Create list of MD pages automatically"
Presently all Markdown pages generated from doccomments are listed in the `Makefile.am/MD_PAGES` variable. This is error prone since the gawk scriopt will error out when nothing was found.

I suggest we scan all dirs & potential source files for doccomments, and build the list of files to include dynamically. This is less error prone/more robust, and makes for less maintenance burden.

[code]

sho

[2021-04-29 08:17] flammie commented on #9
I wonder if the error in awk was only added because forrest did not like empty files and can be removed too?

But in any case grepping etc. is good... another thing on todo list is that the generated doccomments -> markdown files should go back to gitignore probabl, we don't need commits of them any more.

[2021-04-29 08:23] snomos commented on #9
I think you are right about the error and Forrest.

And I agree wrt gitignore, but I was thinking that we should wait with adding them to gitignore until all languages are converted. Now that. I spell it out, I see that that thought does not hold - it is better to add to gitignore right away. Will do.

[2021-04-29 08:25] snomos commented on #9
This grep command gives a reasonable list:

[code]

At some point we should probably also add support for xfscripts, regexes and pmscripts. But for now this should be a good start.

[2021-04-29 08:42] #8 closed

[2021-04-29 16:48] flammie commented on #9
3f9a84084c6b0fc02663d16ca31bb064f4682e80 should do it but it also has potential to break things

[2021-04-29 20:04] Trondtr commented on #9
I seem to have been trapped in the middle, I get (here for sje, but for all lgs):

Making all in docs
make[2]: *** No rule to make target `adverbs.lexc-stems.md'.  Stop.
make[2]: *** No rule to make target `conjunctions.lexc-stems.md'.  Stop.
...
make[2]: *** No rule to make target `adpositions.lexc-stems.md'.  Stop.
make[2]: `root-morphology.md' is up to date.

So what to do??